[2017-11-29 15:12] #240 closed

[2017-11-29 15:13] alexandernutz commented on #240
the observed nondeterminism should be gone through the addition of hashCode implementatiosn mentioned above, so I closed this issue, feel free to reopen if you observe nondeterminism again.

[2017-12-01 17:31] #256 closed

[2017-12-07 14:10] danieldietsch opened #282 "Add parent pointers to ACSL AST"
For the Multiparse symboltable we want (need) parent pointers in ACSL ASTs. This allows us to dynamically look up the scope for quantifier expressions (similar to the dynamic scope lookup in IAST-based structures)

[2017-12-08 20:36] liammachado opened #283 "Ultimate throws syntax error when encountering "cexpr" attribute"
There is an issue I've been having with Ultimate Automizer on SMACK generated .bpl files (https://github.com/smackers/smack). Ultimate is currently throwing an "incorrect syntax" error when it encounters the "cexpr" attribute. This attribute appears a couple times in every SMACK .bpl file; for example, you can see this attribute show up on lines 122 and 128 of the .bpl file I've attached.

[sample

[2017-12-08 21:38] Heizmann commented on #283
The problem is that this occurs as an attribute of a call statement.
``call {:cexpr "smack:entry:main"} boogie_si_record_ref(main);``
This is not legal in Boogie. According to the [Boogie standard](https://www.microsoft.com/en-us/research/publication/this-is-boogie-2-2/) cannot have attributes.
We would have to change our Boogie parser and our Boogie AST.
This is doable. However it would be great

[2017-12-10 00:20] Heizmann commented on #228
I just tried the current version of Automizer on both C programs above and got SAFE as result.

This might mean that there is now an additional bug that hides the fact that we do not support signaling NaNs.

[2017-12-11 10:18] Breee commented on #228
This C program will produce the wrong result.

[code]
Output: error reachable
Expected: error unreachable (verified with GCC and CBMC)

`
We found a FailurePath:
[L89]               double x = 0.0 / 0.0;
         VAL          [x=NaN]
[L90] CALL, EXPR   fabs_double(x)
         VAL          [\old(x)=NaN]
[L53]                 unsigned int high;
         VAL          [\old(x)=NaN, x=NaN]
[L55]  FCALL

[2017-12-11 15:51] danieldietsch commented on #283
We have seen this issue with a number of other tools that generate Boogie input for us. Afaik, there is currently no real Boogie standard but rather some kind of string that is accepted by the Boogie tool. Boogie itself accepts attributes at call statements.
Afaik there is really no semantics to it, it is just an attribute. Although many tools use it to mark the entry point(s) to their programs.

[2017-12-11 16:10] danieldietsch opened #284 "Add support for ACSL \valid to specify validity of explicit memory accesses"
We want to be able to specify that certain explicit memory addresses are guaranteed to be valid without having been malloced before.

This is necessary to verify programs that use memory-mapped I/O, e.g., the trezor firmware.

One way of doing that is using the ``\valid`` construct from ACSL; its semantics are described in Section 2.7 "Pointers and physical addressing" in [ACSL 1.12](https://frama

[2017-12-11 22:09] liammachado commented on #283
Sounds good, thanks!

[2017-12-12 15:53] #143 closed

[2017-12-12 15:53] #147 closed

[2017-12-12 15:53] #24 closed

[2017-12-13 13:46] alexandernutz commented on #231
did not encounter non-termination recently, reopen in case..

[2017-12-13 13:46] #231 closed

[2017-12-13 14:00] alexandernutz opened #285 "VPDomain: implement more efficient closure strategy"
Observations:
 - the reduction rules ext and triangle are the most expensive ones to apply (Floyd-Warshall and "meet-with-gpa")
 - conjunctive operations (adding a constraint, meet) should commute with closure under the rules ext and triangle
  - only weakening operations, mainly join and projectAway (in some sense: comparison) are lossy, and thus do not commute.

Conclusion/plan:
 Only the operat

[2017-12-14 10:07] danieldietsch commented on #243
Initial support for ``@diff`` is now here. Better implementations should get their own ticket.

[2017-12-14 10:19] danieldietsch commented on #62
This is the intended behavior.

[2017-12-14 10:19] #62 closed

[2017-12-14 10:19] danieldietsch commented on #67
Was fixed during the last year.

[2017-12-14 10:19] #67 closed

[2017-12-14 10:22] danieldietsch commented on #155
Old-var support is now present in all domains

[2017-12-14 10:22] #155 closed

[2017-12-14 10:23] danieldietsch commented on #150
I think the various problems of this issue are resolved now. If not, please open another issue.

[2017-12-14 10:23] #150 closed

[2017-12-14 10:27] danieldietsch commented on #65
Was fixed some time ago.

[2017-12-14 10:27] #65 closed

[2017-12-14 11:03] #84 closed

[2017-12-14 11:05] danieldietsch commented on #80
For clarification: this issue is about predicate weakening.

[2017-12-14 11:06] greitsch commented on #84
The transformula support for all Abstract Interpretation domains has beein implemented in the form of the PoormanAbstractDomain. If there is another method needed, please open a new ticket (and maybe reference this one).

[2017-12-14 16:11] Heizmann commented on #243
New ticket not yet here, cannot close it.

[2017-12-15 22:43] Heizmann opened #286 "Webinterface does not show all results"
For Büchi Automizer the "old problem" with the webinterface that not all results are shown is still there.
E.g., if we have proven that a program is terminating there is only the "Termination proved" result. The result that gives information about the decomposition and the ranking functions is missing.

[2017-12-18 17:01] schillic opened #287 "Wrapping of several Boogie statements"
Consider a program with an undeclared function that returns a pointer. This statement is translated to a `havoc` followed by an `assume` for the domain constraint (the result must be in the pointer array according to our memory model). This is a problem in our fault localization approach because the assume can block an execution. However, the original statement never blocks.

What we would like to

[2017-12-23 07:53] danieldietsch commented on #287
We could do that by adding markers with attributes. One possibility is to allow attributes for all statements (perhaps already desired, see #283) and then add a ``block i`` attribute that says that a statement belongs to the i-th block of something.

We could do this right now by using attributes and ``assume true`` statetements that signal the beginning and the end of a block.

Another thing woul

[2017-12-24 00:16] Heizmann commented on #287
I think what we need is a mechanism that allows us to represent in Boogie which statements lie between two sequence points of a C program. This would solve problems for
* fault localization, and
* multithreaded programs.

I think that both solutions (``assume true`` with attributes and an ``atomic`` statement) would work. However, it seems to me that an explicit ``atomic`` statement is less error-

[2018-01-03 08:41] alexandernutz commented on #239
Closing this as I don't seem to use it anymore. Using #285 mostly. Plan is to open more specific tickets when they come up.

[2018-01-03 08:41] #239 closed

[2018-01-05 12:49] alexandernutz commented on #285
Modulo bugs this should work now. Freezing and only freezing closes a WeqCongruenceClosure under propagation rules ext and triangle. Freezing is only forced before lossy operations (join, project), and before isStrongerThan comparisons.

[2018-01-05 12:49] #285 closed

[2018-01-05 12:51] alexandernutz opened #288 "VPDomain: misc bugfixes"
There still are some bugs in VPDomain, for example sanityChecks are violated by many examples in memsafety, the heapseparator examples also trigger some violations.

[2018-01-05 12:55] alexandernutz opened #289 "VPDomain: caching/unification"
Implement some reasonable/useful degree of caching in VPDomain, in addition to the existing caching.

Approaches:
 - unification: cache the isStrongerThan relation, only allow one equivalent instance of a (Weq)CongruenceClosure
 - memoization: cache the results of operations, for example cache that reportEquality(a, b) on object cc1 returns object cc2

[2018-01-06 19:29] alexandernutz opened #290 "VPDomain: benchmarking"
Implement more benchmarking capabilities, for example to see which operations are most costly and how often they occur.

[2018-01-08 16:45] danieldietsch commented on #168
@greitsch  will rerun the example

[2018-01-12 14:13] danieldietsch opened #291 "IllegalArgumentException: ASTType is null"
Problem:
"IllegalArgumentException: ASTType is null" during translation.

 * Minimized input:
[ctrans-bug-min-IAE-asttype_is_null.c](https://github.com/ultimate-pa/ultimate/blob/dev/trunk/examples/CToBoogieTranslation/regression/ctrans-bug-min-IAE-asttype_is_null.c)
 * Settings: ``settings/default/automizer/svcomp-DerefFreeMemtrack-32bit-Automizer_Bitvector.epf``
 * Toolchain: ``toolchains/Checked

[2018-01-12 14:17] danieldietsch opened #292 "IllegalArgumentException: only call this for non-varlength array types"
Problem:
"IllegalArgumentException: only call this for non-varlength array types" during translation.

 * Minimized input:
[ctrans-bug-min-IAE-only-nonvarlength.c](https://github.com/ultimate-pa/ultimate/blob/dev/trunk/examples/CToBoogieTranslation/regression/ctrans-bug-min-IAE-only-nonvarlength.c)
 * Settings: ``settings/default/automizer/svcomp-DerefFreeMemtrack-32bit-Automizer_Bitvector.epf``

[2018-01-12 14:18] danieldietsch opened #293 "IllegalArgumentException: RValues cannot have array type"
Problem:
"IllegalArgumentException: RValues cannot have array type" during translation.

 * Minimized input:
[ctrans-bug-min-RValues-cannot-have-array-type-string-tertiary-op.c](https://github.com/ultimate-pa/ultimate/blob/dev/trunk/examples/CToBoogieTranslation/regression/ctrans-bug-min-RValues-cannot-have-array-type-string-tertiary-op.c)
 * Settings: ``settings/default/automizer/svcomp-DerefFree

[2018-01-12 14:22] danieldietsch opened #294 "TypeError due to multidimensional array to pointer cast"
Problem:
[code]
during preprocessing.

 * Minimized input:
[ctrans-bug-min-TE-multidim_char_array.c](https://github.com/ultimate-pa/ultimate/blob/dev/trunk/examples/CToBoogieTranslation/regression/ctrans-bug-min-TE-multidim_char_array.c)
 * Settings: ``settings/default/automizer/svcomp-DerefFreeMemtrack-32bit-Automizer_Bitvector.epf``
 * Toolchain: ``toolchains/AutomizerC.xml`` (or any toolchain w

[2018-01-12 21:32] alexandernutz opened #295 "HeapSeparator: Implement preprocessings, rework heap separation accordingly"
In order for the heap separator to make use of the map equality domain, and separate the heap-array, we need to apply a preprocessing to the input program.

Problem:
 To get a good separation result, we cannot simply analyze which values a pointer variable may have at any location in the program, but we want to know which values it could have at any heap-write that reaches the read-location.

We w

[2018-01-16 08:56] danieldietsch opened #296 "Fix Jenkins mails"
Jenkins should notify users about regression test failures.

The idea is that if there are test regressions in the nightly build, every commiter since the last nightly build should receive a ``Test Regression`` mail.

[2018-01-17 09:51] greitsch commented on #296
Both, the server and Jenkins are able to send mails. I don't know what the problem is.

[2018-01-17 09:58] greitsch opened #297 "Jenkins Error for Distress"
During an update, Jenkins complains about unreadable data associated to the Distress project:

ConversionException: Refusing to unmarshal parsedVersion for security reasons; see https://jenkins.io/redirect/class-filter/ ---- Debugging information ---- class : org.apache.maven.artifact.versioning.DefaultArtifactVersion required-type : org.apache.maven.artifact.versioning.DefaultArtifactVersion conv

[2018-01-17 10:10] greitsch commented on #296
Tested in builds 28d396fba548b993f8a5c261860f7342ada06984 and 25327ba9f53dc1673ba0565aa311eb80cb11711c . Mails were sent.

[2018-01-17 10:11] danieldietsch commented on #296
The problem is not yet fixed

[2018-01-17 10:12] danieldietsch commented on #297
Data can be discarded without issue.

[2018-01-17 10:12] #297 closed

[2018-01-18 17:59] alexandernutz commented on #211
Should be dealt with by either of the preprocessings (and adapted heap separations) from #295 (freeze var style or memloc array style).

[2018-01-18 17:59] #211 closed

[2018-01-22 20:55] invd opened #298 "Type Error: [...] ULTIMATE.init must not modify #length"
Problem:
`Type Error: Procedure #Ultimate.alloc may modify #length procedure ULTIMATE.init must not modify #length. CallStatement[false,[VariableLHS[#t~string0,null]],#Ultimate.alloc,[BitvecLiteral[261,32]]] calls #Ultimate.alloc. Modifies not transitive`
during translation.

- Minified input:
[ctrans-bug-min-TE-static-const-uint8_t.c](https://github.com/ultimate-pa/ultimate/blob/dev/trunk/example

[2018-01-22 20:57] invd opened #299 "NullPointerException: null: java.util.ArrayDeque.<init>(ArrayDeque.java:217)"
Problem:
`- ExceptionOrErrorResult: NullPointerException: null
    de.uni_freiburg.informatik.ultimate.plugins.generator.cacsl2boogietranslator: NullPointerException: null: java.util.ArrayDeque.<init>(ArrayDeque.java:217)`
during translation.

- Minified input:
[ctrans-bug-min-TE-emptyarray-nullpointer-arraydeque.c](https://github.com/ultimate-pa/ultimate/blob/dev/trunk/examples/CToBoogieTranslati

[2018-01-23 15:18] alexandernutz commented on #299
We have at least two issues with this code:
 - zero-length array
 - empty initializer

zero-length (fixed size) arrays are a gcc feature:
https://gcc.gnu.org/onlinedocs/gcc/Zero-Length.html
 so we should support them. (todo..)

Question:
should we support empty initializers? gcc does not accept them when called with the --pedantic switch.
@invd  : is the empty initializer perhaps an artifact from

[2018-01-23 15:53] alexandernutz commented on #298
just some documentation:
 - I am gettion an AssertionError in Array ("not outermost"...)
 - a one-dimensional array with a pointer inside is accessed through a two-dimensional access

todos:
 - trigger to move the array on heap
 - make the array access translation tolerant for that case.

[2018-01-23 16:14] invd commented on #299
@alexandernutz: this behavior was found during manual minimization of issue #298.
This specific type of error does not occur in Ultimate when run against the original target code and is therefore not directly relevant to our ability to verify the original code, unlike issue #298.

I agree that this is a special edge case and that the code does not fully conform to the C standard(s) and is therefor

[2018-01-25 09:10] danieldietsch commented on #296
It seems that my config change fixed this.

[2018-01-25 09:10] #296 closed

[2018-01-27 15:34] alexandernutz opened #300 "more expressive toString() implementation for Summary"
current state:
		return "SUMMARY";

For ease of debugging I would propose for example
		return "SUMMARY " + mPrettyPrintedStatements;

this will print the call statement

advantages:
 - one can tell different Summary objects appart in a set
 - somewhat consisten with other CodeBlock's toString() (which prints the statements of the CodeBlock)

any objections?

[2018-01-27 20:56] Heizmann commented on #300
Maybe let's use
``"SUMMARY  for " + mPrettyPrintedStatements``

In order to reduce ambiguity it might be helpful to also include the location before the corresponding return.

[2018-01-27 21:35] alexandernutz commented on #300
thanks for the suggestion,
hm, there is not always a corresponding return (if the method has no implementation) what should we add then?
(actually I only read your suggestion well enough after doing the commit, sorry)
I went for
		return "SUMMARY for " + mPrettyPrintedStatements + " srcloc: " + mSource;
for now.
I can change it again if anyone wants further improvements

[2018-02-05 13:18] #300 closed

[2018-02-05 13:25] alexandernutz opened #302 "Ultimate keeps write-lock on files after crashing on type errors"
to reproduce:
 - open a  Boogie program (.bpl file) with type errors in Ulitmate's debug GUI with any toolchain
 - after the crash on a type error but while the GUI is still running try to change the file (e.g. correct the type error)

The editor (in my case Gvim) complains that the file is locked by another program.

(this does not happen when an Ulitmate run terminates normally.)

[2018-02-05 16:54] alexandernutz commented on #197
closing in favour of the more specific #295

[2018-02-05 16:54] #197 closed

[2018-02-06 22:37] invd opened #303 "Results are incorrectly marked with [Line: 1]"
During verification of C files **with** and **without** gcc-provided '#line' directives, many cases of incorrect "[Line: 1]" result outputs have been observed by me and verified by @danieldietsch and @jhoenicke.
As it has been suggested that this behavior could be triggered by more than one specific bug, this ticket is dedicated to the general "Line: 1" error pattern.

In my understanding, Ultimat

[2018-02-07 09:44] danieldietsch commented on #302
This seems a deeper problem: the JavaCup implementation we use does not close the stream when it encounters an error during parsing. As long as the parser instance is not garbage collected, the file will not be released.
A workaround is to force the garbage collection the core, but it would be cleaner if the parsers would close their input streams when they die.

[2018-02-12 14:47] alexandernutz opened #304 "BoogieType vs InferredType"
(I thought there was an issue related to InferredType already but cannot find it)

We want as much Boogie type checking as we can get already during C to Boogie translation; right now, many Boogie type errors are only detected by the BoogiePreprocessor.

However the class that was designed for this, InferredType, has not been maintained and is in poor condition.

BoogieType would be much more adeq

[2018-02-12 14:57] Heizmann commented on #304
Good idea.
I think a "BoogieType" packge in Library-BoogieAST would be a good place.

[2018-02-12 16:09] danieldietsch commented on #304
I agree

[2018-02-12 16:43] alexandernutz commented on #304
thanks for the quick answers! This issue will be closed by one of my still unpushed commits.

[2018-02-13 09:52] alexandernutz opened #305 "ExpressionFactory Roadmap"
State of the ExpressionFactory:
 - inherits from BoogieTransformer, which is a "class to recursively walk through a Boogie tree, doing transformations.", according to the comments.
 - contains only static methods that mostly follow the pattern "construct and return an expression given some subexpressions"

Alleged purpose of the ExpressionFactory (please correct me if I am wrong):
 Build Boogie Ex

[2018-02-13 11:28] danieldietsch commented on #305
After looking at the class I would say:
  * It should not inherit from ``BoogieTransformer`` -- it does not use any of the super methods
  * Its purpose is to perform some simplifications on Boogie expressions
  * We should use it in more places, i.e., it should stay where it is.
  * It should not report results by itself, but rather throw some kind of type checking exception
  * The methods shoul

[2018-02-13 13:36] Heizmann commented on #305
I mainly agree with Daniel but want to add that it should *not* do major simplifications and I am sceptical if the result reporting wrapper is necessary.
The *type checking exception* will only be thrown if an Ultimate programmer did a mistake. This class should not be used to type check user input.

The question whether the methods can stay static is however more difficult. Do we want to support

[2018-02-13 13:48] Heizmann commented on #305
One more comment.
I think we should not use this class for user provided Boogie programs since we do not have a backtranslation for these optimizations.

[2018-02-13 14:14] alexandernutz commented on #305
I like Option 1. Currently BoogieType's descendants do not contain a named type anyway.
(In case you are wondering: BoogieASTType does have named types, but that is only used during parsing.)

If some day I should add an argument at the call sites of the ExpressionFactory methods, I would prefer it to be something extensible (we sometimes use the MainDispatcher for handing a link to all Handlers s

[2018-02-14 14:42] alexandernutz commented on #303
could you point to one or more example files where this happens?

[2018-02-17 11:57] invd commented on #303
@alexandernutz: I have prepared a minified example:
[code]

This will produce a CounterExampleResult in under 10 seconds:
[code]

Toolchain: _releaseScripts/default/UAutomizer-linux/config/AutomizerMemDerefMemtrack.xml_

Settings tested:
* _trunk/examples/settings/default/automizer/svcomp-DerefFreeMemtrack-32bit-Automizer_Bitvector.epf_
* _trunk/examples/settings/default/automizer/svcomp-DerefFree

[2018-02-17 12:34] alexandernutz commented on #303
looks great, thanks!
I am currently changing the C translation in many places (branch wip/nutz/expressionfactory), I'll try to come up with something that can be merged back very soon. Then I'll look into the problem (if it persists..).

[2018-02-17 13:27] invd opened #306 "Soundness issue for printf(), fprintf(), sprintf() parameters"
Ultimate ignores operations in **printf()** statements which results in severe false negatives for error detection:

[code]
[code]
This issue has been discussed with and verified by @danieldietsch  and @jhoenicke.

Notably, the array read operations in line 11 and line 13 are not even considered as a potential error location. If the array write operation in line 10 is omitted, the Ultimate debug o

[2018-02-17 14:23] alexandernutz commented on #306
thanks for the examples!
Should you some time want to make more: you can also put them into our examples-folder
 something like
trunk/examples/CToBoogieTranslation .. and then some subfolder of your choice..

[2018-02-17 19:11] invd opened #307 "Soundness issue for char conversion"
Ultimate does not correctly handle char conversions of string literals correctly which results in severe false negatives for error detection or complete loss of soundness for the verification. This issue has been discussed with discussed with @danieldietsch and @jhoenicke.

[soundness_char_conversion_1.c](https://github.com/ultimate-pa/ultimate/blob/dev/trunk/examples/CToBoogieTranslation/trezor/s

[2018-02-19 13:58] invd commented on #303
In addition to results incorrectly marked with ```[Line: 1]```, there have been a few occurrences of results attributed to ```[Line: -1]```, which is more consistent, but still not very helpful, and also hints at related coding errors in Ultimate.

I have been successful in tracking down and minimizing one of the relevant code positions generating both the  **Line 1** as well as the **Line -1** st

[2018-02-20 00:36] invd opened #308 "Performance issue with memset() and memcpy() for large arrays"
During recent analysis of Ultimate runtime performance against parts of the Trezor codebase, slow to very slow (several hours to several dozen hours) verification of comparably simple programs has been observed for reasonable and optimized toolchain/setting parameters.

In discussion with @danieldietsch and @jhoenicke, it has been suggested that this is due to Ultimates slow initialization / handl

[2018-02-21 14:15] #304 closed

[2018-02-22 14:42] alexandernutz commented on #305
(just documenting the current state, no questions, so no need to read this if you're in a hurry)

I merged back the branch wip/nutz/expressionfactory yesterday.
Current state with respect to this ticket:
 - for every subtype of Expression, one should not use a constructor for creating an instance, but instead use the corresponding method in ExpressionFactory
 - these methods do not take a BoogieTy

[2018-02-24 11:12] alexandernutz commented on #298
seems  to work now

[2018-02-24 11:12] #298 closed

[2018-02-26 10:02] #299 closed

[2018-02-26 10:33] #294 closed

[2018-02-26 13:50] invd commented on #293
@alexandernutz: unfortunately, this issue does not seem completely solved to me for the provided example code.

Error output with a freshly built Ultimate 0.1.23-bf6525c and AutomizerMemDerefMemtrack.xml + svcomp-DerefFreeMemtrack-32bit-Automizer_Default.epf settings:
[code]

When running said Ultimate configuration on the original, non-minified program:
[code]

Is it reasonable to reopen this iss

[2018-02-26 13:59] alexandernutz commented on #293
huh.. well, seems like a fix for something else broke this fix -- I'll look into it.

[2018-02-26 14:13] #293 closed

[2018-02-26 14:24] invd commented on #293
I can confirm that 0.1.23-626ba71 solves the "TypeCheckException: Type mismatch" issue.

The original program with 5000+ lines of code still throws the "AssertionError: implement if needed" exception, but I suspect this is not directly related to this issue, and I will bring it up in a separate ticket.

[2018-02-26 14:28] alexandernutz commented on #293
..great! minimized programs are nice, also for documentation and regressions. -- if minimization is hard however, and the problem is reproducible in reasonable time, you can also link a bigger program in an issue, or do a partial minimization only..

[2018-02-26 14:30] #292 closed

[2018-02-26 14:34] alexandernutz commented on #274
Seems like we translate this correctly now. (probably treatment of conditional operator was the problem.)

[2018-02-26 14:34] #274 closed

[2018-02-26 14:36] alexandernutz commented on #61
Solved some time ago by the introduction of TypeHandler.areMatchingTypes(), and using it instead of CType.equals() for comparison of two CTypes.

[2018-02-26 14:36] #61 closed

[2018-02-26 15:02] danieldietsch commented on #303
@invd : my latest change fixed your example. If you like you can try to re-run, I am still waiting on regressions.

[2018-02-26 15:27] invd commented on #292
I can confirm that 0.1.23-c168100 no longer has issues for ctrans-bug-min-IAE-only-nonvarlength.c when run with AutomizerMemDerefMemtrack.xml + svcomp-DerefFreeMemtrack-32bit-Automizer_Default.epf.

[2018-02-26 15:31] invd commented on #294
I can confirm that 0.1.23-c168100 **no longer shows issues** for the minified example code.

Test settings:
*  AutomizerMemDerefMemtrack.xml
* svcomp-DerefFreeMemtrack-32bit-Automizer_Default.epf

[2018-02-26 15:43] invd commented on #291
Unfortunately, there appears to be a regression for this issue for the newest Ultimate 0.1.23-c168100:

[code]

Test settings:
* AutomizerMemDerefMemtrack.xml
* svcomp-DerefFreeMemtrack-32bit-Automizer_Default.epf

[2018-02-26 15:50] invd commented on #298
I can confirm that this issue is solved with Ultimate 0.1.23-c168100 for the following settings:
* AutomizerMemDerefMemtrack.xml
* svcomp-DerefFreeMemtrack-32bit-Automizer_Default.epf as well as  svcomp-DerefFreeMemtrack-32bit-Automizer_Bitvector.epf

As a side note, Ultimate is still not able to fully verify the minimal example program due to overapproximations, but this was to be expected:
[code

[2018-02-26 15:52] #58 closed

[2018-02-26 15:58] #291 closed

[2018-02-26 15:59] alexandernutz commented on #291
thanks for double-checking! -- now I ran _both_ conditional operator examples, so I hope I got them both, finally..

[2018-02-26 16:18] invd commented on #303
@danieldietsch: there appears to be a regression for ```trunk/examples/CToBoogieTranslation/trezor/memset_example_9.c```
[code]
Settings:
* AutomizerMemDerefMemtrack.xml
* svcomp-DerefFreeMemtrack-32bit-Automizer_Default.epf

The first code example ```trunk/examples/CToBoogieTranslation/trezor/303-incorrectly_marked_w_line1_01.c``` runs fine and shows that "Line"-markings have indeed improved dras

[2018-02-26 16:22] invd commented on #291
I can confirm that the "AssertionError: unexpected case" is fixed for Ultimate 0.1.23-277cfe1. Thanks!

[2018-02-26 18:05] invd opened #309 "IllegalArgumentException: RValue BoogieType incompatible with its CType"
During recent changes, the following regression has been introduced:

[code]

* 0.1.23-277cfe1 and 0.1.23-fb1c4d9 are known to be affected
* 0.1.23-97ca168 from last week was not affected

Settings:
* AutomizerMemDerefMemtrack.xml
* svcomp-DerefFreeMemtrack-32bit-Automizer_Default.epf

The affected program is large, but the error appears in connection with the following code excerpt when ```bmp_lo

[2018-02-26 18:23] invd opened #310 "Impossible variable values in FailurePath"
Ultimate provides impossible value assignments for certain FailurePath couterexamples.

bmp is of type BITMAP, which is defined to have uint8_t width and height:
[code]

Ultimate now  falsely claims ```bmp->width``` to be of the concrete value **-255**, which is clearly outside of the general range for the uint8_t type and therefore not a valid counterexample:
[code]

During discussion, @danieldie

[2018-02-27 07:29] danieldietsch commented on #303
@invd : Indeed there were regressions, but not in the file you referenced. I think this ticket should be fine for now.

[2018-02-27 07:29] #303 closed

[2018-02-27 07:32] danieldietsch commented on #282
@buehlery : Do we still need these parent pointers? Or can we close the ticket and use the current solution?

[2018-02-27 09:43] buehlery commented on #282
@danieldietsch : They are no longer needed, the problem was solved by storing a C-AST node which acts as the parent of the currently dispatched ACSL node(s).

[2018-02-27 11:51] danieldietsch commented on #282
Optimal!

[2018-02-27 11:51] #282 closed

[2018-02-27 13:01] #68 closed

[2018-02-27 13:16] invd commented on #309
@alexandernutz: the example file you created does in fact work and also closes the issue for the original program.

[2018-02-27 13:29] invd opened #311 "Regressions: AssertionError getBoogieTypeForCType, ClassCastException CNamed cast"
This is another regression introduced during recent code changes and it prevents Ultimate from running on the Trezor codebase.

[code]

Another regression on a modified version of the program in question:
[code]

known to be affected: Ultimate 0.1.23-79e0a14
versions  without the regression:
* Ultimate 0.1.23-bc1c7a9 (first error)
* Ultimate 0.1.23-99a7257 (second error)

Settings:
* AutomizerMemD

[2018-02-27 13:33] invd commented on #303
I can confirm that newer versions no longer show the TypeCheckException, and that I have not seen "Line 1" markings so far. I will check some larger programs once some of the other regressions are ironed out.

[2018-02-27 15:57] alexandernutz commented on #311
this might be easily fixable, but I will need a code snippet, or a file or something like that to locate the error

[2018-02-27 16:24] invd commented on #311
@alexandernutz: I will provide examples where possible, but that takes time.

Minimized example for the ClassCastException:
[ctrans-ClassCastException-CNamed-Cprimitive.c](https://github.com/ultimate-pa/ultimate/blob/dev/trunk/examples/CToBoogieTranslation/trezor/ctrans-ClassCastException-CNamed-Cprimitive.c)
[code]

[2018-02-27 16:53] invd commented on #311
@alexandernutz: the following example triggers the AssertionError:
[ctrans-ClassCastException-CNamed-Cprimitive.c](https://github.com/ultimate-pa/ultimate/blob/dev/trunk/examples/CToBoogieTranslation/trezor/ctrans-ClassCastException-CNamed-Cprimitive.c)

[code]

Note, however, that gcc is not happy with this example: ```undefined reference to `rcc_periph_clock_enable'```.  Please treat this exampl

[2018-02-27 17:12] alexandernutz commented on #311
cool -- thanks!

It's not that important that they are minimized. I can try to fix it so it compiles..

[2018-02-27 17:23] #311 closed

[2018-02-27 17:26] alexandernutz commented on #305
After some more debugging the changes outlined above should be implemented and e.g. Boogie type checking during translation should work. --> closing this

[2018-02-27 17:26] #305 closed

[2018-02-27 17:50] invd commented on #311
With Ultimate 0.1.23-49c3f53, both regressions appear to be solved for the examples as well as the original code files. Good work!

[2018-02-27 19:33] invd opened #312 "NullPointerException: CHandler.visit()"
This recently introduced regression is encountered upon running the preprocessed version of [soundness_fprintf_2.c](https://github.com/ultimate-pa/ultimate/blob/dev/trunk/examples/CToBoogieTranslation/trezor/soundness_fprintf_2.c), which is one of the error examples from ticket #306.

[code]

Versions affected: including Ultimate 0.1.23-49c3f53

Settings:
* AutomizerMemDerefMemtrack.xml
* svcomp-D

[2018-02-27 19:34] invd commented on #306
While the printf() code still returns a ```RESULT: Ultimate proved your program to be correct!```, the (preprocessed) sprintf example is correctly identified as problematic for the current Ultimate versions, which is definitely a step in the right direction:
[code]

Unfortunately, the fprintf() example triggers another regression as outlined in #312.

[2018-02-27 19:56] invd opened #313 "Soundness issue for out of bounds array access"
A recent change appears to break Ultimate's ability to check for out of bounds accesses in programs such as the following:

[memset_example_10.c](https://github.com/ultimate-pa/ultimate/blob/dev/trunk/examples/CToBoogieTranslation/trezor/memset_example_10.c)
[code]

Relevant output:
[code]

This is likely a regression that was introduced today and is easily revertible.

Version affected: Ultimate

[2018-02-27 20:49] invd commented on #303
As some of the regressions are already fixed, I was able to run Ultimate over one of the original programs that prompted this issue.

The line markings now look much more reasonable:
[code]
Some notes:
The concentration on line 2509 is explained in #308.

The "UnprovableResult" pointer dereference in line 1956 is this line of code:
```(*(volatile uint32_t *)((((0xE0000000U) + 0xE000) + 0x0D00) + 0

[2018-02-28 12:33] danieldietsch commented on #308
One part of this issue should be addressed by 277cfe1: We now use a unchecked write function during initialization of global arrays.

[2018-02-28 12:38] danieldietsch commented on #312
We do not support streams at the moment, so ``fprintf`` is also not supported, except as uninterpreted function.

The example in its current form dies because we cannot resolve the FILE type. It seems that it is no longer a NPE.

[2018-02-28 12:55] danieldietsch commented on #313
Cannot reproduce, issue not present anymore.

[2018-02-28 12:55] #313 closed

[2018-02-28 12:59] danieldietsch commented on #306
``printf`` should be fixed by 05c55e3, ``sprintf`` can be fixed either with full support or just as uninterpreted function (@alexandernutz , thoughts?), and ``fprintf`` will not be supported for quite some time.

@invd  can you add an ``fprintf`` example with the declarations for ``FILE`` (see also #312 )?

[2018-02-28 13:40] invd commented on #313
I have picked the wrong settings, which had no array access checks. Therefore, this issue is invalid and should be ignored.

[2018-03-02 13:45] invd opened #314 "ULTIMATE.init() has misordered boogie statements - access unallocated memory"
_Preamble: this issue has already been fixed by 3b29639a1ec1eb9912cc9b1222ebf27846c9b0f5 and is meant for documentation purposes._

During the work on ticket #298, it had come to my attention that Ultimate still had issues verifying the relevant string access.
When looking at the relevant boogie intermediate code together, @danieldietsch  and @jhoenicke spotted an error in the generation of the Ul

[2018-03-02 13:46] invd commented on #314
This was fixed by 3b29639a1ec1eb9912cc9b1222ebf27846c9b0f5, see comments above.

[2018-03-02 13:46] #314 closed

[2018-03-02 13:48] invd commented on #298
The underlying issue for the UnprovableResult has been found and fixed.
Ultimate 0.1.23-2874c22 is now able to verify the program:
[code]

[2018-03-02 14:07] invd opened #315 "Soundness issue: incorrect Bitvector pointer check in boogie code"
_Preamble: this issue has already been fixed by 88de9ccc7151c288470568a1c1457b56aafdda0d and is meant for documentation purposes._

After finding the boogie issue #314, @danieldietsch  and @jhoenicke spotted another error for pointer check employed for the boogie code produced by the Bitvector model:

[code]

Due to the addition, ```#sizeOfReadType + #ptr!offset``` can overflow the 32bit int point

[2018-03-02 14:08] invd commented on #315
fixed as described above.

[2018-03-02 14:08] #315 closed

[2018-03-02 15:08] invd opened #316 "Soundness issue: memory access for strings containing string literals"
In the program referenced in issue #298, a string-like structure is used to store a number of uint8_t elements representing a public key, which are given in the ascii-printable hexadecimal string literal format. Regular C programs treat those string literals as single-byte elements in memory, plus one terminating nullbyte for the string.
To demonstrate this:
`strlen("\x42")` == **1**
`sizeof("\x42

[2018-03-02 15:11] danieldietsch commented on #316
@Heizmann this is also related to #307

[2018-03-02 15:50] invd opened #317 "Encode and enforce read-only markings in memory handling"
This ticket is opened on behalf of @jhoenicke, who has suggested it during the last meeting.

To my knowledge, Ultimate currently has no concept of memory areas which are supposed to be treated as read-only, and @jhoenicke is proposing to encode this information in some sort, eg. in an extended **valid** flag as well as matching checks on write operations.

Motivation: this feature is required for

[2018-03-02 18:33] invd opened #318 "Verbose Elim1Store output"
In recent versions of Ultimate, "Elim1Store" **INFO** output can be very verbose, repeating every few milliseconds:
[code]
For some runs, this adds up to over half a million lines (!) of such output in the corresponding logfile.

[2018-03-02 21:31] Heizmann commented on #318
Is it very helpful for you if this output is reduced?
How many runs are effected in you project (10%, 50%, 90%)
I am still working on this quantifier elimination and I need the output for the further development. There are several issues here, the output is only a symptom.

[2018-03-04 13:11] invd commented on #318
I have not done a wide range of runs in the last week. The smaller programs directly related to the open issues are not affected, but at least one program relevant to the project is. This verbosity bloats the logfile and likely slows down verification as well. I have aborted the relevant run after two dozen hours of runtime.

[2018-03-04 13:14] schillic commented on #318
What @Heizmann wants to say: If the output is removed, the analysis will still not run considerably faster. You will just not see any output anymore, but in the background it will run into the same bottlenecks.

[2018-03-04 13:32] invd commented on #318
I'ld argue that having a logfile that is easier to read by users / developers as well as less requiring significant less space on disk is already an improvement. I understand that for the current desired logging verbosity, logfiles with sizes in the order of 10-50MB are acceptable and verbose logging is helpful during development, for example for FailurePath counterexamples. The `Elim1Store` are h

[2018-03-04 13:48] danieldietsch commented on #318
One fix would be logging that line only when assertions are enabled.

[2018-03-04 17:55] Heizmann commented on #318
I think (might be wrong) that if you get that amount of log messages we run into a problem and there is no chance that we will verify your program.
The code that is run is work in progress. A clean logging output gives users the wrong impression that everything is fine and that their verification problem is just too difficult.
But we can hide the logging output behind a boolean flag that we call U

[2018-03-04 22:05] #307 closed

[2018-03-05 10:38] invd commented on #307
I can confirm that the new Ultimate 0.1.23-1b9f635 handles char conversions better and finds the out of bounds issue:

for [soundness_char_conversion_1.c](https://github.com/ultimate-pa/ultimate/blob/dev/trunk/examples/CToBoogieTranslation/trezor/soundness_char_conversion_1.c):
[code]

It also no longer allows the `ic` variable in [soundness_char_conversion_2.c](https://github.com/ultimate-pa/ulti

[2018-03-05 10:51] invd commented on #318
Some statistics: for the last verification run I made with Ultimate 0.1.23-521b054, which I canceled after about 20 hours of runtime, 684807 lines of log output were produced.
Of those, grep reports the following distribution for lines containing strings of the pattern `Elim\w+`:
[code]
It seems possible to me that Ultimate does indeed run into an "endless loop" kind of situation here. I can try t

[2018-03-05 10:57] invd commented on #299
@alexandernutz: the Jenkins test system on monteverdi still counts the current "Incorrect Syntax" exception on the regression program mentioned above as a [failure](https://monteverdi.informatik.uni-freiburg.de/ci/job/Ultimate%20Nightly/lastBuild/de.uni_freiburg.informatik.ultimate$de.uni_freiburg.informatik.ultimate.regressiontest/testReport/de.uni_freiburg.informatik.ultimate.regressiontest.tran

[2018-03-05 12:10] danieldietsch commented on #318
@Heizmann : What about having it only with assertions? Set the static flag based on the VMUtils method and it should be good. The output doesnt help "in the wild", right?

[2018-03-06 00:37] Heizmann commented on #318
@danieldietsch No. Won't help. Sometimes I have to run it without assertions.

[2018-03-06 08:27] danieldietsch opened #319 "Dumped SMT Scripts are overwritten if "stop after first violation" is set"
The name of the dumped file seems to contain no reference to the name of the error location, only to the file and the iteration.

  * Ex. input file name ``20180205-DirectionIndicator-BCM_formalized_requirements_v002_simpler.req``
  * Ex. dumped file name ``Script_20180205-DirectionIndicator-BCM_formalized_requirements_v002_simpler.req_Iteration20180205-DirectionIndicator-BCM_formalized_requiremen

[2018-03-06 11:38] chkl opened #320 "Problem with running Ultimate Automizer / Taipan (Unresolved requirement: Require Bundle...)"
Hi everyone,

first of all congratulations for your success at SV-COMP.  I am currently trying to use Ultimate Automizer but I can't get it to work. I am not sure if this issue tracker is the right place to ask for help. In case it is, here is a description of the problem I have encountered.

1.  I downloaded  & unzipped the latest UTaipan release from your Releases page
2. When I run
`./Ultimate.

[2018-03-06 11:41] schillic commented on #320
Not sure if this helps, but Taipan != Automizer.

[2018-03-06 11:42] chkl commented on #320
Probably I should have mentioned that I tried Automizer and UTaipan and the errors are the same. The output above is indeed from UTaipan

[2018-03-06 12:50] danieldietsch commented on #320
Hi @chkl , yes, this is definitely the right place to ask. On what system do you run Ultimate?

[2018-03-06 12:51] chkl commented on #320
I'm running on Archlinux.
[code]

[2018-03-06 12:54] danieldietsch commented on #320
Ah ok, I now also see it in the log:
``java.version=1.7.0_171``
You need Java 1.8

[2018-03-06 12:58] chkl commented on #320
[code]

[2018-03-06 13:00] chkl commented on #320
[code]

[2018-03-06 13:19] danieldietsch commented on #320
With the current version, it can happen that Ultimate pollutes its own data and config directories after a start with the wrong java version and then crashes in subsequent starts.
Could you try to delete the current Ultimate folder and use a fresh one from the .zip?

[2018-03-06 13:23] chkl commented on #320
Starting from a freshly unzipped folder fixed it for me. Thank you very much! And sorry for bothering.

[2018-03-06 13:32] danieldietsch commented on #320
No problem! I mean, we should probably fix the config-self-destruction ;)

[2018-03-06 16:53] invd commented on #309
Unfortunately, I have found that other versions of the original program still trigger this exact IllegalArgumentException with todays Ultimate 0.1.23-6f35ba1 and identical settings, so it appears that this bug is not comprehensively fixed.

I will update this ticket with further information and likely an example file at the end of the week.

[2018-03-06 22:44] Heizmann commented on #320
We should add a new TaskIdentifier for the specification that is checked.

[2018-03-06 22:51] Heizmann commented on #319
We should add a new [TaskIdentifier](https://github.com/ultimate-pa/ultimate/blob/3ecea22422d1e6998bc2f94d945ef1a5d84f1c01/trunk/source/Library-ModelCheckerUtils/src/de/uni_freiburg/informatik/ultimate/modelcheckerutils/taskidentifier/TaskIdentifier.java) for the specification that is checked.

Open questions.
* Use String or use richer data structure that autogenerates the string?
* General Speci

[2018-03-06 22:51] #320 closed

[2018-03-06 22:52] Heizmann commented on #320
Sorry, I posted a comment to the wrong issue.

[2018-03-06 23:09] Heizmann commented on #318
@invd You could comment this line and check if this helps.
If there is one more verification task that can be solved (or even a few more iterations for some verification task), I am definitely eager to change something
If you can send me an example, this could help. But I will not be able to work on the code soon.

[2018-03-07 06:33] danieldietsch commented on #319
I already added something in that direction in 77b9967 and 85e1a7bf -- I need it now, but I am also ok with changing it.

Further down I would like to convert ``Check`` to an attribute and also write it out when printing Boogie (idea: annotations can be converted to boogie attributes).

[2018-03-07 10:03] Heizmann commented on #319
Regarding TaskIdentifier.
Then let me take care of that.

Regarding Check:
We cannot write Boogie attributes at each location. But if it is sufficient to write them at assert statements this might work.

[2018-03-09 10:52] invd opened #321 "Runtime slowdown accross similar programs"
_Note: feel free to add the appropriate labels._

During recent tests on supersets of the program parts referred to in other issues such as #309 and #318, it has come to my attention that the following program can only be verified in reasonable time (**~6 minutes**) if the functions `oledDrawPixel` and `oledClearPixel` are not included, while taking over **4 hours** if they are:

[partialmain_bmp_

[2018-03-09 11:15] invd commented on #318
@Heizmann: which "this line" are you referring to?

I have not been able to pinpoint the Elim1Store-issue to a short program yet. Minified versions of the original program exhibiting this output do not show comparable logging and runtime behavior. If I don't find a shorter variant, I'll upload the original, as discussed with @danieldietsch and @jhoenicke.

[2018-03-09 11:36] invd opened #322 "Ultimate does not support u'' and U'' type unicode chars and strings"
_Note: please add the appropriate labels such as feature/enhancement_.

Newer C standards are able to handle 16-bit and 32-bit unicode characters and strings. The following is valid with `gcc --pedantic`:
[code]

Ultimate, however, is not able to model this kind of string yet:
[code]

This is relevant to the trezor verification as 16-bit strings are used in at least two instances, see [winusb_defs

[2018-03-09 12:42] danieldietsch opened #323 "Improve "stop after first violation" behavior"
If "stop after first violation" is false, we currently check each error location in a separate trace abstraction run.

We can be faster if we start with checking all assertions and keep checking as long as none is violated.
If one is violated, we could do one of the following.
 * Remember which assertions are safe and which are unsafe, generate results for them, restart trace abstraction with the

[2018-03-09 12:45] danieldietsch opened #324 "Implement user-defined limit for analysis of single error location"
If we run with ``stop after first violation=false`` we want to be able to skip assertions for which we take too much time but keep results.

We already have the ``TRACE_HISTOGRAMM_BAILOUT `` flag.

The user should be able to specify a limit for
 * Tracehistogram
 * Number of analysis attempts for a single path program
 * Time
that can be applied to the analysis of one error location.
If the limit

[2018-03-09 15:01] invd commented on #324
Some background: this feature is partially motivated by current runs against Trezor code fragments that take multiple hours or days, severely limiting Ulimate's usefulness in these cases.

In one example, Ultimate currently runs over **70 hours** on a reasonably powerful system against a program that shares many parts with another version which is processable in about 6 minutes, and it is assumed

[2018-03-09 15:06] invd commented on #323
Some of the practical motivations for this feature are outlined in #324. Particularly the long runtimes over comparably simple programs with more than one likely error location have proven to be an issue for practical verification tasks with the Trezor codebase.

[2018-03-09 15:07] danieldietsch commented on #324
@invd : if you see runs that spent a long time in solver queries and use different assertion orders, it might be good to test the ``*-AM`` variant of the strategy that you are using.

[2018-03-09 15:44] invd opened #325 "UnsupportedSyntaxResult: Unsupported Syntax"
Ultimate has issues with this minified example taken from the trezor-mcu codebase:
[ctrans-unsupported-syntax-enum-struct.c](https://github.com/ultimate-pa/ultimate/blob/dev/trunk/examples/CToBoogieTranslation/trezor/ctrans-unsupported-syntax-enum-struct.c)

[code]

While this issue prevents some code fragments of the Trezor project from running, it can be worked around by manual removal and is no

[2018-03-09 16:53] invd commented on #312
There is another CHandler.visit NPE occurence that is triggered by the Trezor bootloader code, but the circumstances are complex, involving `vector_table->reset();` and Ultimate does only run into the NPE when certain USB callbacks are defined elsewhere in the file.
@danieldietsch: I will send you the original file directly.

[2018-03-12 11:20] invd commented on #324
The program in question was still running and has now been canceled after a week of runtime, as current behavior still suggested that it was going nowhere with the `SPISendErr3` loops:
[code]

[2018-03-12 11:33] invd commented on #322
The current Ultimate 0.1.23-3c47570 no longer throws the `UnsupportedOperationException: null` when verifying the example program mentioned above. I won't have the time to go into further tests for correct access / output behavior, but this looks very promising. Thanks for the quick solution!

[2018-03-12 11:47] invd commented on #316
Ultimate 0.1.23-3c47570 is now able to spot the out of bounds access:

[code]

The underlying boogie code appears to be correct now regarding the buffer allocation:
[code]

[2018-03-12 13:11] Heizmann commented on #316
Does this mean that your problems related to missing unicode support are solved?
I did not yet implement proper support for unicode strings and I would prefer to postpone that because it would require a further refactoring of the way how the underlying Boogie program writes strings to the heap array.

[2018-03-12 13:13] invd opened #326 "Regression: IAE "Location is null""
When running current Ultimate 0.1.23-3c47570 against a program that was working well with Ultimate 0.1.23-97ca168, the following regression is triggered:
[code]
This appears to be a recently introduced error in the C translation.

[2018-03-12 13:21] invd commented on #316
@Heizmann: are you referring to issue #322 or this one?

[2018-03-12 13:23] Heizmann commented on #316
Yes, sorry, I meant #316.

[2018-03-12 13:23] Heizmann commented on #322
I did not yet implement proper support for unicode strings and I would prefer to postpone that because it would require a further refactoring of the way how the underlying Boogie program writes strings to the heap array.

[2018-03-12 13:44] invd commented on #322
At the moment, the program subsets given to Ultimate do not include the winusb_defs.h-section, so I can't say with certainty that the current level of support will be enough for the verification coverage we're hoping for. I will update this ticket once more information on this is available.

[2018-03-13 15:48] alexandernutz opened #327 "vp domain augmentation: handle default arrays"
setting: memloc-array style preprocessing in the HeapSeparator

what we need: initialisation of the memloc-array to an array that holds some location l0 at every index

how to do it:
 support SMTInterpol-style default arrays in the map equality domain, effectively adding the axiom that a read on the default array at any index gives the default array's value.

[2018-03-13 15:51] alexandernutz opened #328 "vpdomain: add "element" subdomain"
setting: memloc-array style preprocessing in heap separator (might also apply to freezevar-style)

what we need: an extra subdomain that handles constraints of the form "e in S", where S is a set of elements of some finite/enumeration type

[2018-03-14 14:56] alexandernutz opened #329 "default arrays/array constants in Boogie"
Setting:
I would like to support something like the following in Boogie
[code]
where "defaultArray_0" is a constant array that has 0 at every index.
 (probably "defaultArray_0" is a bad name, I'm open to suggestions)

Applications:
 - easier testing for #327, once it is implemented
 - groundwork for #259

My current state of understanding:
 I do not see how this can be solved by our current Boogie

[2018-03-14 15:20] Heizmann commented on #329
What exactly is the SMT-LIB syntax for a constant array?

[2018-03-14 16:12] alexandernutz commented on #329
after discussion with @jhoenicke  :
 - there is no standard SMT-LIB syntax for this
 - some solvers have specific solutions, I would have to look into each one

 - workaround in current SMT-LIB:
[code]
obvious problem: introduces a quantifier

 - Something like
[code]
does not work, because functions cannot be assigned/do not have array type.

 - Probably z3 has a solution for this, but I would ha

[2018-03-14 16:31] Heizmann commented on #329
(These are not good news...)
I presume that the solution with the quantifier is too expensive.
For us, it might be sufficient if we have a solution that works with Z3 and if we could convince the SMTInterpol developers to use the same syntax.
However, I really dislike solutions that are not standard compliant.

[2018-03-14 17:01] alexandernutz commented on #329
According to [z3 documentation](https://rise4fun.com/z3/tutorial/guide) constant arrays are expressed like this:
```((as const (Array Int Int)) 0)```

For model creation/evalutation there is also a conversion from functions to arrays, but like the SMTInterpol construct mentioned above this does not seem to work inside input constraints:
```(_ as-array f)``` converts a previously defined function t

[2018-03-14 17:21] alexandernutz commented on #329
after discussion with @jhoenicke :
```((as const (Array Int Int)) 0)```
should be relatively easy to build into Ultimate, and seems to be a solution that SMTInterpol might support in the future, too.

To support it, we would only have to add an internal function ```const``` of the right (polymorphic) type.

[2018-03-14 17:36] Heizmann commented on #329
I do not completely understand the term.
`` ((as const (Array Int Int)) 0)``
What I understand is
* the `as` says that here the return sort of the function symbol ``const`` is `(Array Int Int)`
* this function is applied to `0`

I am wondering about the following.
* Does one have to declare the function symbol ``const``?
* Does ``const`` have a special meaning for Z3? ( and hence it does not have

[2018-03-14 23:07] Heizmann commented on #329
Ok, I think I understand.
I think the keyword `const` is too generic is will be difficult to get this into the SMT-LIB standard. But if Z3 has it then let's use it too.
If @jhoenicke thinks this is a good idea then let's add this to our logic package.

Is it allowed to define a shorthand for the function where the sort is already instantiated?
`(define-fun const-Array-Int-Int (x Int) (Array Int In

[2018-03-15 08:50] alexandernutz commented on #329
Adding this just for a more complete picture:
 Today I stumbled over this in [smtlib 2.6]http://smtlib.cs.uiowa.edu/papers/smt-lib-reference-v2.6-r2017-07-18.pdf   (page 31):
```(as (const-array 0.0) (Array Int Real ))```
which seems to be an alternative notation for what we want.
However this only occurs in a code example and I found no other place in the standard that would explain this notation

[2018-03-15 11:30] alexandernutz commented on #329
Concerning the shorthand mentioned above:
```(define-fun const-Array-Int-Int ((x Int)) (Array Int Int) ((as const (Array Int Int)) x))```
 -- this should work. It works in z3 right now, and our implementation should support it, too.

To summarize:
 - we introduce a new predefined function "const" into our array theory
 - the sort of const is "(X) (Array Y X)".

[2018-03-15 22:01] alexandernutz commented on #329
I implemented the discussed changes, but there is a technical problem:
whenever z3 receives a ```(set-logic ..)``` command, it deactivates the ```const``` function for some reason (logics I tried: ALL, AUFNIRA, QF_AUFLIRA).
Do we have a way of starting z3 without a logic?
 I tried this by giving ```null``` as ```logicForExternalSolver``` argument for ```SolverBuilder.buildAndInitializeSolver```, b

[2018-03-16 00:53] Heizmann commented on #329
No.

[2018-03-16 18:57] invd opened #330 "Regression: CNamed cannot be cast to CPrimitive"
With Ultimate 0.1.23-e3faffc, there is a regression affecting multiple Trezor-related programs. This regression has been present for several days.
[code]

@danieldietsch has generated a minimal example:
[ctrans-CCE-cprimitives.c](https://github.com/ultimate-pa/ultimate/blob/dev/trunk/examples/CToBoogieTranslation/regression/ctrans-CCE-cprimitives.c)
[code]

Settings:
* AutomizerMemDerefMemtrack.xm

[2018-03-16 19:09] invd commented on #325
With Ultimate 0.1.23-e3faffc, this behavior appears to have improved and no longer returns a `UnsupportedSyntaxResult` exception upon parsing.

However, the program is determined to be incorrect due to a counterexample:
[code]
Is this counterexample valid?

[2018-03-16 19:16] #330 closed

[2018-03-16 19:18] invd commented on #322
Due to the (unrelated) decision to revert certain WebUSB-changes in the trezor-mcu repository, the problematic winfiles are excluded from the project for the moment, see [the relevant commit](https://github.com/trezor/trezor-mcu/commit/b20336e82d19d95a0ce65d13d6c7bcf9d11ac668). Consequently, this change lowers the priority of the current issue, as we're likely not blocked by soundness issues relat

[2018-03-16 19:42] invd commented on #330
As expected, Ultimate 0.1.23-69b7754 now runs fine with the example linked above:
`RESULT: Ultimate proved your program to be correct!`

However, many of the programs affected by #330 now run into the following issue:
[code]
This is likely a reference to the `volatile uint32_t system_millis;`. I'll open another issue for that one.

[2018-03-16 19:53] invd opened #331 "Regression: "identifier is not declared" for extern volatile"
With newest Ultimate 0.1.23-69b7754, several programs related to Trezor run into the following C translation issue, which has come up during the last week:
[code]

I have tracked this exception to a specific usecase involving  the referenced system_millis:
[code]

Settings:
* AutomizerMemDerefMemtrack.xml
* svcomp-DerefFreeMemtrack-32bit-Automizer_Default.epf

[2018-03-16 20:07] invd commented on #309
#330 is solved, but another regression is blocking the original program verification, as detailed in #331.
I will update this ticket once that issue is solved.

[2018-03-21 09:32] #324 closed

[2018-03-26 11:26] invd commented on #331
This issue is still present in the latest Ultimate 0.1.23-0acf559.

[2018-03-26 11:32] invd commented on #318
The original program is also affected by #331 and cannot be tested for the "Elim1Store" output behavior at the moment.

[2018-03-26 15:20] Heizmann commented on #318
@invd with "this line" I meant the line that produces the logging output. (maybe it is not only one line)

[2018-03-27 13:22] danieldietsch opened #332 "Support parsing of multiple .req files"

[2018-03-28 15:19] jhoenicke opened #333 "Enum translation broken"
Ultimate has issues with this minified example taken from the trezor-mcu codebase:
[ctrans-unsupported-syntax-enum-struct.c](https://github.com/ultimate-pa/ultimate/blob/dev/trunk/examples/CToBoogieTranslation/trezor/ctrans-unsupported-syntax-enum-struct.c), see #325.

C code:
[code]

Boogie Translation:
[code]

Expected would be
[code]

[2018-03-28 15:21] jhoenicke commented on #325
This bug was fixed, but new problem above is due to a new bug, see #333.

[2018-03-28 15:21] #325 closed

[2018-03-28 21:38] Heizmann commented on #333
To the best of my knowledge we stopped using the axioms for performance reasons and replaced enum constants by the corresponding int values already in our C translation.

Since 28 days(!) the enum testcases that we already have are failing https://monteverdi.informatik.uni-freiburg.de/ci/job/Ultimate%20Nightly/lastBuild/testReport/
Can maybe @alexandernutz or @danieldietsch say something here?
The

[2018-03-29 07:28] danieldietsch commented on #333
Its actually 37 days if you look at different settings.

But I did not change anything regarding enums.
Maybe @alexandernutz knows more?

[2018-03-29 10:05] #149 closed

[2018-03-29 10:05] #332 closed

[2018-03-29 11:32] alexandernutz commented on #333
I broke them. Hopefully repaired by the above bugfix.
I don't know anything about the axiom business. As far as I can see, the solution with axioms is in place at least since May 2016.

[2018-03-29 14:47] Heizmann commented on #333
As far as I remember, the axioms were always there. But they were useless because we did not use the corresponding constants in the translation.
I did not want to delete the code that produced the axioms because we might use them in the future.

[2018-03-29 15:07] Heizmann commented on #149
Ok, now I see what you mean with *transformation*.

[2018-03-31 14:32] alexandernutz opened #334 "ModifiableGlobalsTable vs IcfgTransformation"
I am wondering about a couple of things regarding "modifiable globals" and icfg transformations.
 - Q1: Say, a Transformula is transformed during an IcfgTransformation and an update to a (possibly fresh) global variable is introduced. Where is (or should be) the ModifiedGlobalsTable updated accordingly?
 - Q2: How/Where is it ensured that the ModifiedGlobals table stays consistent with the call gr

[2018-03-31 15:03] Heizmann commented on #334
- A1: Should not be modified. Construct a new one.
- A2: Not at all.
- A3: Good idea.

[2018-04-02 13:20] invd commented on #333
Recent patches have improved the enum behavior for the testcase.

Ultimate 0.1.23-f020fd9:
[code]

[2018-04-02 13:24] invd commented on #325
As documentation: `Is this counterexample valid?` -> No, due to #333, Ultimate did not correctly handle the values assigned to the enum members, which led to an incorrect counterexample.
This is now fixed.

Ultimate 0.1.23-f020fd9:
[code]

[2018-04-02 13:28] invd commented on #331
Ultimate 0.1.23-f020fd9 is still affected by this regression, which is blocking progress on many other open issues. Is it possible to roughly assess the work needed to fix this issue?

[2018-04-02 16:43] invd commented on #321
Recent changes have slowed down the faster program variant (without `oledDrawPixel()` and `oledClearPixel()` calls) to a runtime of several hours. Further investigation is needed.

[2018-04-02 16:52] invd opened #335 "NullPointerException: TypeHandler.visit()"
Ultimate 0.1.23-f020fd9 does not fail gracefully when run against an example program that has not been preprocessed, and instead crashes with a NPE:
[soundness_fprintf_2.c](https://github.com/ultimate-pa/ultimate/blob/dev/trunk/examples/CToBoogieTranslation/trezor/soundness_fprintf_2.c)

[code]

For the preprocessed program variant, Ultimate correctly throws a `UnsupportedSyntaxResult` as  expecte

[2018-04-02 17:41] invd commented on #306
Ultimate 0.1.23-f020fd9 manages to verify [soundness_sprintf_1.c](https://github.com/ultimate-pa/ultimate/blob/dev/trunk/examples/CToBoogieTranslation/trezor/soundness_sprintf_1.c) without preprocessing.

However, the result is **unsound**:
[code]
This corresponds to the line `sprintf(buffer, "%d", data[-1]);`, which is clearly faulty as it violates the array's lower bounds.

Note that the access

[2018-04-02 17:41] #333 closed

[2018-04-02 18:14] danieldietsch commented on #334
The question for me is: how soon do you need it?
For Q1: I think the workaround is easy, just build your own (you already added something in f0cda2c afaik).
For Q2: How severe would performance suffer if you just added the global as modified global to all procedures? This is easy. I can implement the real thing soonish, but this week is rather limited for me.
For Q3: Yes, sounds good, but is conne

[2018-04-02 18:26] alexandernutz commented on #334
I need it to get a sound heap separator, and I would like to find out if that is the last soundness issue soonish.
On the other hand I just saw that SAS deadline got pushed back one week, and there are other things I should do for it, too. Let's discuss it in person..

[2018-04-04 12:38] invd opened #336 "Dead code is always flagged as valid"
As observed in #306, Ultimate flags unreachable, but incorrect code as valid.

In the (shortened) example, the first out of bound read is found as an error, but the second is named always in bounds:
[code]

[code]
This is due to the fact that the first error is always triggered and the second read is never reached.

As discussed with @jhoenicke, this output behavior is rooted in current Ultimate p

[2018-04-04 14:55] danieldietsch commented on #336
You can prevent this behavior by disabling the RCFG option "assume assert". The example should then contain both counterexamples.

For other cases: What qualifies as dead code?

[2018-04-04 20:27] jhoenicke commented on #336
Dead code means that the assertion is still valid if you replace it by "assert false".  Not sure if this can be detected efficiently.   Note that the existence of dead code is not an error.  There are cases where you want to put an "assert false" into your code, e.g. to indicate that some switch case is unreachable.

This issue is about not saying "assertion always holds", if you know that it neve

[2018-04-04 21:18] Heizmann commented on #336
1. The command line option for the setting that Daniel mentioned is
`--rcfgbuilder.add.additional.assume.for.each.assert false`
2. I [just added](https://github.com/ultimate-pa/ultimate/commit/860ec966e6500ddd1cd2b7dd586b70297a87d9c0) a description.
3. I have some doubts that 'true' is a good default value. But I do not have strong preferences.
4. I have doubts that the name of the setting is good

[2018-04-05 15:13] alexandernutz commented on #329
Works for my purposes at the moment so I am closing the issue. Note that the flag in SolverBuilder is required to switch on the definition of the ```const-Array-Int-Int``` convenience function, and that no Solver besides recent versions of Z3 recognizes the syntax.

[2018-04-05 15:13] #329 closed

[2018-04-05 15:14] alexandernutz commented on #328
Is implemented and works, as far as I can tell, so I am closing the issue.

[2018-04-05 15:14] #328 closed

[2018-04-05 15:15] alexandernutz commented on #327
Is implemented and works as far as I can tell. Thus i am alosing the issue.

[2018-04-05 15:15] #327 closed

[2018-04-06 15:43] alexandernutz opened #337 "struct type completion broken through multiparse renaming"
When a compositie type is completed through a composite type specifier, we check if we have seen incomplete types of the same name and complete them.

Unfortunately the multiparse renaming may break this association-by-name, so incomplete types are not always completed, when they should be.

Probably we have to adapt the TypeHandler naming accordingly.

[2018-04-06 15:48] #337 closed

[2018-04-09 08:23] danieldietsch opened #338 "Add a .req printer plugin that prints merged .req files"

[2018-04-10 09:27] invd commented on #331
Ultimate 0.1.23-666feb3 still shows this regression, which may be related to changes made for the multiparse support. @alexandernutz, is it possible to take a look at this blocking issue?

[2018-04-10 09:27] danieldietsch commented on #336
Is this also sufficient for your dead code problem?

[2018-04-10 09:46] invd commented on #336
If the flag does not have any undesired side effects then this looks like viable solution to the underlying issue.
However, as `--traceabstraction.stop.after.first.violation.was.found false` is a very useful setting for analysis, the soundness implications of "assume assert" and it's default state should be clear to the user (documentation, warnings?). Expressing the unreachable state of the relev

[2018-04-10 09:56] invd commented on #316
The concrete issue of the buffer size miscalculation in boogie and resulting soundness problem have been found and fixed. Ultimate 0.1.23-666feb3 behaves well in this regard.

Should we close this issue, or keep it open to inspect the soundness of other string literal uses?

[2018-04-10 10:01] invd commented on #306
The unsound error location due to a certain flag is discussed in #336.

[2018-04-10 10:01] danieldietsch commented on #336
This sounds reasonable. I am not sure if we have some settings that depend on this value.

[2018-04-10 10:03] danieldietsch commented on #316
Probably close to keep it concise.

[2018-04-10 10:03] #316 closed

[2018-04-10 10:05] danieldietsch commented on #306
So you saying with the changed flag it works for you?
Note: we still have to fix ``sprintf`` and ``fprintf``

[2018-04-10 10:55] invd commented on #306
As noted in #336, the following combination

* AutomizerMemDerefMemtrack.xml
* svcomp-DerefFreeMemtrack-32bit-Automizer_Default.epf
* `--traceabstraction.stop.after.first.violation.was.found false`
* `--rcfgbuilder.add.additional.assume.for.each.assert false`

results in a verification output that includes both error locations for the _soundness_sprintf_1.c
_ example which are located in the var a

[2018-04-11 08:55] danieldietsch opened #339 "Prepare ESA/Newlib examples for SVCOMP19"
We have a rather large set of floating point examples from our Newlib verification project with ESA and we are allowed to submit it to SVCOMP.

We should
  * fetch the files from the students repository and add them to ``examples/programs/FloatingPoint/esa``
  * we should pre-process them according to the SVCOMP rules
  * we should make sure that we can still produce the expected results on the pr

[2018-04-12 11:27] danieldietsch opened #340 "Invalid syntax without parenthesis"
Our Boogie parser rejects the following program.
[code]
This was unexpected to me, but is consistent with the grammar in "This is Boogie 2".

Introducing parenthesis fixes the syntax error.

The question is: can we with reasonable effort allow the conventional precedence for logical operators or should we stick to requiring parenthesis?

[2018-04-12 11:50] #338 closed

[2018-04-13 12:44] danieldietsch commented on #319
@Heizmann can we close this ticket?

[2018-04-15 20:08] danieldietsch opened #341 "Counterexamples consume too much memory"
I am currently analyzing Boogie files with a couple of hundred assertions. Each Counterexample result consumes approx. 150MB memory.

This leads to OOM failures.

For my problem, CEX are actually not needed, so I can "quickfix" this by introducing an option that throws away the path of a CEX.

But this is not a general solution.
Ideas are welcome.

[2018-04-18 09:39] invd commented on #331
Behavior has not changed for Ultimate 0.1.23-809e8b6.

In personal discussion including @danieldietsch and @jhoenicke , @alexandernutz agreed that Ultimate likely never supported the C standard relating to "extern" variable use in functions or that such support was broken by recent multiparse-related changes. It is likely that this won't be fixed in the upcoming weeks and that manual workarounds a

[2018-04-18 09:42] invd commented on #335
The NPE is still present for Ultimate 0.1.23-809e8b6, but exact code lines have changed:

[code]

[2018-04-18 09:50] invd commented on #309
When using the workaround for #331 and the new Ultimate 0.1.23-809e8b6, the original RValue Boogie Type defect from February is still triggered during the translation:

[code]

[2018-04-18 09:56] invd commented on #312
As Ultimate 0.1.23-809e8b6 detects the unsupported var args function call of the preprocessed fprintf example linked above, further parsing is refused and the original NPE is not observed.
The second occurrence of this bug is complex and cannot be minified in the foreseeable future.

[2018-04-18 12:55] invd commented on #321
Detailed analysis of the original logs from March show that during the "fast" run (without `oledDrawPixel()` and `oledClearPixel()`), no z3 invocation was made at, in contrast to the "slow" run, which includes this step that took over 3 hours:
[code]

I will re-test this behavior with the current Ultimate/z3 combination.

[2018-04-18 15:32] danieldietsch commented on #321
Can you post a couple of log lines before that (i.e., the reason for the switch in this iteration)?

Am 18. April 2018 15:55:03 OESZ schrieb invd <notifications@github.com>:

--
Diese Nachricht wurde von meinem Android-Gerät mit K-9 Mail gesendet.

[2018-04-28 23:40] Heizmann opened #342 "Support for negative enum constants"
trunk/examples/programs/FloatingPoint/regression/c/svcomp/floats-cbmc-regression/float4_true-unreach-call__PART1.i
trunk/examples/programs/FloatingPoint/regression/c/AutomizerC-Reach-32bit-Z3-IcWpLv-Float.epf
trunk/examples/programs/FloatingPoint/regression/c/AutomizerC.xml

We fail on the following code
[code]
because we cannot detect that
`FunctionApplication[~bvneg32,[BitvecLiteral[1,32]]]`
rep

[2018-05-01 10:07] alexandernutz opened #343 "Introduce a "mix-arrays" function"
The "loc-array-scheme" in the Heap Partitioner requires support for functions with the following characteristics:

 - Take as input two arrays a, b, of array-type T.
 - return an array of type T that a nondeterministic "mix" of the input arrays, i.e., at each index i the new array may have the value a[i] or b[i] nondeterministically

We require support on two levels (as for constant arrays):
 - SM

[2018-05-10 11:01] danieldietsch opened #344 "crash during variable update"
<code>
2018-05-10 12:58:34,614: [INFO]: 127.0.0.1 - - [10/May/2018 12:58:34] "POST /hanfor-wip/api/var/update HTTP/1.1" 200 -
2018-05-10 12:58:39,483: [INFO]: Update Variable `MICRO_STATE_STANDBY`
2018-05-10 12:58:39,486: [INFO]: Change type from `int` to `CONST`.
2018-05-10 12:58:39,486: [INFO]: Change value from `` to `0`.
2018-05-10 12:58:39,486: [INFO]: Store updated variables.
2018-05-10 12:5

[2018-05-14 16:34] alexandernutz commented on #343
Update: Because the rule for the mix arrays introduces a set constraint, of the form "e in { a[i], b[i]}", where may or may not be expandable to to literals, we need to lift that restriction in the literal set subdomain domain. (coming commits will address this)

[2018-05-15 21:57] #213 closed

[2018-05-16 15:10] danieldietsch opened #345 "Ultimate does not reliably terminate external solver processes when using user limits"
Currently observed during requirements analysis. More details follow.

[2018-05-18 13:39] #345 closed

[2018-05-18 22:51] Heizmann opened #346 "TraceCheckStatisticsGenerator.reportSequenceOfInterpolants(...) (consumes around 20% of CPU)"
Find out why TraceCheckStatisticsGenerator.reportSequenceOfInterpolants(...) consumes around 20% of CPU.
Costs of this computation are linear in the size of the interpolations sequence's formulas. If this consumes 20% of CPU time there must be some bug.

[2018-05-19 05:18] danieldietsch commented on #346
``PredicateUtils.computeDagSizeOfPredicates(interpolants, FormulaSize.TREESIZE)`` is called there. This unlets the formula. This is not linear.

[2018-05-19 09:04] Heizmann commented on #346
@danieldietsch Why do the formulas contain let terms?
@jhoenicke Could you implement a variant that does not unlet the formulas?

[2018-05-19 10:18] danieldietsch commented on #346
Why not? There are rather large assumes with a lot of disjuncts and LBE.

There is already an implementation that computes the DAG size. Perhaps it is enough, or do you really need to have the tree size in the stats?

[2018-05-19 10:20] danieldietsch commented on #346
Btw, all trace checks compute this statistic, but for many of them the result of the computation is never used. I am not sure if the other stats have any noticeable impact on performance, but in general it seems like a good idea to be able to disable statistics computations.

[2018-05-19 15:13] Heizmann commented on #346
My question was where they stem from. I have no idea how I can now respond to a "why not?"

Yes

Absolutely not! I am not interested in squeezing out the last percentages of performance out of the existing implementation. I am interested in seeing information that help me to understand what is going on in out tool.
If there is a problem with the computation of statistics it should be addressed and

[2018-05-19 16:03] danieldietsch commented on #346
Ah ok, sorry I did not get your question. They come from CAMEL_NO_AM. The input is a Boogie program with a lot of reachable asserts (approx. 1500) and a mixture of real (perhaps 10 variables), int (approx. 400) and bool (approx. 600). I can mail you the file (but I cannot upload it).

Regarding treesize: Ok, I see. I am not sure if I know enough about the DAG structure, but I think it should be po

[2018-05-19 16:26] Heizmann commented on #346
But with algorithm is introducing these? Is it the interpolation of SMTInterpol or are there other sources?

But they might be used in the future and the computation should be inexpensive.

No

I agree (especially if the "easier to maintain" applies).

[2018-05-20 10:48] danieldietsch commented on #346
They are introduced by Z3 SP.

[2018-05-20 11:08] Heizmann commented on #346
By which class or by which method?

[2018-05-20 15:01] danieldietsch commented on #346
Hmm, I am not sure. I thought that Z3 directly produced let terms and we just parse them.

[2018-05-20 15:11] Heizmann commented on #346
Do you mean Z3 with Craig interpolation?
There are only two commands for which a solver produces nontrivial terms that we parse
1. get-interpolants
2. get-value

[2018-05-22 11:00] danieldietsch commented on #346
I mean Z3 with SP. I am not sure if those terms result from get-value. I can say that it is not get-interpolants.

[2018-05-22 21:10] Heizmann opened #347 "Binding Library-Automata to SonarQube fails"
1. Autobinding of Library-Automata fails.
2. The autocompletion of Eclipse suggests to bind it to `de.uni_freiburg.informatik.ultimate.lib.automata` which also fails.

Solution/Workaround: bind project to `de.uni_freiburg.informatik.ultimate:de.uni_freiburg.informatik.ultimate.lib.automata`

For some other projects 1. and/or 2. also fails. For some projects it works. I have no idea where I have to

[2018-05-25 07:07] danieldietsch opened #348 "Use Boogie or SMT instead of CDDs for rt-inconsistency checks"
``CDD``s have the unfortunate property of blowing up whenever the variable order is not beneficial and we mix and/or.

This happens rather fast in ReqAnalyzer.

To avoid this problem, and to increase precision, we want to generate the Boogie assertions for rt-inconsistency via SMT formulas or directly via Boogie code.

This requires a rewrite of ``ConditionGenerator``. Roughly, the following steps

[2018-05-25 22:31] alexandernutz opened #349 "Conversion from a set of Horn clauses to a Boogie program"
Write a plugin that takes a set of HornClause objects from SmtParser (in TreeAutomizer mode) and constructs a Boogie program from it.
The Boogie program must be safe if and only if the set of constrained Horn clause from the smt input is satisfiable.

[2018-05-27 13:10] Heizmann opened #350 "Nontermination bug in TransitiveClosure"
`Deque<StronglyConnectedComponent<NODE>> frontier` is never emptied.

Input:svcomp/heap-manipulation/dancing_true-unreach-call_false-valid-memtrack.i
Settings:settings/svcomp2017/automizer/svcomp-Reach-32bit-Automizer_Bitvector.epf
Toolchain:toolchains/AutomizerC.xml

[2018-05-27 13:12] Heizmann commented on #350
I did not had a closer look because I presume @alexandernutz is much faster.

[2018-05-27 13:37] alexandernutz commented on #350
I'll have a look.

[2018-05-27 14:08] alexandernutz commented on #350
The problem is:
 - Transitive closure relies on the successor relation (induced by SccComputation.getComponentsSuccessorsProvider(..), here, this is the call graph projected to strongly connected components) being acyclic.
 - For the given example this is not the case, because the Scc, that only consists of procedure
`__U_MULTI_fC__data_sv_benchmarks_c_heap_manipulation_dancing_true_unreach_call_f

[2018-05-27 15:19] Heizmann commented on #350
I cannot understand the problem description.
What is "not the case"? Is the SCC computation not correct?

Maybe your are only interested in balls (SCCs with at least one edge). There is a method that returns all balls.

[2018-05-27 15:30] alexandernutz commented on #350
Ok, I'll try to be clearer:
 - The SccComputation has the method 'SccComputation.getComponentsSuccessorsProvider(..)'
 - This method effectively returns a graph over the Sccs, let's call it G.
 - When implementing 'TransitiveClosure.computeTransitiveClosure(..)' I assumed that G is acyclic, but it is not.

Now my question is: Shouldn't this graph over the Sccs always be acyclic?

If yes:
 We shoul

[2018-05-27 15:47] alexandernutz commented on #350
Let sComp instanceof SccComputation,
Let sucProv = sComp.getComponentsSuccessorsProvider(),
G := { (scc1, scc2) | exists n. scc2 = sucProv.getSuccessors(scc1).[next()]^n }

[2018-05-27 15:51] Heizmann commented on #350
1. Then this graph should be acyclic. So there is probably a bug.
2. I would call that not "successor" but "ancestor" to indicate that it does not return direct successors.
3. It would be nice if this would be documented somewhere.

[2018-05-27 15:53] Heizmann commented on #350
Honestly, I have to say that I doubt that the bug is in the SCC computation itself since this is used in many parts of Ultimate.
I did not implement this "getComponentsSuccessorsProvider()". So I would prefer if it could be fixed by someone else.

[2018-05-27 16:13] alexandernutz commented on #350
Concerning 2. : There might be room for misunderstandings here: the [next()]^n iterates over the successors of a single node; this graph is not transitively closed or something like that.

Written as a set, the iterator sucProv.getSuccessors(scc1) would look like this:
Let I be the input graph of the SccComputation,
{ scc2 | exists x, y. x in scc1, y in scc2, (x,y) in I }

Thus I would favour "suc

[2018-05-27 16:14] alexandernutz commented on #350
Anyway: should I implement the workaround in TransitiveClosure for the time until the status of SccComputation is clear/fixed?

[2018-05-27 16:41] alexandernutz commented on #350
oh, no, I was hoping for Daniel or so.. I'll check..

[2018-05-27 17:36] #350 closed

[2018-05-30 12:39] alexandernutz commented on #349
Current state:
 - ChcToBoogie translation produces a Boogie program for all (chc-comp) examples I have tried.
 - I do not know about any soundness issues (fixed a major one with last commit)
 - There are various crashes of Automizer. I will open some issues, if I find the time.
 - One might try out Taipan and Kojak -- there should be no additional programming involved, just different toolchains, a

[2018-05-31 08:17] alexandernutz commented on #153
More examples for triggering this AssertionError:
S:`examples/settings/chccomp2018/chcToBoogie_automizer.epf`
T:`examples/toolchains/AutomizerCHC.xml`

in `chc-comp/eldarica-misc/LIA/HOLA/`

`02.c.smt2`
`03.c.smt2`
.. and probably many more in that directory

[2018-05-31 08:29] alexandernutz opened #351 "Bug: AssertionError: invalid Hoare triple in FP"
chc-comp/llreve-bench/smt2/arrays/coreutils__md5sum.array.smt2

toolchains/AutomizerCHC.xml

settings/chccomp2018/chcToBoogie_automizer.epf

[2018-05-31 10:23:27,282 INFO  L276        TraceCheckUtils]: 12: Hoare triple {3691#true} assume !false; {3692#false} is INVALID
[2018-05-31 10:24:40,560 WARN  L512      AbstractCegarLoop]: Destroyed unattended storables created during the last iteration: 10

[2018-05-31 08:38] alexandernutz opened #352 "assertion fails in UnitCollector"
.. seems like a problem in SMTInterpol's interpolation to me.

chc-comp/sally-chc-benchmarks/approximate_agreement/approx.4.smt2
(perhaps more in that directory)

S: examples/settings/chccomp2018/chcToBoogie_automizer.epf
T: examples/toolchains/AutomizerCHC.xml

java.lang.AssertionError
	at de.uni_freiburg.informatik.ultimate.smtinterpol.proof.UnitCollector.seen(UnitCollector.java:127)
	at de.uni_

[2018-05-31 08:45] alexandernutz opened #353 "assertion fails in Transformations.lowerUnits"
seems related to SMTInterpol proof tracking

chc-comp/sally-chc-benchmarks/approximate_agreement/approx.5.smt2

S: examples/settings/chccomp2018/chcToBoogie_automizer.epf
T: examples/toolchains/AutomizerCHC.xml

java.lang.AssertionError
	at de.uni_freiburg.informatik.ultimate.smtinterpol.proof.Transformations.lowerUnits(Transformations.java:145)
	at de.uni_freiburg.informatik.ultimate.smtinterpol.

[2018-06-01 09:54] danieldietsch opened #354 "PrenexNormalForm, NNF does not work with negated quantifiers"
See example in ``XnfTransformerTest``:
[code]

[2018-06-01 09:56] schillic commented on #354
Makes sense, because negations are not allowed in [prenex normal form](https://en.wikipedia.org/wiki/Prenex_normal_form) :wink:

[2018-06-01 09:58] danieldietsch commented on #354
Yes, obviously. Perhaps the title is misleading. The NNF transformation is the issue, but I do not want to fix it (pushing negation inwards and flipping quantifiers) without consulting with Matthias first.

[2018-06-01 16:58] #354 closed

[2018-06-01 17:02] Heizmann commented on #354
Please use the NnfTransformer with the argument KEEP instead of PULL.
The idea of PULL is to do NnfTransformation and PnfTransformation in one shot. But I don't know if it is a good idea.

[2018-06-01 17:44] danieldietsch commented on #354
KEEP exhibits the same behavior.

[2018-06-01 19:08] danieldietsch commented on #354
5b3ff88e488df2f60c2403790cf911fb6e92800a fixed the issue with KEEP, thanks.

[2018-06-02 21:45] Heizmann commented on #351
Where can I get this file?
chc-comp/llreve-bench/smt2/arrays/coreutils__md5sum.array.smt2

[2018-06-03 03:36] Heizmann commented on #351
Found benchmark, could reproduce bug, reduced Boogie program to a few lines, most likely problem in quantifier elimination for arrays.

[2018-06-03 07:10] alexandernutz commented on #153
Update:
Cannot reproduce the problem with 03.c.smt2 anymore. Still happens on 02.c.smt2 and 10.c.smt2 (perhaps more).

[2018-06-04 03:04] Heizmann commented on #153
I was able to reproduce the problem and to reduce the automaton to around 25 states.

[2018-06-04 05:39] schillic commented on #153
If it helps I can also have a look. Can you commit/send the automaton?

[2018-06-08 04:33] jhoenicke commented on #353
Can you extract the smt2 script for the interpolation step that fails?

[2018-06-11 09:24] Heizmann opened #355 "Passing settings for Block Encoding does not always work"
Can sometimes be reproduced by

``trunk/examples/programs/toy/InvariantChecking/ArrayInitialization01.bpl``
``trunk/examples/toolchains/RefereeBpl.xml``
and the default settings

You get the AssertionError
*Either subgraph not acyclic or there is a bug*
from AcyclicSubgraphMeger.

[2018-06-11 14:14] danieldietsch commented on #353
I extracted the script (see attachment, remove .txt extension).
Note that you have to run SMTInterpol with ``-ea``
[approx.5_iter2_smtinterpol_lowerunits.smt2.txt](https://github.com/ultimate-pa/ultimate/files/2090301/approx.5_iter2_smtinterpol_lowerunits.smt2.txt)

[2018-06-11 15:10] danieldietsch commented on #352
Attached the script (use ``-ea`` and remove ``.txt`` from filename) [approx.4_iter2_smtinterpol_mixedla_convert.smt2.txt](https://github.com/ultimate-pa/ultimate/files/2090566/approx.4_iter2_smtinterpol_mixedla_convert.smt2.txt)

[2018-06-11 18:37] jhoenicke commented on #353
Workaround: remove `equals` and `hashcode` in Clause.java.  The problem is that Clause overwrite these and clauses with different proofs can be equal.  It looks like these are only used in proof transformations, so it hopefully doesn't break anything.

In principle it is not necessary to have the different proofs for the same clause in the proof tree.  Maybe one can preprocess the proof tree and r

[2018-06-12 07:58] danieldietsch commented on #353
@jhoenicke : Are you going to integrate the fix into SMTInterpol?

[2018-06-12 14:34] #348 closed

[2018-06-13 15:12] danieldietsch commented on #355
There are multiple issues with your example
 * The file is a Boogie file, the toolchain is for C programs
 * If I use ``AutomizerBpl.xml``,  ``AcyclicSubgraphMerger`` is never instantiated.
 * I tried various other toolchains, none of them instantiated ``AcyclicSubgraphMerger``

[2018-06-13 15:28] Heizmann commented on #355
Posted the wrong toolchain.
Sorry.
Fixed above (`trunk/examples/toolchains/RefereeBpl.xml`)

[2018-06-13 19:44] alexandernutz opened #356 "printing a list of HornClauses as an smtlib file"
Implement something analog to the BoogiePrinter for HornClause sets: We pass HornClause sets between plugings through a HornAnnot. The new plugin should take a HornAnnot and write an .smt2 file to disk which contains the given Horn clauses.

[2018-06-14 15:40] #352 closed

[2018-06-19 08:35] #356 closed

[2018-06-19 16:14] danieldietsch opened #357 "Build a non-recursive variant of the Boogie type checker"
Our Boogie type checker can cause StackoverflowExceptions when confronted with complex expressions by, e.g., Horn clauses.

A workaround is increasing the stack size with -Xss .
A solution is an implementation that does not rely on the stack.

[2018-06-25 10:46] #334 closed

[2018-06-26 09:49] danieldietsch commented on #4
Is this still relevant? We now have mockups for SMT formulas and for Boogievars, but not for CodeBlocks.

[2018-06-26 15:34] #355 closed

[2018-06-27 08:03] danieldietsch commented on #347
It seems that the only solution would be to rename the project basedir to ``de.uni_freiburg.informatik.ultimate.lib.automata`` .

I am not sure if we should put in the effort.
It would move us closer to Java and Maven default directory layouts and naming conventions, which helps with maintaining in the long run.
But the "long path" problem might occur more often.

[2018-06-27 08:07] schillic commented on #347
I am in favor of doing the change since using Sonar is very helpful for new programmers in Ultimate (and we have a lot of them).

[2018-06-27 18:16] danieldietsch commented on #347
The ``.lib.`` is not the issue. The issue is that the basedir name is different from the artifact id.
I am also trying to find out if there is some way of exporting the settings of the Eclipse plugin s.t. we can put them in the repository.
But so far now luck.

Btw: It seems that on my machines the SonarLint "Analyze" action keyboard shortcut (Ctrl+Alt+B) is no longer working and I have to start a

[2018-06-28 09:20] Heizmann opened #358 "IllegalStateException: Check for isGlobalScope first"
IllegalStateException: Check for isGlobalScope first: de.uni_freiburg.informatik.ultimate.cdt.translation.implementation.base.chandler.ProcedureManager.getCurrentProcedureID(ProcedureManager.java:453)

termination/termcomp2016/C/SV-COMP_Mixed_Categories/cs_lamport_true-unreach-call.c
settings/buchiAutomizer/termcomp2017-Noproofs.epf
toolchains/AutomizerAndBuchiAutomizerCInlineWithBlockEncoding.xml

[2018-06-28 09:21] Heizmann opened #359 "The value of the constructed RValue has a BoogieType ([int]int) that is incompatible with its CType ($Pointer$)"
IllegalArgumentException: The value of the constructed RValue has a BoogieType ([int]int) that is incompatible with its CType ($Pointer$)

termination/termcomp2016/C/SV-COMP_Mixed_Categories/rekcba_nxt_false-unreach-call.1.M1.c
settings/buchiAutomizer/termcomp2017-Noproofs.epf
toolchains/AutomizerAndBuchiAutomizerCInlineWithBlockEncoding.xml

[2018-06-28 09:22] Heizmann opened #360 "Incorrect DeclarationInformation of #funAddr~"
AssertionError: Incorrect DeclarationInformation of #funAddr~__U_MULTI_f_mnt_storage_ultimate_trunk_examples_termination_termcomp_____C_SV_COMP_Mixed_Categories_dll_of_dll_true_unreach_call_c__dll_insert_master. Expected: GLOBAL   Found: <IMPLEMENTATION_INPARAM,##fun~$Pointer$~TO~VOID>: de.uni_freiburg.informatik.ultimate.boogie.typechecker.TypeCheckHelper.internalError(TypeCheckHelper.java:293)

[2018-06-28 11:04] #358 closed

[2018-06-28 11:16] #360 closed

[2018-06-29 07:46] danieldietsch commented on #347
The best solution is probably to write a script that auto-generates the preference file in which sonarlint stores the bindings.

I will have a look and ask you to try it.

[2018-06-29 07:48] danieldietsch commented on #347
Wait a second: @schillic  already wrote such a script. Its in our repo: https://github.com/ultimate-pa/ultimate/blob/dev/releaseScripts/coding-conventions/configureSonarLint.sh

[2018-06-29 07:53] schillic commented on #347
Do not use that script :see_no_evil:
It creates errors for bindings that cannot be found, and there are quite a few (I think 23).

Maybe you can use the script as a starting point. The very short explanation of the script is [here](https://github.com/ultimate-pa/ultimate/wiki/Eclipse-Settings#deactivating-automatic-analysis).

[2018-06-29 11:45] danieldietsch commented on #347
I had a look and modified the script a little bit. It should work as expected now. A couple of things to consider:
  * Do not run the script when Eclipse is running on the workspace
  * It might be necessary to delete the ``trunk/source/.sonarlint`` directory; it certainly helps getting rid of a lot of old caches.
  * If you starting from scratch, you have to ensure that the Sonar server you creat

[2018-06-29 14:33] schillic commented on #347
It just works, well done! :100:

[2018-06-29 14:38] schillic commented on #347
Another issue with the recent SonarLint version is that I do not even see the code highlighting unless I activate the automatic analysis for the respective project. (The issues occur in the "SonarLint Report" view, though.) So something is definitely broken there.

[2018-06-29 15:10] Heizmann opened #361 "UnsupportedOperationException: unsupported $Pointer$, INT"
Input:termination/termcomp2016/C/AProVE_memory_unsafe/svcomp_delete_unsafe.c Settings:settings/buchiAutomizer/termcomp2017-Noproofs.epf Toolchain:toolchains/AutomizerAndBuchiAutomizerCInlineWithBlockEncoding.xml

[2018-06-29 15:12] Heizmann opened #362 "AssertionError: cannot convert to CArray"
Input:termination/termcomp2016/C/SV-COMP_Mixed_Categories/cs_fib_longer_true-unreach-call.c Settings:settings/buchiAutomizer/termcomp2017-Noproofs.epf Toolchain:toolchains/AutomizerAndBuchiAutomizerCInlineWithBlockEncoding.xml

Maybe a known conceptual problem and not a simple bug.

[2018-06-29 15:36] Heizmann opened #363 "identifier is not declared (neither a variable nor a function name): node"
Input:termination/termcomp2016/C/SV-COMP_Mixed_Categories/bubble_sort_linux_true-unreach-call.c Settings:settings/buchiAutomizer/termcomp2017-Noproofs.epf Toolchain:toolchains/AutomizerAndBuchiAutomizerCInlineWithBlockEncoding.xml

[2018-06-29 15:39] Heizmann opened #364 "Unsupported function from math.h"
Problem: Input file does not include math.h

Input:termination/termcomp2016/C/AProVE_numeric/LogRecursive_true.c Settings:settings/buchiAutomizer/termcomp2017-Noproofs-Rne.epf Toolchain:toolchains/AutomizerAndBuchiAutomizerCInlineWithBlockEncoding.xml

[2018-06-29 15:54] alexandernutz commented on #362
First analysis of the problem: (I think it's not a conceptual problem)
 - there is a global variable
int j[7] = {1};
 - the problem occurs in this piece of code (inside some function, line 696):
 int j;
 for (j=0; j<=2; j++)
 - the problem:
  instead of the local j that should shadow the global j, the symbol table returns the global one's SymbolTableValue.
 - the suspect:
  multiparserenaming
 @da

[2018-06-29 16:01] alexandernutz commented on #363
to me this looks very similar to #362 :
variable node is declared locally, the symbol table entry is named node, but the lookup in the symbol table happens under its multiparserenamed name. Thus the lookup fails.
@danieldietsch what do you think?

[2018-06-29 16:06] #364 closed

[2018-06-29 19:41] danieldietsch commented on #362
I had a look .. its complicated.
You are right, it is related to the multiparse renaming. We only prefix global variables and procedure names, but we miss the lookup in this case.
I (hopefully) fixed this issue with ba12c21 but now I get another issue with struct field names.

Perhaps @buehlery has time (although it is on very short notice) and can have a look at this problem.

[2018-06-29 19:57] buehlery commented on #362
Seems like a corner case I forgot to cover.

The fix in ba12c21 which disables multiparse renaming should fix the problem.

Because multiparse-renamed symbols are always global (variables, functions) there should be no 'false-positive' where the first 'if' would find the wrong symbol as that would mean there would be a symbol with the same name as the renamed symbol (pre-renaming) in an outer scop

[2018-06-29 21:03] alexandernutz commented on #362
To me, this still looks like a multiparse-renaming issue.
It is looking for a struct field named "i", but the struct only has a field named "__U_MULTI_fC__data_ultimate_pa_trunk_examples_termination_termcomp_____C_SV_COMP_Mixed_Categories_cs_fib_longer_true_unreach_call_c__i".
Am I overlooking something?

[2018-07-01 10:09] #362 closed

[2018-07-01 10:14] danieldietsch commented on #363
After the fix to #362 this file now errors with ``java.lang.IllegalArgumentException: ASTType is null - cannot resolve type.``

[2018-07-01 10:16] Heizmann commented on #363
Not a known problem to me. @alexandernutz could you have a look?

[2018-07-01 10:28] danieldietsch commented on #363
I added a minimal example in ed6fd26 -- perhaps I can have a look later, but the example is rather minimal.

[2018-07-02 08:35] #349 closed

[2018-07-02 08:35] #343 closed

[2018-07-03 06:55] danieldietsch commented on #347
@schillic did this issue with the configuration for reqparser persist?

And I am not sure what we can do about the automatic analysis issue. My stackoverflow question got no results.

[2018-07-03 06:59] schillic commented on #347
Yes.

But you do not have this issue about code highlighting, right?

[2018-07-06 10:09] invd opened #365 "fail gracefully for unsupported assert() and _Static_assert()"
As described in #271 and #280, Ultimate does not support **assert()** and C11 **_Static_assert()** yet.
This is a problem since depending on the usage, Ultimate fails with different Type Errors due to internal confusions.
It would be helpful if they would be correctly detected and marked as such instead of the current error behavior.

Example output from today's Ultimate for the short example prog

[2018-07-06 10:15] invd commented on #359
I still see this issue with today's Ultimate 8de8874bb85c5cb95aa1930e149dec9dbc679170 against Trezor bootloader code, so the underlying issue is not completely fixed.

[code]

[2018-07-06 10:39] invd commented on #308
The behavior of Ultimate appears to have significantly improved with the mentioned fixes and other performance improvements.

The runtime of the tested example programs is now under 1 minute on the previously described VM:

[code]

[code]

[code]

Memset examples 3 to 10 behave similarly well. The out of bounds access in memset_example_10.c is quickly detected. Therefore, the issue appears to be s

[2018-07-06 10:39] #308 closed

[2018-07-06 11:08] invd commented on #271
assert() is still not supported. Today's Ultimate either ignores violated assertions (e.g. the `assert(0)` in the example above) and successfully runs over those programs, or has issues with the assertion conditions and fails during translation.

`assert(false);` instead of `assert(0);` in the example leads to:
[code]

`assert(1 == 0);` leads  to:
[code]

I recommend a graceful failure similarly t

[2018-07-06 11:11] invd commented on #270
With today's Ultimate version, this is still broken, although with different error output when compared to November.

`~/ultimate/releaseScripts/default/UAutomizer-linux/Ultimate -tc ~/ultimate/releaseScripts/default/UAutomizer-linux/config/AutomizerReach.xml -s ~/ultimate/trunk/examples/settings/all-64bit-Automizer_Bitvector.epf -i ~/ultimate/trunk/examples/programs/toy/showcase/CyclicBuffer.c`
[

[2018-07-06 11:34] invd commented on #317
Ultimate still happily returns "Ultimate proved your program to be correct!" for the example program that does not even compile due to gcc read-only checks. ("assignment of read-only location")

Since this lack of support is effectively a large problem for verification soundness of programs involving const variables, I'd argue it deserves an elevated priority with regards to future changes to the

[2018-07-06 11:42] invd commented on #331
Today's Ultimate appears to run fine on the example program:
`./Ultimate -tc ~/ultimate/releaseScripts/default/UAutomizer-linux/config/AutomizerMemDerefMemtrack.xml -s ~/ultimate/trunk/examples/settings/default/automizer/svcomp-DerefFreeMemtrack-32bit-Automizer_Default.epf -i ~/ultimate/trunk/examples/CToBoogieTranslation/trezor/ctrans-unsupported-syntax-volatile.c`
`RESULT: Ultimate proved your p

[2018-07-06 11:43] invd commented on #335
NPE is still present with today's Ultimate version.

[code]

[2018-07-06 12:34] invd commented on #306
Today's Ultimate fails with a null pointer exception when it is run against the unprocessed **soundness_fprintf_2.c** example:
[code]
For the unsafe  **soundness_fprintf_2.c**, Ultimate is able to correctly find the problematic position:
[code]
The fault in soundness_printf_1.c is found as well.
As a summary, some parts of this issue are solved, some are untestable due to other blocking issues.

[2018-07-06 12:55] invd commented on #336
As expected, today's Ultimate still behaves in the described way with regards to the verification of "dead code".

Example:
[code]

When looking at multiple error locations with default values for *--rcfgbuilder.add.additional.assume.for.each.assert*, the output is misleading for regular users as described above:
`./Ultimate -tc ~/ultimate/releaseScripts/default/UAutomizer-linux/config/AutomizerMe

[2018-07-06 12:59] invd commented on #280
Current status: _Static_assert() is still not supported.

[2018-07-06 13:08] invd commented on #312
The **unprocessed** soundness_fprintf_2.c triggers another distinct NullPointerException as described in #306.

Running Ultimate on the **preprocessed** version of soundness_fprintf_2.c leads to the (intended) Unsupported Syntax exception, which prevents further testing of the NPE listed above.

Likely, this issue can be closed.
[code]

[2018-07-06 13:11] invd commented on #309
Further testing of this issue is blocked by #359.

[2018-07-06 13:17] invd commented on #322
Today's Ultimate runs over the example program listed above, as expected:

`./Ultimate -tc ~/ultimate/releaseScripts/default/UAutomizer-linux/config/AutomizerMemDerefMemtrack.xml -s ~/ultimate/trunk/examples/settings/default/automizer/svcomp-DerefFreeMemtrack-32bit-Automizer_Default.epf -i ~/ultimate/trunk/examples/CToBoogieTranslation/trezor/unicode_u16_u32_string_test.c`
`RESULT: Ultimate proved

[2018-07-06 14:22] invd commented on #321
For svcomp-DerefFreeMemtrack-32bit-Automizer_Default.epf and partialmain_bmp_logo64_evil_Elim1Store2.c, runtime is about 5 minutes when only the first error location is looked at. Due to bit operations, the result is unprovable, as expected.
[code]

When testing a similar run with the svcomp-DerefFreeMemtrack-32bit-Automizer_Bitvector.epf profile, z3 crashed on the first run with a segfault after

[2018-07-06 14:23] invd commented on #326
It is currently unclear if this error is still present in recent versions of Ultimate.

[2018-07-06 14:39] invd commented on #321
A further run with svcomp-DerefFreeMemtrack-32bit-Automizer_Bitvector.epf and identical settings did not crash and delivered the expected result on *partialmain_bmp_logo64_evil_Elim1Store2.c* after **32** minutes.
[code]

[2018-07-06 14:53] invd opened #366 "java.lang.StackOverflowError for array[8192]"
Example program with straightforward out of bounds memory access:
[code]

After less than 2 minutes of runtime, Ultimate runs into smtinterpol errors:
`./Ultimate -tc ~/ultimate/releaseScripts/default/UAutomizer-linux/config/AutomizerMemDerefMemtrack.xml -s ~/ultimate/trunk/examples/settings/default/automizer/svcomp-DerefFreeMemtrack-32bit-Automizer_Default.epf -i ~/source/code/experiments/backtra

[2018-07-06 15:07] invd opened #367 "excessive array printing in error backtraces"
*Feel free to add the appropriate issue labels.*

As can be observed with modified variants of the error program shown in #366, one line of backtrace output is generated for each element of the array involved in the error trace.

Code:
[code]

Output:
[code]

This is distracting and should be reduced / compressed.

Used settings for version 8de8874bb85c5cb95aa1930e149dec9dbc679170:
`./Ultimate -tc

[2018-07-06 15:09] invd commented on #366
I can confirm that this error can be triggered by `_oledbuffer[6000];` as well.

[2018-07-07 20:22] invd commented on #321
Running Ultimate with the -Automizer_Bitvector.epf profile on the full *partialmain_bmp_logo64_evil_Elim1Store.c* version again produced a segfault in z3, this time after about an hour:
[code]
**[400000+15c5000]** is the same code location that triggered the last error, which suggests this is not a random issue.

@danieldietsch, @jhoenicke: is there an interest to debug this segfault further, e.g.

[2018-07-07 21:35] invd commented on #321
On a subsequent Ultimate run with identical settings, z3 crashed again after about an hour, so this behavior appears to be reproducible.
```[Sat Jul  7 23:20:21 2018] z3[28027]: segfault at 0 ip 0000000000cfa8ae sp 00007ffcafc658d0 error 4 in z3[400000+15c5000]```
@danieldietsch: does it make sense to create a new Ultimate issue for this?

[2018-07-08 06:45] danieldietsch commented on #359
@invd could you attach the exact input file you used for this issue? And did you use one of the settings from ``settings/default/automizer/...`` without additional command line settings?

Background: the error seen here (``the value of the constructed RValue has a BoogieType that is incompatible with its CType``) is a fallback that happens because something before missed an edge case.

[2018-07-08 13:01] danieldietsch commented on #321
@invd is the full version of ``partialmain_bmp_logo64_evil_Elim1Store.c`` the one stored in [examples/CToBoogieTranslation/trezor](https://github.com/ultimate-pa/ultimate/blob/dev/trunk/examples/CToBoogieTranslation/trezor/partialmain_bmp_logo64_evil_Elim1Store.c) ?

And no, a separate issue will not be necessary; I will try to reproduce this and check against the latest z3 version. If it still se

[2018-07-09 08:05] danieldietsch commented on #321
This might be due to the assertion order modulation slowing down everything. This is interesting in itself but for you it might be avoidable by using ``--traceabstraction.trace.refinement.strategy CAMEL_NO_AM``.

Sadly, there is currently no equivalent for the ``Bitvector`` variant (i.e., there is no WOLF_NO_AM).

[2018-07-09 08:16] danieldietsch commented on #367
I agree.

[2018-07-09 08:17] danieldietsch commented on #366
@alexandernutz can the new initialization help for this example?

[2018-07-09 08:34] danieldietsch opened #368 "Have an XnfTransformer variant that does not use Poset simplification"
We apply a simplification in XnfTransformer that tries to replace ``(A o B o C) ? (A o B)`` with ``(A o B)``.
For large Xnf's this transformation takes a substantial amount of time.
For particular inputs a user might know that such a simplification is a waste of time (as indicated with the SBE / horn clause examples).

The simplification is currently done with ``XJunctionPosetMinimalElements``:

T

[2018-07-09 08:57] jhoenicke commented on #353
I think this bug is fixed now by ultimate-pa/smtinterpol@a62eabf7 and ultimate-pa/smtinterpol@0cda0cdb.
Last I checked, the file runs out of memory in the interpolator, but this may be unavoidable (interpolants are sometimes exponential in the size of the proof tree).

[2018-07-09 09:22] danieldietsch opened #369 "Replace string debug identifier in ``IcfgLocation`` by dedicated types to reduce memory load"
**Problem**
For certain situations, the debug identifiers generated by various transformations contain very large strings that consume an unnecessary amount of memory.
One occurrence is the transformation of requirements to Boogie. There, we do not have line numbers of our input. This triggers an edge case where most of the debug identifiers are of the form ``L1(')^n``, with ``n`` between 1 and ~1

[2018-07-09 09:32] #353 closed

[2018-07-09 12:29] Heizmann commented on #369
I do not want to distract from the topic that current implementation of the DebugIdentifier is not optimal. But if you would not have a large Boogie Input in which the whole program is in one single line you would not have this problem.
There might be other related problems because when I implemented this I neither optimized performance nor usability for single line programs.

[2018-07-09 12:46] danieldietsch commented on #369
This is true.

[2018-07-11 09:43] invd commented on #321
`./Ultimate -tc ~/ultimate/releaseScripts/default/UAutomizer-linux/config/AutomizerMemDerefMemtrack.xml -s ~/ultimate/trunk/examples/settings/default/automizer/svcomp-DerefFreeMemtrack-32bit-Automizer_Default.epf --traceabstraction.trace.refinement.strategy CAMEL_NO_AM` against *partialmain_bmp_logo64_evil_Elim1Store.c*

@danieldietsch:
This refinement strategy actually makes a huge difference and

[2018-07-11 09:52] danieldietsch commented on #321
Very good. I will explore the assertion order modulation impact on various examples soon and then come back to this.

[2018-07-11 10:00] invd commented on #366
I can confirm that Ultimate version 472692297f66b14197f63de46ccd9873a7dc260c from yesterday is still affected.

[2018-07-11 10:23] invd commented on #359
@danieldietsch: as described in direct communication, the issue is still present in version 472692297f66b14197f63de46ccd9873a7dc260c. A crashing example program has been provided via mail.

Notably, this problem can also triggered in variants of the program which have an empty main() function.

[2018-07-11 10:38] invd commented on #321
@danieldietsch:
Are there any settings  you can recommend regarding further debugging of the z3 segfault, e.g. to extract inputs given to z3 inputs?

version:
[code]
sha256sum:
`1639b0a0afe571a774bba6f751e38d52bc445cdcf72a5abc3715168f8f1353e6  z3`

There appears to be a new official bug fix version [4.7.1](https://github.com/Z3Prover/z3/releases/tag/z3-4.7.1) from late May. I will manually copy an

[2018-07-11 10:39] jhoenicke commented on #366
I can look into making these conversions non-recursive.  Looks like it happens in proof production.

The array initialization would help, but it is not ready yet, and we have no idea how to interpolate some special cases for the new proof rules required for constant arrays.

[2018-07-11 10:59] invd commented on #321
Ultimate 472692297f66b14197f63de46ccd9873a7dc260c makes z3 4.7.0 reproducibly crash as well with the mentioned constellation. This happened after **5 minutes** of runtime.
[code]

I will now test z3 4.7.1  .

[2018-07-11 12:41] invd commented on #321
4.7.1 crashes as well:
[code]
As expected, the crash position has changed in the new binary:
[code]

Z3 from [z3-4.7.1-x64-debian-8.10.zip](https://github.com/Z3Prover/z3/releases/download/z3-4.7.1/z3-4.7.1-x64-debian-8.10.zip) bin/z3 :
[code]

[2018-07-11 12:43] danieldietsch commented on #359
Ok, good to know. For reference, the file is ``code/experiments/bootloader_code2/combined_09jan2018_nostrwidth_output_ultimate_emptymain.c```in invd's repository.

I will minimize it and reference the minimized version here.

[2018-07-11 12:57] danieldietsch commented on #321
The z3 version in our repository is z3-4.6.0-master-2abc759d0 (2018-04-10).

You can dump the script that crashes z3 with
[code]
Usually, the last ``.smt2`` file in that directory is the one that crashes z3. You can then test it by calling ``z3 -smt2 SMTLIB2_COMPLIANT=true <file>``.

[2018-07-11 13:46] invd commented on #299
@danieldietsch: Jenkins still counts the valid "Syntax Error" response by Ultimate as an error. How to encode this expected result in the regression?

[2018-07-11 14:54] invd commented on #321
I have successfully collected 19 .smt2-files for this crash using the recommended method. Manual z3 tests are running to confirm that the last file is responsible for the crash.

[2018-07-11 16:18] invd commented on #321
@danieldietsch:
So far, I have not been able to reproduce the crash.

When using just the recommended `z3 -smt2 SMTLIB2_COMPLIANT=true <file>`, z3 runs for a long time (75 minutes at the moment).

When using `z3 SMTLIB2_COMPLIANT=true -memory:2024 -smt2 -t:2000 <file>`, which matches the original Ultimate behavior more closely, z3 finishes within a reasonable time,  but appears to complete without

[2018-07-11 17:10] danieldietsch commented on #321
There are no other flags and it is rather unlikely that the segfault is due to stdin interaction.
But it could be that the crash does not originate from trace checks but rather from other SMT queries which are performed on a separate solver instance. The log surrounding the actual crash (not only the result) usually show what happened.

Anyways, you can also dump those other interactions, but the

[2018-07-11 17:12] danieldietsch commented on #299
Currently, there is no easy way. We need a separate test result decider for that.
I have a ticket draft for an improved regression test environment where this will be possible.

Perhaps an intermediate step could be to have a richer syntax for expected values in files.

[2018-07-11 20:14] invd commented on #299
From my point of view, it could be reasonable to put this "noncompliant" C code example into a special subdirectory that is exempted from regular regression testing until the test outputs can be interpreted correctly. Having constant invalid test results lowers the willingness of developers to look at them, and of those 261, there are likely a few that require attention.

[2018-07-13 03:44] andreat opened #370 "Ignored files make compilation fail"
Dear developers,

I am trying to use Ultimate in Eclipse, but it fails while building it by showing the same errors on multiple projects. All errors are like "ForkStatement cannot be resolved to a type" and "The import de.uni_freiburg.informatik.ultimate.boogie.ast.ForkStatement cannot be resolved" (or with JoinStatement instead of ForkStatement).
Problems such the above ones occur for instance in

[2018-07-13 06:44] danieldietsch commented on #370
Hi Andrea,
did you check [our troubleshooting section](https://github.com/ultimate-pa/ultimate/wiki/Troubleshooting#ultimate-does-not-compile) for this issue?

In particular if you setup the development environment for the first time, this might happen.

[2018-07-13 07:11] andreat commented on #370
Hi Daniel,

the environment was set up already some time ago and it was working. Then I updated Ultimate and refreshed everything but I was facing the reported problem.

Now it has been solved by making a full clean&build followed by a refresh of Crocotta since after the build induced by the clean, Crocotta needed another refresh to compile correctly.

I wonder why the simple refresh was not enoug

[2018-07-13 07:11] #370 closed

[2018-07-15 08:40] jhoenicke commented on #366
@invd I can't reproduce it (for me z3 runs out of memory).  Can you generate the smt scripts? I think the option is `--traceabstraction.dump.smt.script.to.file true`

[2018-07-20 15:33] danieldietsch opened #371 "Assertion error during CFG2NestedWordAutomaton"
AssertionError with the following Boogie file:
[test.bpl.txt](https://github.com/ultimate-pa/ultimate/files/2214492/test.bpl.txt)

[code]
Call is
``-tc toolchains/AutomizerBpl.xml ``
``-i test.bpl ``
``-s settings/default/automizer/svcomp-Reach-64bit-Automizer_Default.epf``

[2018-07-20 19:04] danieldietsch commented on #371
Hm, interesting. I assumed that such a transition can never be taken in an Icfg. Is this not the case?

[2018-07-20 21:10] Heizmann commented on #371
What is "such a transition"?

We have not yet defined precisely what a valid ICFG is. Hence, I cannot say if something like the `IcfgLocationIterator` is suiteable for finding set of reachable locations.

[2018-07-21 06:36] danieldietsch commented on #371
Q1:

This sounds like a good solution if my answer Q3 is ok for you and if the ``IcfgLocationIterator`` actually adheres to my answer for Q3.

Q2:

__U_MULTI_f_storage_ultimate_releaseScripts_default_DeltaDebugger_linux_test_c__mutex_unlockENTRY
However, your IcfgLocationIterator never returns this location because it is not reachable from the initial location.

For the future I will try to avoid

[2018-07-21 07:50] Heizmann commented on #371
* So according to your definition every return transition has a *corresponding* call transition.
Pro: makes the reachability analysis (and maybe other things?) easier.
Con: we will not be able to translate all intermediate results of the trace abstraction back to an ICFG. Affected are e.g., *path programs with unwindings*.
* Your definition says nothing about a stack, so a sequence `call foo` `cal

[2018-07-21 07:56] schillic commented on #371
To simplify the definition, I guess @danieldietsch wants to say this:
An ICFG location `loc` is reachable if the *corresponding nested word automaton*¹ with set of accepting states {`loc`} has a non-empty language.

¹I think this definition is clear.

[2018-07-21 08:36] danieldietsch commented on #371
Yes. Is this not the case? I do not know what path programs with unwindings are.

No. First of all, I do not talk about sequences, only about reachability of locations. If you want to say: which locations are reachable in an ICFG where ``l0`` is an initial location and the transition relation of the ICFG is ``E= { ({l0},(l1)),  ({l1},l2), ({l2,l0},l3), ({l3,l1},l4) }``, then only ``l0, l1`` and ``

[2018-07-21 08:41] schillic commented on #371
This is because the sequence call foo call bar return foo return bar has a call (call bar) that is not corresponding to a return (return foo) before a return instead of only internal transitions up to the call that is corresponding to the return.

According to your definition, in the sequence `call foo, call bar, return bar, return foo` (note that I changed the order) the location after `return fo

[2018-07-21 08:51] Heizmann commented on #371
I wrote that in italics because we do not yet have a term for that.
You know "path programs" which are a projection of path to ICFG.
Let's assume we have a path that unwinded some loop 5 times. Maybe we want to have something similar than a path program, where this loop is also unwinded 5 times.

[2018-07-21 09:13] danieldietsch commented on #371
Right, that looks bad. Perhaps the nested word definition is nicer. Can you write it in full here?

[2018-07-21 09:17] danieldietsch commented on #371
But how would the resulting path program have a return transition without corresponding call?

[2018-07-21 09:42] Heizmann commented on #371
There are several calls that could match (only one for each concrete run but there might be many possible runs).

[2018-07-21 11:07] schillic commented on #371
I do not think that there is a concise way of writing it down. This is the version I know:

A well-matched word (WMW) is defined recursively:
- A (possibly empty) sequence of internal statements is an WMW.
- If `w1`, `w2`, and `w3` are WMW, then `w1.call f.w2.return f.w3` is an WMW.

A matched-return word (MRW) is a sequence
`w1.call f1.w2.callf2...call fk.wk+1`
where the `wi` are WMW.

With this

[2018-07-22 05:54] danieldietsch commented on #371
@schillic what is ``f`` in your definition?

[2018-07-22 08:11] schillic commented on #371
Just some function names. I updated the text.

[2018-07-22 11:18] danieldietsch commented on #371
Ok, that looks good. And it seems that it does not really need much from nested word automata, right?

[2018-07-22 11:21] danieldietsch commented on #371
Btw I had in the meantime a look at the ``IcfgLocationIterator`` -- the comment reads:
[code]
So, the iterator does not care at all for nesting.

[2018-07-22 20:10] Heizmann commented on #371
No, I think we cannot. All ICFG plugins would then depend on the AutomataLibrary and a re-implementation of the reachability analysis would be too complicated.

[2018-07-22 20:15] Heizmann commented on #371
Regarding the bug:
I proposed a solution. @danieldietsch said I should implement that solution in case IcfgLocationIterator adheres so something that was stated in **Q3** above. The further discussion showed that IcfgLocationIterator does not adhere to what was stated in **Q3**

So let me propose again.

[2018-07-22 20:29] Heizmann commented on #371
Regarding the problem of the missing semantics:
I cannot see how we could define the semantics without nested word automata, visibly pushdown automata, or pushdown automata.
Just using nested words is not sufficient. It does not tell you which return has to match which call.

[2018-07-24 09:11] #371 closed

[2018-07-24 13:15] #369 closed

[2018-07-24 14:00] danieldietsch commented on #273
Separate issues will handle remaining problems.

[2018-07-24 14:00] #273 closed

[2018-07-24 14:04] #312 closed

[2018-07-27 15:05] danieldietsch opened #372 "Regression tests for ReqAnalyzer"
ReqAnalyzer currently has no regression tests.
We want to have some.

[2018-07-30 09:56] gschievelbein commented on #335
Not reproducible anymore

[2018-07-30 09:56] #335 closed

[2018-07-31 13:56] invd commented on #366
Here is the corresponding smt2 file (renamed as .smt2.txt) obtained via `--t
raceabstraction.dump.smt.script.to.file true `: [Script_backtrace_array_verbosity_6000.smt2.txt](https://github.com/ultimate-pa/ultimate/files/2245539/Script_backtrace_array_verbosity_6000.c_Iterationbacktrace_array_verbosity_6000.c_AllErrorsAtOnce_1.smt2.txt)

[2018-07-31 14:25] invd commented on #270
This issue is still present 0.1.23-97aecd6:
[code]

[2018-07-31 16:49] invd commented on #359
Today's Ultimate 97aecd66c1162e91d286d38715432d609764915b still shows this issue on the Trezor code. After discussion with @danieldietsch and @jhoenicke, it appears that there are many ways to trigger this issue, which is rooted in Ultimate's inability to deal with certain implicit type conversions (see the minimal example that explores one variant of this).

[2018-07-31 17:00] invd commented on #335
I agree with @gschievelbein, running Ultimate 97aecd66c1162e91d286d38715432d609764915b against soundness_fprintf_2.c does in fact no longer lead to an NPE and an **UnsupportedSyntaxResult** is returned, which is expected due to the lack of preprocessing for the stdio.h include:

[code]
When running Ultimate against the preprocessed version, it correctly detects the var args function:

[code]

[2018-07-31 17:06] invd commented on #321
@danieldietsch, @jhoenicke and myself have spent further time to debug this, but have not been able to pinpoint the exact smt2 file and argument combination that results in the segfault.

The ~4.4MB rcfgbuilder smt2-file dumped after the last comment by @danieldietsch does not crash z3.

[2018-07-31 17:15] alexandernutz commented on #359
just a hint: usually the solution for this kind of issues is to add a "decayArrayToPointer" conversion (there is a method named like this in CHandler or so) at the right place in the translation (i.e., as soon as we can be sure that the array expression is used as a pointer).

[2018-07-31 20:05] jhoenicke commented on #366
Stack overflow fixed by ultimate-pa/smtinterpol@571181f.

[2018-08-01 11:38] danieldietsch commented on #366
Merged into Ultimate with 474129a

@invd: Do you want to recheck?

[2018-08-01 14:08] gschievelbein commented on #359
solved in commit febf0b9a418ed59cd75d0b33bca6e4fcd3db713e

[2018-08-01 19:06] invd commented on #359
This issue is not fully fixed in Ultimate bd71e1ad3aca1ffdbbcf77b634ea1f3b625bca1a:

[code]

I suspect that only one of several error conditions that lead to this exception has been addressed.

[2018-08-02 06:13] danieldietsch commented on #366
Ok, this sounds like a different issue then. New modelling for array initialization (@alexandernutz is working on them) may help.
But the stack overflow is gone, so I am closing this ticket.

[2018-08-02 06:13] #366 closed

[2018-08-02 06:28] danieldietsch commented on #359
The respective [regression test](https://github.com/ultimate-pa/ultimate/blob/dev/trunk/examples/CToBoogieTranslation/regression/ctrans-bug-UOE-unsupportedrelation.c) is also still failing.
@gschievelbein can you have another look?

[2018-08-08 12:57] #372 closed

[2018-08-08 21:26] alexandernutz opened #373 "VPDomain: optimize performance"
VPDomain is still very slow on certain rather small examples.
There -should- be potential for optimization.

[2018-08-10 17:38] #361 closed

[2018-08-16 16:15] schaetzc opened #374 "Jung Graph Visualization Missing Important places for Petri nets"
The following Petri net does not accept any word. To cover the only accepting place, transition b has to fire, which is not possible because place p3 never has a token.

[code]
However, when printing said net with our Jung Graph Visualization, place p3 is left out and the net looks as if it would accept the word `ab`. Here's an ASCII art "screenshot":
[code]
This is how I would draw the Petri net

[2018-08-16 16:38] schillic commented on #374
I am not sure if this is a bug or a feature. It depends on what you should expect from the visualization.

[2018-08-16 21:27] schaetzc commented on #374
Definitely not a feature. Some more explanation:
[code]
The language of the net from my first post is `L(n) = { }`.
The language of the net from this post is `L(nAsVisualized) = { ab }`.
Clearly `L(n) != L(nAsVisualized)` but the Jung Graph Visualizations of both nets is completely identical. There is no way to tell the difference by just looking at the visualizations.

[2018-08-16 22:47] Heizmann commented on #374
I presume it is expected that the visualization shows all nodes and then this is a bug.
I am not using the visualization, hence I will not fix this soon unless you need it.

[2018-08-17 08:49] schaetzc commented on #374
That's my expectation. Another acceptable visualization would include at least the reachable transitions, all direct predecessors of all included transitions (!), and the reachable accepting places. A superset of these nodes can be computed as follows:
- Do a BFS starting at the initial places
- Include transitions only if all of their predecessors are already included.
- Include places when visit

[2018-08-18 11:13] schaetzc commented on #374
Low priority is sufficient.

[2018-09-04 15:47] danieldietsch opened #375 "Do not prefix variables with multiparse prefix if only single file is parsed"
Variable names like ``~__U_MULTI_fF__repos_svcomp_c_eca_rers_____Problem___label___true_unreach_call_c__a28~0`` are really hard to read during debugging.

[2018-09-04 16:00] invd commented on #359
Trezor code is still affected, no improvement visible here. This is a major blocker.
3cea2480e0162cca93f99c9f013b388aca0ca196

Identical error message:
[code]

[2018-09-04 17:43] invd opened #376 "isolate and report z3 segfault from Trezor drawing code"
This issue has come up during #321 and has been discussed there, but should be continued in an independent issue.

**Problem**: Ultimate triggers a segfault in **z3** when run against
[partialmain_bmp_logo64_evil_Elim1Store.c](https://github.com/ultimate-pa/ultimate/blob/dev/trunk/examples/CToBoogieTranslation/trezor/partialmain_bmp_logo64_evil_Elim1Store.c) with Bitvector precision. More details

[2018-09-04 23:55] Heizmann commented on #359
Maybe I just fixed that.
https://github.com/ultimate-pa/ultimate/commit/39759c9d724777c19f1a01b3448a4e6bbda98403

[2018-09-05 00:13] invd commented on #359
The issue still persists with the newest Ultimate 39759c9d724777c19f1a01b3448a4e6bbda98403 .

[2018-09-05 00:37] Heizmann commented on #359
How can I reproduce this?

[2018-09-05 07:27] danieldietsch commented on #359
@Heizmann See the minimal example.

[2018-09-05 18:27] invd commented on #359
55903dff755ffb961c3d1e03797f004bb5b4d658 does **not** solve the issue for the Trezor code in question:

[code]

[2018-09-05 20:17] Heizmann commented on #359
Thanks for testing this so quickly.
Which is the program where this error occurs?

[2018-09-06 07:58] danieldietsch commented on #359
I added a minimal example.
@Heizmann The file in question is in invd's repository. There are two reasons why it is not in Ultimate's repo:
* it should not be publicly accessible because it might hint at security issues in other peoples code
* it contains many C errors and warnings if run through our usual gcc check and would thus be ignored my other maintainers until those errors are fixed, which

[2018-09-06 08:00] danieldietsch commented on #359
I think @gschievelbein may also look at this issue.

[2018-09-06 08:12] danieldietsch commented on #176
dc57949708e74e15f027aa08bb2931256171c6ef is part of this ticket

[2018-09-06 08:13] danieldietsch commented on #319
@Heizmann can we close this ticket?

[2018-09-06 13:34] Heizmann commented on #359
How urgent is this?
I can
* fix this particular problem quickly (next similar problem may pop up)
* fix the problem partially (some risk that it does not work)
* fix the problem (time-consuming, some risk that I will not finish this task within the next weeks)

[2018-09-06 21:19] Heizmann commented on #319
No. I don't know if the problem is already fixed.
I will check that more carefully when I fix the dumping of automata.

[2018-09-07 12:54] invd commented on #376
I have done further debugging on the base of Ultimate 55903dff755ffb961c3d1e03797f004bb5b4d658.
With the regular z3 4.7.0 version shipped at the moment, z3 crashes with a segfault. Earlier tests suggest that the official 4.7.1 version crashes as well.

I have compiled **Debug**, **Release** and **RelWithDebugInfo** variants of z3 versions based on the recent z3 master branch from this week (_e8a78

[2018-09-07 13:16] invd commented on #359
@Heizmann: the thesis is finished, therefore this is not acutely blocking time-critical academic research (anymore).

From an end user's perspective, the positive aspect here is that the error is triggered quickly and clearly during the translation phase (as opposed to crashing hours into a long run / producing a problematic result). However, since this error is triggered even with an empty main()

[2018-09-07 18:39] invd commented on #376
As expected, the self-compiled 4.7.1 z3 binary with debug infos (RelWithDebugInfo) behaves similar to the publicly available 4.7.1 release version with regards to performance and segfaults within 90 minutes of Ultimate runtime:
[code]

[2018-09-07 23:19] invd opened #377 "NPE: TypeHandler.cType2AstType"
Observed in Ultimate 08d4a0152fab59f1da0c9942206f8aa51963d6ea after fixes in #359.

Settings:
[code]

Error message:
[code]

[2018-09-07 23:22] invd opened #378 "ClassCastException: CNamed cannot be cast to CPrimitive"
Observed in Ultimate 08d4a0152fab59f1da0c9942206f8aa51963d6ea after fixes in #359. Note that this only appears with the Bitvector setting, otherwise #377 is encountered.

Settings:
[code]

Error message:
[code]

[2018-09-07 23:53] Heizmann commented on #378
For which input program does the error occur?

[2018-09-09 12:15] invd commented on #378
The affected target program is the one referred to  in #359, which is not public at the moment.

The newest Ultimate 1b2bd5cb23de2367ef85fe9d0051fe89b96beab6 still runs into the same problem:
[code]
Therefore the bugfix in 8a4d3c6c2a004a4c987b6c46337d1dba4dead967 was not (completely) successful.

[2018-09-09 18:04] Heizmann commented on #378
But without a program I cannot reproduce the problem.
What is our procedure for these cases? Could Daniel or anyone else extract a smaller program that we can make public?

[2018-09-09 19:58] invd commented on #378
@danieldietsch and @jhoenicke have access to the program, but I agree that this situation is not optimal. In short, it was not anticipated that this program would be needed for reproducing regression issues this often since Ultimate has been able to run it a few months ago.

The program itself is a mangled, pre-processed version of the open source Trezor bootloader code from early 2018 that is har

[2018-09-10 07:58] danieldietsch commented on #378
I will add a minimized example.

I also added a short tutorial for our delta debugger to our wiki: https://github.com/ultimate-pa/ultimate/wiki/Usage#deltadebugger-cli -- perhaps it allows others to already provide minimized examples.

[2018-09-10 13:51] #375 closed

[2018-09-10 16:28] gschievelbein commented on #377
Could I also get a minimized version for this issue?

I get no errors with the default settings with the minimized code from 6f4c591f68803fea0884fc4334980ef527b71d9f,

[2018-09-11 06:11] danieldietsch commented on #377
So far I was unable to reduce the example in a meaningful way. It might be that the syntax errors of the original file are now catching up to us.

[2018-09-11 08:30] Heizmann commented on #377
Sorry, I changed the error message https://github.com/ultimate-pa/ultimate/commit/338135fa39384f7d371b45ede4bbfc0a30d653c8.
But I can also extract a small example manually.

[2018-09-11 08:35] Heizmann commented on #377
[code]

[2018-09-11 09:17] danieldietsch commented on #377
@Heizmann thank you. I added the example in 5c05803

[2018-09-11 09:46] alexandernutz commented on #377
I do not have an idea for a simple solution.
I could imagine that so far we always assumed that all incomplete types are either completed before the program ends or thrown away by DetermineNecessaryDeclarations.
Maybe we need a new mechanic that only inserts declarations into the Boogie program if their C counterpart is actually used. Maybe the symbol table could be used to store this information.

[2018-09-11 09:53] Heizmann commented on #377
Is it allowed to use variables whose type is an incomplete struct?

[2018-09-11 10:18] alexandernutz commented on #377
I think in general no, but maybe there are some interpretations of the word "use" where it is allowed, but I suppose those would be corner cases.
I could imagine it is allowed to do an "addressof" of such a variable, but that is just guessing.

[2018-09-11 14:21] gschievelbein commented on #378
Fixed in commit 531c02fd63411bd00d58064d6226b9332f3aa410

[2018-09-11 14:21] #378 closed

[2018-09-11 22:46] invd commented on #378
I can confirm that this error no longer appears in new Ultimate version 1516d6984f6ef049c75a980f3265d808ad37745d. Thanks!

[2018-09-11 22:51] invd commented on #377
For the record, the error behavior has been improved from a **NullPointerException** to an **UnsupportedOperationException**:

[code]
If I understand the situation correctly, the target program contains an incomplete and internally referenced, but ultimately unused C struct that creates problems during translation. These problems may be a valid reason to abort the processing of the program.

[2018-09-11 23:02] Heizmann commented on #377
@alexandernutz but these corner cases will make the difference if the solution based on DetermineNecessaryDeclarations solves the problem or not.

[2018-09-11 23:40] alexandernutz commented on #377
@heizmann I guess it depends on the nature of the corner cases. Logic seems to dictate that c cannot use the contents of an incomplete type, so we should not have to either. (I'm having doubts if my example with addressof can make sense in any context.)

[2018-09-12 00:03] Heizmann commented on #377
It lies unfortunately in the nature of a software verifier that it has to deal with programs that do not make sense.

[2018-09-12 00:12] Heizmann commented on #377
I checked the C standard. We have to expect that pointers that point to incomplete types are used.
Furthermore, I think it makes perfect sense to take the address of an object that has incomplete type.
The completion of the type might be in a different compilation unit because you might want to abstract from details of your type.

[2018-09-12 02:39] Heizmann commented on #377
I would propose the following.
1. Use consequently named types also in Boogie. It seems like we currently have an optimization that tries to introduce as few types as necessary by always inferring the underlying type.
2. Set the "synonym" in TypeDeclaration and NamedTypes with a delay if appropriate. Set immediately if the underlying type is not an incomplete type. Otherwise, set the "synonym" onl

[2018-09-12 12:06] alexandernutz commented on #377
concerning 1: I do not know about such an "optimization". As far as I know, our policy was to keep named types intact. (There are many places, where we need and query the underlying type, but those should not modify the type that is assigned to an expression, but only "look inside".)

I cannot really comment on the overall plan as I'm not sure I understand the requirements fully.

[2018-09-12 12:29] Heizmann commented on #377
Then we violate our policy. E.g., in the example above, we never construct the type `myNewName`.

[2018-09-14 09:01] danieldietsch commented on #309
What is the state of this ticket now that #359 is resolved?

[2018-09-14 09:32] alexandernutz commented on #218
Other witnesses for this error:
memsafety/960521-1_false-valid-deref.i
memsafety/960521-1_false-valid-free.i

[2018-09-14 10:59] alexandernutz commented on #218
btw. the problem here is that an array access position is given with an expression that has side effects. Which we do not expect/support. Here, the side effect is a division-by-zero check.

[2018-09-14 11:49] Heizmann commented on #218
Workaroud: switch off division by zero check in preferences

[2018-09-14 11:55] Heizmann commented on #218
Although there is this workaround, we want to have to fix this (not urgent).
Difficulty: if the check is in the initialization of variables, the corresponding assert has to be added to the `ULTIMATE.init` procedure.

[2018-09-14 12:53] #96 closed

[2018-09-16 12:23] Heizmann opened #379 "Add images to the documentation in our wiki"
In the wiki we can easily include images if the images are available somewhere in the internet.
But where should we host these images? The wiki does not provide the possibility to upload images.

Solutions:
* Host images somewhere else in the internet.
* Upload images to some folder in the ultimate repository
* ...

[2018-09-16 12:26] schillic commented on #379
As far as I know, the wiki is just another git repository. You can check it out locally and add a folder with the images.

[2018-09-16 12:28] Heizmann commented on #379
And which folder should we pick? Any opinions?

[2018-09-16 12:33] schillic commented on #379
`git clone https://github.com/ultimate-pa/ultimate.wiki.git`
There is already a folder `img`. But you should probably start adding subfolders.

[2018-09-16 18:10] danieldietsch commented on #379
@schillic said it all :)

[2018-09-16 18:10] #379 closed

[2018-09-17 16:57] gschievelbein commented on #363
Was the original problem solved?
The minimal example throws the exception "No Boogie because C type is incomplete".

From what I understood, the extern keyword is not being correctly treated in Ultimate. The type being incomplete would only be a problem without the extern keyword.

The C program below, runs without errors in Ultimate both with and without the extern keyword. Whereas by using exter

[2018-09-18 07:47] danieldietsch commented on #37
After completion of multiparse, we have a rudimentary solution for this.

[2018-09-18 07:47] #37 closed

[2018-09-18 07:50] danieldietsch commented on #363
I think the original problem is solved, but the incomplete structs is still an issue.

Right now, Ultimate ignores the ``extern`` keyword.
I think it would be nice if we would support some kind of incomplete code for all the situations in which one wants to verify only parts of a program.
For example, an ``extern int`` seems trivial, because we can just treat it as an ``int``.
For structs it is mu

[2018-09-18 15:03] danieldietsch opened #380 "AssertionError: Incorrect DeclarationInformation of #valueAsBitvector. Expected: QUANTIFIED Found: <PROC_FUNC_OUTPARAM,write~intFLOATTYPE8>"
The following exception is triggered when using one of our old ESA float examples.

Settings: ``settings/default/automizer/svcomp-Reach-32bit-Automizer_Bitvector.epf``

[code]

Minimal example follows

[2018-09-18 17:17] gschievelbein commented on #363
Are includes checked in Ultimate?
If they are not checked, then yes, we can just assume that the `int` is defined somewhere else. If that is the case, I believe that `extern` can be ignored for primitive types, as it is now. Structs, in that case, wouldn't it be a matter of checking for `extern`, and then assume that it is defined somewhere else, and accept incomplete structs?

[2018-09-20 15:06] Heizmann commented on #218
Although there is this workaround, we want to have to fix this (not urgent).
Difficulty: if the check is in the initialization of variables, the corresponding assert has to be added to the `ULTIMATE.init` procedure.

[2018-09-20 17:39] Breee opened #381 "Ultimate evaluates fabs_double(NaN) > 1 to True"
Example:

[code]

Expected:
Error not reachable.  (Verified with CBMC)

Actual result:
Error is reachable, counterexample:

[code]

[2018-09-21 00:11] Heizmann commented on #381
The problem is the `fabs_double` function. This function is neither defined in the C standard nor in math.h and I cannot compile the file with gcc. Did the function definition got lost while shrinking the example?

[2018-09-21 10:01] Breee commented on #381
I don't understand what is the problem.
The function `fabs_double`is declared in the example.
We do not want to use the fabs function from math.h

If you want to compile the file using gcc,  you may have to replace `__VERIFIER_error();` with `//@ assert false;`

[2018-09-21 12:41] greitsch commented on #381
For the record, here is the program which can be compiled using GCC. (The result is that the error is unreachable.)

[code]

[2018-09-24 22:12] invd commented on #359
With the newest Ultimate 0.1.23-25d9b6c, this error appears to be back again:
[code]
The relevant Trezor source file from two weeks ago can be used to reproduce this. The relevant output is for the _svcomp-DerefFreeMemtrack-32bit-Automizer_Default.epf_ setting.

With _svcomp-DerefFreeMemtrack-32bit-Automizer_Bitvector.epf_, the error is very similar:
[code]

@danieldietsch: should I reopen this is

[2018-09-25 08:42] gschievelbein commented on #359
I will work on this

[2018-09-25 08:50] Heizmann commented on #359
I think I fixed it again in https://github.com/ultimate-pa/ultimate/commit/92f38635a7ab33d807a11f48a2585309c5561273 but please check if the problem is really gone.

[2018-09-25 16:10] invd commented on #359
@Heizmann: 999701d2d06e8e4e7dfe99f51290a74b5e2609e4 appears to be fixed again, I'm able to reach the #377 output message. Thanks!

[2018-09-25 16:10] #359 closed

[2018-09-30 18:02] gschievelbein opened #382 "AssertionError: not an integer constant: null:"
As of the log from 28.09.2018, there are 60 occurrences of the exception:
 de.uni_freiburg.informatik.ultimate.plugins.generator.cacsl2boogietranslator: AssertionError: not an integer constant: null: de.uni_freiburg.informatik.ultimate.cdt.translation.implementation.base.TypeHandler.constructEnumValue(TypeHandler.java:814):

[2018-09-30 18:05] gschievelbein opened #383 "IllegalStateException: Check for isGlobalScope first:"
From the log from 28-09-2018, 52 occurrences of the exception:
de.uni_freiburg.informatik.ultimate.plugins.generator.cacsl2boogietranslator: IllegalStateException: Check for isGlobalScope first: de.uni_freiburg.informatik.ultimate.cdt.translation.implementation.base.chandler.ProcedureManager.getCurrentProcedureID(ProcedureManager.java:401):

[2018-09-30 18:07] gschievelbein opened #384 "NullPointerException: null:"
As of the log from 28-09-2018, there occurs  27 Null Pointer Exceptions at various points of the code.
de.uni_freiburg.informatik.ultimate.plugins.generator.cacsl2boogietranslator: NullPointerException: null:

[2018-09-30 18:09] gschievelbein opened #385 "AssertionError: null:"
As of the log from 28.09.2018.

373  ExceptionOrErrorR...      de.uni_freiburg.informatik.ultimate.plugins.generator.cacsl2boogietranslator: AssertionError: null: de.uni_freiburg.informatik.ultimate.cdt.translation.implementation.result.LRValueFactory.constructHeapLValue(LRValueFactory.java:11):

109  ExceptionOrErrorR...      de.uni_freiburg.informatik.ultimate.plugins.generator.cacsl2boogietrans

[2018-09-30 18:11] gschievelbein opened #386 "AssertionError: Invalid Procedure:"
As of the log from 28-09-2018, one occurrence of the exception:

de.uni_freiburg.informatik.ultimate.plugins.generator.cacsl2boogietranslator: AssertionError: Invalid Procedure: Procedure[##fun~$Pointer$~X~{ event : int }~TO~int,[],[VarList[C: (*arg0)(arg1, arg2) [7852],[#in~144],NamedType[$Pointer$,[]],null],VarList[C: (*arg0)(arg1, arg2) [7852],[#in~145],StructType[[VarList[C: (*arg0)(arg1, arg2

[2018-10-01 08:09] gschievelbein commented on #385
Ok. Those errors also appear in the previous log from 23-09, and are present in the dev branch, as of 00a862152b4a22febbefb6c1a359a272ba3d6d94

[2018-10-01 08:38] danieldietsch commented on #385
Yes, we should definitely fix them regardless of the branch. I just wanted to ensure that you are aware of the source of the log.

The idea is that ``wip/dd/ctrans`` will be merged into dev as soon as it performs better than dev on the C translation. I think I only need to fix the error class `` AssertionError: cannot convert to CFunction: `` to accomplish that.

[2018-10-02 22:51] gschievelbein commented on #384
When trying to cast the return of a function of type void, its expression had a null RValue, causing the NullPointerException. This is fixed. If no more causes of a NullPointerException appears, this issue can be closed.

[code]

[2018-10-03 14:27] danieldietsch opened #387 "BoogieParser cannot parse some Boogie code produced by BoogiePrinter"
The following assert statement cannot be parsed with our BoogieParser:
``assert { fst: #t~mem10, snd: #t~mem11 }!fst + { fst: #t~mem12, snd: #t~mem13 }!snd >= 0;``

[2018-10-03 15:51] gschievelbein opened #388 "IllegalArgumentException: can apply float operation only to floating type, but saw INT:"
* Results from de.uni_freiburg.informatik.ultimate.plugins.generator.cacsl2boogietranslator:
  - ExceptionOrErrorResult: IllegalArgumentException: can apply float operation only to floating type, but saw INT
    de.uni_freiburg.informatik.ultimate.plugins.generator.cacsl2boogietranslator: IllegalArgumentException: can apply float operation only to floating type, but saw INT: de.uni_freiburg.inform

[2018-10-04 08:09] #388 closed

[2018-10-04 15:31] jhoenicke commented on #387
There is a shift-reduce conflict in assert/assume with the new attributes.

The parser resolved it in favor of shifting, i.e., it always parses {...} at the beginning of an assert/assume statement as an attribute.

See the FIXME in build-parser.xml

[2018-10-04 15:43] jhoenicke commented on #387
Possible fix for BoogiePrinter:
1. Always put parenthesis around assert/assume expressions (ugly?),
2. or put parenthesis if the expression starts with a StructConstructor (this is a bit harder to find out),
3. or always put parenthesis around StructConstructor  `({ fst: ...})!fst`  (also ugly?)

[2018-10-04 16:10] danieldietsch commented on #387
Oh, then this is my fault. At some point I added attributes to assert statements.

From these solutions I like 3. the most.

But having something like ``{ !`` for struct constructor and ``{ :`` for attributes would also solve the problem, right?

[2018-10-04 16:21] jhoenicke commented on #387
It wasn't that difficult to hack the lexer.  Hope it doesn't break something else, but I roughly checked that the grammar doesn't expect a colon after { except in an attribute.

[2018-10-08 18:15] gschievelbein commented on #382
https://en.cppreference.com/w/cpp/language/enum

[code]

For the code above, the exception occurs when trying to attribute the value of C.

[2018-10-08 20:53] gschievelbein commented on #382
Ok. So, what's happening is that the value of B is of type BinaryExpression, and the function to calculate the value of C expects and Integer constant, and adds 1.

Is the type of B being a BinaryExpression the expected behaviour? In this case, the value of C should also be a BinaryExpression(left = previous BinExpr, right = 1), correct?

[2018-10-08 21:12] alexandernutz commented on #382
I would expect that if we allow a binaryExpression for B, we also allow one for C. However, it is also sometimes useful to have the calculated value of enum constants --> SymbolTableValue has the field mConstantValue for this purpose.
I'm not sure about the details, but I would say
 - assign ((A + 50) + 1) to C
 - check that the corresponding symbolTableValue stores the IntegerLiteral 51 in its mC

[2018-10-11 08:03] danieldietsch opened #389 "BüchiAutomizer C webinterface has only one example that is not shown"
https://monteverdi.informatik.uni-freiburg.de/tomcat/Website/?ui=int&tool=buechi_automizer has only one example and this one is not loaded.

More examples would be nice, but we should also investigate why it is not loaded (perhaps because there is only one).

[2018-10-11 09:18] danieldietsch commented on #266
Is added to various testsuites.

[2018-10-11 09:18] #266 closed

[2018-10-11 09:19] danieldietsch commented on #344
Ticket in wrong tracker

[2018-10-11 09:19] #344 closed

[2018-10-11 09:21] danieldietsch opened #390 "Support variadic functions"
We want to support variadic functions as described in https://en.cppreference.com/w/c/variadic .

Until recently this was not an issue because most examples that contain variadic functions do not use them.

Since we retired ``determineNecessaryDeclarations``, we fail on these examples without this support.

[2018-10-11 11:11] danieldietsch commented on #390
Relevant resources:
 * The Wikipedia entry regarding pointers to va_list: https://en.wikipedia.org/wiki/Stdarg.h
 * The definition of ``va_list`` in System V ABI:
https://stackoverflow.com/questions/4958384/what-is-the-format-of-the-x86-64-va-list-structure
[code]
 * https://en.cppreference.com/w/c/variadic
 * https://en.cppreference.com/w/c/language/variadic
 * https://en.cppreference.com/w/c/var

[2018-10-12 00:42] Heizmann commented on #390
Makes sense.
* if cannot be done off-heap
* we are unable to check if the type is compatible in va_arg
* parmN is something in the source file not an expression that can provide an int value
* we need to introduce a new kind of undefined behavior for this
* We should not use a struct and copies of the function but an array and one instance of the function. The optimization with the structs is nice

[2018-10-12 18:46] gschievelbein commented on #382
Instead of attributing a new BinaryExpression value to the enum value, we are computing the value of the previous enum, so, so for the minimal example, the IntegerLiteral 51 would be attributed to C.

The solution for bitvector is still missing.

[2018-10-12 19:14] danieldietsch commented on #382
But should be similar, right?

[2018-10-15 11:41] invd opened #391 "NPE: CArray.isIncomplete"
Observed in Ultimate 093a8c091187f74480a9df3bb8c0f996b9a38ead on the _combined_09jan2018_nostrwidth_output_ultimate_emptymain_nolinedirectives.c_ program previously shared with Ultimate devs.

This error is only visible for **svcomp-DerefFreeMemtrack-32bit-Automizer_Bitvector.epf** settings. When using **-Automizer_Default.epf**, another error is encountered, as documented in #392.

[code]
[code]

[2018-10-15 11:42] invd opened #392 "NPE: TypeSizes.extractIntegerValueInteger()"
Observed in Ultimate 093a8c091187f74480a9df3bb8c0f996b9a38ead on the _combined_09jan2018_nostrwidth_output_ultimate_emptymain_nolinedirectives.c_ program previously shared with Ultimate devs.

This error is only visible for **svcomp-DerefFreeMemtrack-32bit-Automizer_Default.epf** settings. When using **-Automizer_Bitvector.epf**, another error is encountered, as documented in issue #391.

[code]

[2018-10-15 12:37] danieldietsch commented on #391
This should be fixed with https://github.com/ultimate-pa/ultimate/commit/155fbacf47a6d2ac401187314f4342e66790b0c0

[2018-10-15 16:09] invd commented on #391
I can confirm that the exception no longer occurs in 209b299ef9535958070033c7e6f7441414579320.

[2018-10-15 16:10] invd commented on #392
I can confirm that the error no longer occurs in Ultimate 209b299ef9535958070033c7e6f7441414579320.

[2018-10-15 16:16] danieldietsch commented on #391
Good! Can I close the issue / do you close the issue?

[2018-10-15 16:16] danieldietsch commented on #392
Good! Can I close the issue / do you close the issue?

[2018-10-15 16:39] #392 closed

[2018-10-15 16:39] #391 closed

[2018-10-15 17:57] gschievelbein commented on #382
Yes, I did it similarly now for bitvector settings.

[2018-10-16 07:15] danieldietsch commented on #382
Nice. So we can close this issue?

[2018-10-17 16:38] gschievelbein commented on #382
Yes

[2018-10-17 16:38] #382 closed

[2018-10-17 19:56] gschievelbein commented on #384
java.lang.NullPointerException
	at de.uni_freiburg.informatik.ultimate.cdt.translation.implementation.base.TypeHandler.areMatchingTypes(TypeHandler.java:1001)

The exception occurs when trying to get the length of String[] mNames, without checking if it was initialized first.

[2018-10-17 20:02] gschievelbein commented on #384
java.lang.NullPointerException
	at de.uni_freiburg.informatik.ultimate.cdt.translation.implementation.base.chandler.InitializationHandler.constructIndexToInitInfo(InitializationHandler.java:1111)

Trying to get the lrValue from an InitializerResult that has a null rootExpressionResult.

[2018-10-20 14:04] #384 closed

[2018-10-29 12:06] invd opened #393 "NPE: TypeSizes.extractBooleanValue"
Yet another regression observed with the _combined_09jan2018_nostrwidth_output_ultimate_emptymain_nolinedirectives.c_ program previously shared with Ultimate devs.

* Ultimate 0.1.23-af96161
* this error is only visible for svcomp-DerefFreeMemtrack-32bit-Automizer_Default.epf settings.

[code]

I strongly recommend extending the automated regression testing to several "complex" programs that are *

[2018-10-29 15:11] invd commented on #376
The newest Ultimate af96161e55b318c2d5f32d5c86caa05c47962602 still ships the z3 4.7.0 with identical hashsums to previously tested versions.

As expected from previous debugging, the z3 4.7.0 still segfaults:
[code]

Unfortunately, there is no official z3 post-4.7.1 release before the 4.8.1 which apparently includes major API changes (I'm guessing that Ultimate does not support them yet), so this

[2018-10-29 15:31] danieldietsch commented on #376
Good point. I will upgrade to the newest z3 and we will see what breaks.
@Heizmann This might also interest you.

For reference, here are the release notes:
[code]

[2018-10-29 23:41] Heizmann commented on #376
@danieldietsch Thanks. Do you have something particular in mind that is interesting for me?

[2018-10-30 08:00] danieldietsch commented on #376
No, only in case something breaks -- so that you know it might be the new z3 version. I am not sure about their API breaking change. I just realized that our nightly build does not use the external tools from our ``adds`` directory, but the ones installed on the system.

I will fix that and then restart the nightly build.

[2018-10-30 18:48] alexandernutz commented on #259
I am currently looking into this ticket. I think I know a way but it requires some changes to memory model and solver infrastructure that I want to discuss it here.

Situation:
 - It seems that our main use case are on-heap arrays, so I concentrate on them, here.
 - Example: Assume the following global C declaration: (It is global, so everything has to be initialized to 0.)
`int a[3];`
    we will

[2018-10-30 21:04] Heizmann commented on #259
In my opinion, this is the main problem for the constant array optimization.

[2018-10-30 21:33] Heizmann commented on #259
I think there is a misunderstanding.
I do NOT propose to replace `[int, int] int` by `[int][int] int`.

[2018-10-30 22:38] #386 closed

[2018-10-30 22:40] gschievelbein commented on #383
59015094d56352ab0623f6edf3383325f7d27518

Minimal examples: 447c633141136c0c89e685bfbc55855f095c58a9

[2018-10-31 02:40] Heizmann commented on #259
I would propose the following.
1. Find a way to refer to constant arrays in Boogie. This should be done by using/extending our [:builtin directive](https://github.com/ultimate-pa/ultimate/wiki/Boogie)
2. Develop (if necessary) a similar directive that allows us to translate a single function to a complex SMT term. Use some of the following ideas.
    A. Hardcode the SMT term in Ultimate (bad)

[2018-10-31 07:54] danieldietsch commented on #376
Our nightly build now uses the correct solver versions. I observed no breakage, so the new version of z3 should be good.
@invd do you want to recheck?

[2018-10-31 08:03] danieldietsch commented on #259
I do not understand why there is a hack that already enables this functionality with z3 but no solution for the incompatible signatures. How does the hack work?

[2018-10-31 11:30] invd commented on #393
In Ultimate 51a90dfc485d834f02fe0076b0db00e26a2aff06, the described NPE problem appears to be fixed - thanks @gschievelbein.

[2018-10-31 11:30] #393 closed

[2018-10-31 11:33] invd commented on #376
@danieldietsch: new test is running now.

For the record, Ultimate now ships
[code]

[2018-10-31 12:59] invd commented on #377
Recent Ultimate versions after the (potential) bugfix show an improved behavior that no longer references cType2AstType.
Instead, the expected "UnsupportedOperationException: multibyte characters are not supported yet" is returned.

If the fix is partial / there are still structural issues, it may be reasonable to keep this issue open. Is this the case?

[2018-10-31 13:21] danieldietsch commented on #377
We should keep this open for now.

[2018-10-31 14:30] invd commented on #365
As far as I can see, recent Ultimate versions do not throw errors when encountering `assert()` or `_Static_assert() `, and obvious problem cases within their parameters are detected in my simple tests (here, out of bounds accesses were found as "pointer dereference may fail").

This is certainly an improvement. However, it is unclear if Ultimate has improved support for such operations (see #271),

[2018-10-31 14:45] invd commented on #331
Current Ultimate versions also return `RESULT: Ultimate proved your program to be correct!` for the command noted in last post. This issue is likely solved.

[2018-10-31 14:47] invd commented on #326
I have not spotted this error during recent (limited) runs. It is likely solved.

[2018-10-31 14:59] invd opened #394 "ClassCastException: ExpressionResult cannot be cast to StringLiteralResult"
*  Ultimate 51a90dfc485d834f02fe0076b0db00e26a2aff06
*  AutomizerMemDerefMemtrack.xml
*  svcomp-DerefFreeMemtrack-32bit-Automizer_Default.epf (or _Bitvector with same result)

This was found while testing the status of #317.

Target program which compiles with `gcc --pedantic`:
[code]

Error:
[code]

[2018-10-31 15:05] invd commented on #318
I have not seen the problematic behavior for a while. It might be solved.

[2018-10-31 15:12] invd commented on #309
During some quick runs that I aborted after passing the C translation stage, I have not encountered the IAE exceptions, so this issue appears fixed.

[2018-10-31 15:18] invd commented on #270
This is still present in Ultimate 51a90dfc485d834f02fe0076b0db00e26a2aff06.

CyclicBuffer.c:
[code]

McCarthy91.c:
[code]

[2018-10-31 18:37] invd commented on #376
After roughly 5 hours of runtime, Ultimate aborts since z3 appears to run out of memory, but no segfault behavior is visible:

[code]

According to my interpretation, the previous segfault error is not longer present in z3 4.8.2 (which solves this issue), however there is now another problems that previously was not reachable. A related, more generic question is: can Ultimate manage/mitigate this

[2018-11-01 10:36] alexandernutz commented on #259
Ok, here is my proposal after some offline discussions with @danieldietsch  and @jhoenicke :
I am not totally sure, which of @Heizmann 's  letters it corresponds to, if any. Perhaps B?

Solution for Problem 1:
 - I introduce a class called `SMTPrelude`.
 - `SolverBuilder.buildAndInitializeSolver` takes an `SMTPrelude` object as an optional argument.
 - `SMTPrelude` contains SMT commands of the typ

[2018-11-01 10:46] invd commented on #376
For reference: I've restarted the relevant run with Automizer_Default.epf settings instead of the Automizer_Bitvector.epf settings that caused the segfault in previous configurations.

After 10-12 hours, this run is still ongoing, with Ultimate at about 3.7GB main memory and two z3 processes, one of which consumes about 4.9GB and is now at 100% cpu time for at least 8 hours:
[code]

Is it expected

[2018-11-01 10:51] invd commented on #376
Also, somewhat unrelated (should I open a new issue?): the z3 changelog mentions parallelization and improved processing techniques. Are they relevant for the tasks that z3 is used here? Spreading the z3 runtime over several cores might result in drastic reduction in runtime for more complex problems.

[2018-11-01 10:55] danieldietsch commented on #259
You can easily pass the prelude object via the toolchain storage.
I would try and ensure that there is only one prelude object for a toolchain, so that if other plugins also want to add something, they add it to this object.

One example for a toolchain storage is ``CodeBlockFactory``. It
 * implements the ``IStorable`` interface
 * has the methods ``getFactory(IToolchainStorage)`` and ``storeFact

[2018-11-01 16:54] alexandernutz commented on #259
For the record: there is a certain ugly aspect of the current solution:

Say, we want to initialize an array of pointers. In Boogie, we will use this function:
[code]
However, the BoogiePreprocessor will convert this function into the following two functions (because the return value is a struct):
[code]

Now in our case this seems acceptable, because we can use the same smt function for both Boog

[2018-11-01 19:11] danieldietsch commented on #259
Hm, I did not remember that. I thought that functions can also have multiple return parameters.

One fix could be to also allow pure procedures without implementation instead of the function. Also with the ``builtin`` attribute.

Then we would possibly get
[code]

[2018-11-02 14:46] invd commented on #376
After over 36 hours of runtime, and a singular z3 process that has run over a day, I have aborted the  Automizer_Default.epf run.

For reference, those were the last log outputs:

[code]

Ultimate does not appear to be ready to check [partialmain_bmp_logo64_evil_Elim1Store.c](https://github.com/ultimate-pa/ultimate/blob/dev/trunk/examples/CToBoogieTranslation/trezor/partialmain_bmp_logo64_evil_Eli

[2018-11-02 15:16] invd opened #395 "ClassCastException: IntegerLiteral cannot be cast to BitvecLiteral"
The program described in #366 cannot be translated with
* AutomizerReach.xml
* all-64bit-Automizer_Bitvector.epf

under Ultimate 51a90dfc485d834f02fe0076b0db00e26a2aff06 .

[code]

[2018-11-02 16:14] #385 closed

[2018-11-02 17:08] invd commented on #321
The capability to quickly verify [partialmain_bmp_logo64_evil_Elim1Store2.c](https://github.com/ultimate-pa/ultimate/blob/dev/trunk/examples/CToBoogieTranslation/trezor/partialmain_bmp_logo64_evil_Elim1Store2.c) with Ultimate appears to have degraded.
When trying it with a recent Ultimate version and the following settings, it can no longer be processed within the 6 minutes as in March 2018 - I ha

[2018-11-02 18:05] danieldietsch commented on #376
Can you rerun this with CAMEL_NO_AM ? It seems that the assertion order modulation for this trace is the culprit.

[2018-11-02 18:41] invd commented on #367
This appears to be solved:

[code]

@danieldietsch: can you confirm that Ultimate has been patched to improve this behavior? If so, this issue can be closed.

[2018-11-03 08:36] danieldietsch commented on #367
Yes, we should have fixed this.

[2018-11-03 08:36] #367 closed

[2018-11-03 08:47] danieldietsch commented on #259
I also think having self-contained Boogie programs is important.
But I think the problem does not change by much if we move the SMT prelude to the Boogie program.

How do we create the term for ``:smtdefined`` ?
 * Just a string, hardcoded somewhere
 * We create a term and use ``toStringDirect()`` (do we create a new script only for this or do we move the creation of the auxiliary solver to an ear

[2018-11-03 09:38] alexandernutz commented on #259
Regarding self-containedness:
The benefit I see is that we have a chance of recovering the semantics when the SMT code is in the Boogie program. In my previous proposal it would have been gone after dumping the program to a text file.

Regarding SMT type checking:
 - During translation to SMT is late but somewhat natural, and probably requires the fewest changes.
 - Whether there is type checking

[2018-11-03 16:12] danieldietsch commented on #259
What is the issue with using procedures? Seems much more elegant.

[2018-11-03 18:37] Heizmann commented on #259
I think that would work too, but I cannot see the problem that this solves.
In doubt, Functions seem to be more natural since functions may occur in expressions and in SMT-LIB functions also have only one return value.

Regarding the struct problem.
I think the proposed solution seems reasonable. An alternative might be to wrap the two annotations explicitly in an annotation that is a directive fo

[2018-11-03 19:11] alexandernutz commented on #259
Functions that have use cases in the InitializationHandler:
 - initialize a heap cell at a base pointer:
    - probably the most relevant case by far
    - we need one function for each memory array (assuming all memory arrays have a different type)
    - example for `#memory_int`:
[code]
 - initialize an off heap array
    - The Boogie function represents a constant array of the right dimension f

[2018-11-03 20:54] Heizmann opened #396 "Bitvector translation is very slow for large expressions"
The problem occurs at location
`C: ret = cafe_smbus_write_data(cam, (int )addr, (int )command, (int )data->byte) [5512]`

We construct a large expression of the following form.
`StructAccessExpression[IdentifierExpression[~data,<LOCAL,cafe_smbus_xfer>],offset] + 1 + 1 + ... + 1`

The integer translation can construct this expression within seconds.
The bitvector translation does not terminate (wit

[2018-11-04 12:39] Heizmann commented on #396
Some additional note.
I am usually against simplifying non-constant expressions (e.g. `(((x+1) + 1) + 1)`) at this level. Because this makes it more difficult to match the result to the original code (and at the moment useless if we also check for overflows).
I am however not strictly against simplification for expressions that do not occur in the code and are created by us is order to compute an

[2018-11-04 13:05] danieldietsch commented on #396
Good to hear. I think I can fix the performance issue by not trying to simplify the arguments (and thus all sub expressions). I can also add this optimization.

[2018-11-04 19:08] danieldietsch commented on #396
You are right, I worded that badly. I mean I do not descend into the argument expressions anymore. If they are literals, we simplify, but if they are not, we do not look if they themselves have somewhere deep down some expression we can simplify. Should be safe as long as we always create function applications with the factory.

[2018-11-04 21:14] invd commented on #376
Plot twist: with these new settings, z3 v.4.8.2 **segfaults** again!
[code]

Ultimate configuration:
`
./Ultimate -tc ~/ultimate/releaseScripts/default/UAutomizer-linux/config/AutomizerMemDerefMemtrack.xml -s ~/ultimate/trunk/examples/settings/default/automizer/svcomp-DerefFreeMemtrack-32bit-Automizer_Default.epf -i ~/shortened/partialmain_bmp_logo64_evil_Elim1Store.c --traceabstraction.trace.refi

[2018-11-05 06:30] danieldietsch commented on #376
Do you have the last lines of the log before the crash happens?

We could still try and produce a SMT script that reproduces the crash in z3 alone.

[2018-11-05 07:48] danieldietsch commented on #376
I will try and dump the script; I am unsure if the file ``code/regression/partialmain_bmp_logo64_evil_Elim1Store.c`` from your repository is the correct one. Can you confirm?

[2018-11-05 08:31] invd commented on #376
@danieldietsch it is, but the program has been uploaded to this repository as well: [partialmain_bmp_logo64_evil_Elim1Store.c](https://github.com/ultimate-pa/ultimate/blob/dev/trunk/examples/CToBoogieTranslation/trezor/partialmain_bmp_logo64_evil_Elim1Store.c)

Log:
[code]

Crash info:
[code]

[2018-11-05 08:35] danieldietsch opened #397 "Regression failure for congruence closure"
@alexandernutz I think this is your corner; can you take a look?

https://monteverdi.informatik.uni-freiburg.de/ci/job/Ultimate%20Nightly/de.uni_freiburg.informatik.ultimate$de.uni_freiburg.informatik.ultimate.lib.util.test/1910/testReport/de.uni_freiburg.informatik.ultimate.util/CongruenceClosureTest/testContainsConstraints03/

[2018-11-05 15:41] danieldietsch commented on #259
Ok, after our talk a short reminder for myself.

**New attribute ``:expand-struct "<struct-field-id>"``**
* Will be consumed (removed) by the struct expander.
* Only allowed for function applications where the return type is a struct
* All attributes following the ``:expand-struct "<struct-field-id>"`` attribute until the next ``:expand-struct``attribute or no more attributes are attached to the f

[2018-11-05 17:34] #396 closed

[2018-11-06 08:15] danieldietsch commented on #376
1794bfb9236da73b004fc73ac5fff1ddba660d04 and 9cc8901501f8e89fd3ca37140648fd09da64176d update z3 to the newest head where this segfault is fixed.

[2018-11-07 09:06] invd commented on #376
The` Automizer_Default.epf / CAMEL_NO_AM` run from yesterday is still in progress, so this is still **slower than previous mid-2018 Ultimate versions**, but it is now at iteration 37 and has likely passed the point of the previous crash.

[2018-11-07 13:56] danieldietsch commented on #259
@alexandernutz the attributes should now work and transfer correctly.

[2018-11-08 05:32] Heizmann opened #398 "Support the modification of the rounding mode for IEEE 754 floating point numbers"
### Current state
* We support basic float operations and functions by translating them via our [`:builtin` directive](https://github.com/ultimate-pa/ultimate/wiki/Boogie#directives) into SMT functions.
* The [Floating Point theory](http://smtlib.cs.uiowa.edu/theories-FloatingPoint.shtml) of the SMT-LIB standard (and the solvers) supports all rounding modes. For each SMT function the rounding mode

[2018-11-08 05:33] Heizmann commented on #398
This should be discussed with @danieldietsch before it is implemented.

[2018-11-08 12:02] invd commented on #376
After roughly 48 hours of runtime, I'm stopping this process at `Iteration 48`, which has been going on for about 14 hours at 100% cpu load (1 core) for z3, which is started without time/memory limits.

No segfault was visible so far, so I'm closing this issue.

[2018-11-08 12:02] #376 closed

[2018-11-08 12:07] invd commented on #321
The full program version cannot be verified within 48 hours, even with Automizer_Default.epf and optimized settings.

At this point, this issue ticket has lost it's original purpose, so I think it's reasonable to close it. Feel free to reopen a new issue regarding the general slowdown for the mentioned programs/Ultimate settings.

[2018-11-08 12:07] #321 closed

[2018-11-08 14:21] alexandernutz commented on #259
We have made some progress. Now, the C translation, the StructExpander, and Boogie2Smt should work correctly (according to a few manual tests).

Problem right now:
Quantifier elimination for arrays crashes during verification. This might be a job for @Heizmann :-)..

The error message:

The term which it is trying to eliminate from:
`(= |#memory_int| (~initToZeroAtPointerBaseAddress~int |v_#memory

[2018-11-08 15:49] alexandernutz commented on #259
Update: to avoid the quantifiers from trace interpolation, I tried out settings using only SMTInterpol.
In this case the assertion that checks inductiveness of interpolants fails. I don not know why, yet.

[2018-11-08 17:07] danieldietsch commented on #259
@alexandernutz Can you dump a script for the SMTInterpol case? Perhaps this is a job for @jhoenicke and/or @tanjaschindler

[2018-11-08 22:58] Heizmann commented on #259
@alexandernutz Could you add a test to the `QuantifierEliminationTest` class?

Proceed like the more recent tests and use `SmtUtils.checkSatTerm(...)` instead of constructing the formula manually.

[2018-11-09 08:11] danieldietsch commented on #259
You mean ``TermParseUtils.parseTerm(...)`` right?

[2018-11-09 16:28] gschievelbein commented on #383
commit: 0f246ad8627f2e238c0f050e863074fa47aece7d

[2018-11-09 16:28] #383 closed

[2018-11-09 17:57] alexandernutz commented on #259
@danieldietsch @jhoenicke @tanjaschindler  here you go, the below file produces
`(error "generated interpolants did not pass sanity check")` when run SMTInterpol on it
[debug.zip](https://github.com/ultimate-pa/ultimate/files/2566974/debug.zip)

[2018-11-09 18:37] hauff opened #399 "Redundant procedure in NestedWord"
Following procedure in class NestedWord

public LETTER getSymbolAt(final int position)

seems to be redundant, because NestedWord extends Word which has

public LETTER getSymbol(final int position)

[2018-11-10 20:15] Heizmann commented on #259
@alexandernutz in this class is a special new method for quantifier elimination that does not make sense to me. You were using that method. I modified that call.
https://github.com/ultimate-pa/ultimate/commit/c854ea4e6ba0faf6819f8844583af41d0f757886
Now the first test passes and the second test fails because the quantified variable is the argument of a function application. My partial quantifier e

[2018-11-10 20:35] danieldietsch commented on #259
We could do it during the construction of the Icfg. But the backtranslation will be difficult. Do you have an idea how we could do it there? Then you could explain it to me and I can implement it.

[2018-11-10 20:44] Heizmann commented on #259
I see, that is a problem. But I have no idea for the backtranslation.
I think we have to look at individual expressions that occur in practise and think about solutions.

[2018-11-11 19:57] danieldietsch opened #400 ""undeclared identifier" crashes"
Do you see a simple solution for this?
The only idea that I have is to get rid of the mGlobalDeclarations and to consequently use the symbol table. But the implementation of this will be time-consuming.

_Originally posted by @Heizmann in https://github.com/ultimate-pa/ultimate/commit/3b85d1d1c2efca2122706da0b7ec8b523d2d3cae#commitcomment-31255091_

[2018-11-13 15:21] danieldietsch commented on #259
I updated SMTInterpol in 5d08986750682c75e39ad1f92180c9582722463d

[2018-11-14 13:11] #394 closed

[2018-11-15 08:14] #400 closed

[2018-11-16 11:07] danieldietsch opened #401 "Incomplete struct with pointer-only access"
The following program crashes during preprocessing.
[code]

Settings seem irrelevant.

[2018-11-17 16:15] alexandernutz opened #402 "Add support for compound literals"
At the moment we do not support compound literals. However, they are required for many SVCOMP-programs, so we should support them.

Compound literals are expressions like
```(int) { 1 }```
I.e., they consist of a type and an initializer.
They look like a type cast that is applied to an initializer.
(In the above example, the compound literals could be replaced by the "normal" literal `1`, but, in

[2018-11-19 08:34] danieldietsch opened #403 "AssertionError: invalid Hoare triple in Craig"
`java -ea -Xmx8000000000 -jar /storage/repos/ultimate/releaseScripts/default/UAutomizer-linux/plugins/org.eclipse.equinox.launcher_1.3.100.v20150511-1540.jar -data @noDefault -ultimatedata /storage/repos/ultimate/releaseScripts/default/UAutomizer-linux/data -tc ../../../trunk/examples/toolchains/AutomizerC.xml -s ../../../trunk/examples/settings/default/automizer/svcomp-Reach-32bit-Automizer_Defau

[2018-11-19 08:39] danieldietsch opened #404 "SMTInterpol does not respect timeout"
One of our regression tests takes ~2,5h to complete.

[code]

https://monteverdi.informatik.uni-freiburg.de/ci/job/Ultimate%20Nightly/1928/de.uni_freiburg.informatik.ultimate$de.uni_freiburg.informatik.ultimate.regressiontest/testReport/de.uni_freiburg.informatik.ultimate.regressiontest.generic/RegressionTestSuite/AutomizerC_xml_AutomizerC_nestedInterpolants_const_epf___storage_jenkins_jenkins_hom

[2018-11-19 14:30] danieldietsch commented on #400
Update: According to https://struebli.informatik.uni-freiburg.de/logs/ctranslation/20181119-130239-ctranslation-fe202a8404/overview, we have 300 of those left.

[2018-11-20 05:07] Heizmann opened #405 "AssertionError: no entry in symbol table for C-ID __ret"
Occurs e.g., in
`Input:svcomp/pthread-driver-races/char_pc8736x_gpio_pc8736x_gpio_configure_pc8736x_gpio_set_true-unreach-call.i`
with any toolchain/settings.

Occurs probably in all examples where we had a few days ago the following error message.
`UnsupportedOperationException: Cannot understand initializer with more than two children. Is this a struct initialization?`

[2018-11-21 09:10] danieldietsch commented on #404
It seems like this issue is caused by our encoding of small strings.

I build a scalable example program:
[code]

The resulting Boogie program looks like this
[code]

And the single trace check for this example looks like this
[code]
So we can see that the main chunk of the script comes from nested store/select terms that occur during storage of the string in our memory array.

If I increase the n

[2018-11-22 16:43] alexandernutz opened #406 "Partitioned Memory Model for Ultimate"
Just throwing out some thoughts related to the memory model of the C translation. I am trying to evaluate if this is a reasonable approach for Ultimate.
Depending on how difficult/time-consuming it is, I might implement it, or perhaps it is just one more thing that would be nice to have.

Proposed Addition to the C translation:
 - run a pointer analysis on the C program
 - use the may-not alias in

[2018-11-22 22:44] Heizmann commented on #406
I do not understand all details here. But I am interested to discuss this after the SV-COMP deadline.

[2018-11-23 13:34] #401 closed

[2018-11-23 13:46] alexandernutz commented on #405
The problem here was the following a statement of the form
 ```return ({int x; x});```
This compound statement with a declaration inside confused the symbol table lookup.

A fix in the context of return statements is
sha 1c8ab049dc6cbe59ce0e4babea1aa319c854289e
a corresponding regression test is
sha 69cedd259d402476a46a0696423918bb91510d69

However, the symbol table lookup probably needs to be sol

[2018-11-23 13:46] #405 closed

[2018-11-23 13:48] #402 closed

[2018-11-25 10:36] danieldietsch commented on #259
I think this feature is now implemented and all follow-ups should get their own ticket.

[2018-11-25 10:36] #259 closed

[2018-11-25 10:39] danieldietsch commented on #403
This example now triggers ``java.lang.AssertionError: select-over-store with same index should have been removed``

[2018-11-26 02:15] Heizmann commented on #403
Problem approached in https://github.com/ultimate-pa/ultimate/commit/5cbab9aaaa708e48dbc447abbdf6370cb0a1e165
Not reproducible with original example.
Reproducible with following example.
Reproducible with `trunk/examples/svcomp/array-memsafety/cstrcspn-alloca_true-valid-memsafety_true-termination.i`
	`trunk/examples/settings/svcomp2017/automizer/svcomp-DerefFreeMemtrack-32bit-Automizer_Default.epf

[2018-11-26 02:43] Heizmann opened #407 "Array theory solver does not yet support write-chains connecting two different constant arrays"
Input:svcomp/array-memsafety/count_down-alloca_true-valid-memsafety_true-termination.i Settings:settings/svcomp2017/automizer/svcomp-DerefFreeMemtrack-32bit-Automizer_Bitvector.epf Toolchain:toolchains/AutomizerC.xml
			ExpectedResult: SAFE UltimateResult: EXCEPTION_OR_ERROR   [de.uni_freiburg.informatik.ultimate.plugins.generator.traceabstraction: AssertionError: de.uni_freiburg.informatik.ultima

[2018-11-26 11:03] danieldietsch opened #408 "Bug in memcpy model"
* Input: ``svcomp/memsafety/test-memleak_nexttime_true-valid-memsafety_true-termination.i``
 * Settings: ``settings/default/automizer/svcomp-DerefFreeMemtrack-32bit-Automizer_Default.epf``
 * Toolchain: ``toolchains/AutomizerC.xml``

ExpectedResult: SAFE UltimateResult: UNSAFE_FREE   free of unallocated memory possible

[2018-11-26 11:23] Heizmann commented on #408
But you have to disable *bitprecise bitfields* in order to reproduce.

[2018-11-26 12:40] danieldietsch opened #409 "Implement realloc"
Currently we die if we encounter a ``realloc``:  https://github.com/ultimate-pa/ultimate/commit/f8d211b70843f3bd810c1873debfd44f03714b40

We need to implement ``realloc``:
See https://en.cppreference.com/w/c/memory/realloc

It affects 46 examples.

[2018-11-26 14:54] alexandernutz commented on #408
just fyi:
with enabled assertions, the above settings and bitprecise bitfields "off", I get
[2018-11-26 15:51:57,378 FATAL L292        ToolchainWalker]: The Plugin de.uni_freiburg.informatik.ultimate.plugins.generator.traceabstraction has thrown an exception:
[code]

[2018-11-26 15:55] danieldietsch commented on #408
I fixed the backtranslation error, You can re-enable assertions ;)

[2018-11-27 04:49] Heizmann commented on #407
This probably means that we have to add this error message to the TraceChecker, in order to let it continue with the next solver.

[2018-11-27 08:59] danieldietsch opened #410 "Pointercast with Integer translation leads to unsoundness"
The following example for property
     valid-deref valid-free valid-memtrack
yields the result ``true`` with our integer translation although ``false`` is correct.

[code]

Issue
Cast from char pointer to int pointer, then wrong read due to memory model (0 instead of concatenaton of 4 chars).

Possible solutions
 * Use 1Byte resolution and bitvector translation for memsafety.
 * let integer trans

[2018-11-27 09:08] danieldietsch opened #411 "Handle stdlib.h function exit(...)"
Our current translation does not handle the standard lib function ``void exit( int exit_code )`` (see https://en.cppreference.com/w/c/program/exit for a description).

Besides the additional semantics of executing registered exit functions and the closing of streams, we need to check memsafety properties on exit (memleak, memcleanup).
Obviously, it is also important for termination.

One solution:

[2018-11-27 09:11] danieldietsch commented on #411
Another partial solution is using ``assume false`` and all memory checks we have as translation of ``exit(...)``. We could also add a new procedure that contains all the memory checks s.t. we can just call this procedure instead of repeating the checks.

[2018-11-27 10:16] danieldietsch commented on #411
@alexandernutz pointed out that we already handle ``abort()`` by replacing it with an ``assume false`` and ignoring all memory checks.

I added the same for ``exit()`` and will resubmit a version so that we might see if this introduces additional unsoundness.

[2018-11-27 10:18] danieldietsch commented on #411
For reference: I would interpret the rules (https://sv-comp.sosy-lab.org/2019/rules.php) s.t. we must check for memory leaks on exit and abort, at least for memcleanup.

[2018-11-27 12:45] danieldietsch opened #412 "mathsat does not support fp.rem and roundNearestTiesToAway"
mathsat does not support ``fp.rem`` and ``roundNearestTiesToAway`` from the FP theory.

We can include these messages in our checks for solver crashes -- and we should try and ask them to support it.

[2018-11-27 21:02] danieldietsch commented on #407
For reference:

* ``svcomp/array-memsafety/count_down-alloca_true-valid-memsafety_true-termination.i``
* ``settings/svcomp2017/automizer/svcomp-DerefFreeMemtrack-32bit-Automizer_Bitvector.epf``
* ``AutomizerC.xml``
* ``ExpectedResult: SAFE``
We get ``AssertionError: de.uni_freiburg.informatik.ultimate.logic.SMTLIBException: Array theory solver does not yet support write-chains connecting two diffe

[2018-11-27 21:14] danieldietsch commented on #407
We do not crash anymore if it occurs in a strategy. But I think we should keep the ticket open so that we can investigate @Heizmann 's proposal:

[2018-11-28 10:00] Breee opened #413 "DefaultOperationTranslator exception: ARITHDIV of this type not allowed"
Reqs:
[code]

Command:
[code]
Exception:
[code]

Log is attached.
[reqfile.req.log](https://github.com/ultimate-pa/ultimate/files/2623858/reqfile.req.log)

[2018-11-28 10:19] #409 closed

[2018-11-29 09:04] danieldietsch commented on #398
I had to remove various parts of the current implementation to restore soundness in time for the SVCOMP release:
 * 635dfa2a78e594483db942e07fa9a12410e3a48e removed the complete rounding mode implementation. I am sorry that I did not notice this earlier: The rounding mode identifier expression should point to a global variable _in the Boogie program_. Therefore. ``fesetround`` has to be a procedur

[2018-11-29 22:50] invd opened #414 "Ultimate crashes with OOM for array[8192]"
When re-testing the code described in #366 with
*  `svcomp-DerefFreeMemtrack-32bit-Automizer_Bitvector.epf`
* `AutomizerMemDerefMemtrack.xml`

settings with the newest Ultimate 6392f50fb9ff6daa998daa33f79eb2c3746cdafb, Ultimate subprocesses run into an **out of memory** condition:

[code]
[code]

This happens on a previously described research VM with generous amounts of free RAM.

[2018-11-29 23:06] invd opened #415 "SMTLIBException: std::bad_alloc in singletracecheck.TraceCheck"
This issue is likely strongly related to #414.
When run against a version of the #366 program with an array size of `4096` and settings of
*  `svcomp-DerefFreeMemtrack-32bit-Automizer_Bitvector.epf`
* `AutomizerMemDerefMemtrack.xml`

the newest Ultimate 6392f50fb9ff6daa998daa33f79eb2c3746cdafb aborts with the following error after about ten minutes:

[code]

[2018-11-30 08:34] danieldietsch commented on #415
This error hints at not enough memory. We will see if this is due to a bug in the encoding or just due to the size of the verification problem.

[2018-11-30 08:35] danieldietsch commented on #414
see #415: probably the same reason, just a different symptom

[2018-12-01 09:16] danieldietsch commented on #415
The question is more if this is a bug in Ultimate or in cvc4 (we updated cvc4 to a newer version).

That it invokes the oom-killer is indeed unfortunate. But if oom is due to cvc4, we cannot do much, as cvc4 has no way of limiting its memory.

Can you give me the exact path to the settings file? Is it the one in `´settings/default/automizer`` or one of the old ones?

[2018-12-01 09:37] danieldietsch commented on #415
And I just realized #366 was with Integer memory model, not with Bitvectors.

[2018-12-10 16:52] danieldietsch opened #416 "Biosphere memory model optimization"
This ticket is a recreation and shortening of a mail conversation between @Heizmann , @alexandernutz , @jhoenicke and @danieldietsch .
@Heizmann  proposed the following change to our memory model:

**Motivation**
1. A ``store`` is a complex SMT function that causes issues in many places. For example, a store on an interesting array "in the middle" of a trace is always a part of the unsat core, bec

[2018-12-10 17:01] danieldietsch commented on #416
An additional benefit of this optimization is that certain abstractions work much better on such a partitioning of the heap.

In particular @franksch94  implementation of an array domain is geared towards this model.

I am currently running some experiments on the speedup-poc03-*.bpl series of programs, e.g. on [speedup-poc03-08.bpl](https://github.com/ultimate-pa/ultimate/blob/dev/trunk/examples/

[2018-12-20 16:50] invd opened #417 "lack of padding model for unpacked structs leads to soundness issues"
After some short tests and discussion with @danieldietsch, I have the impression that Ultimate currently has no model in place to calculate the actual memory representation of **structs** that have elements which mandate **padding** within the struct memory area. ([In-depth background](http://www.catb.org/esr/structure-packing/)).

As a summary, compilers will add unused memory bytes within or at

[2018-12-20 18:57] danieldietsch commented on #417
Thank you for the in-depth report. This is definitely an open issue.

[2018-12-27 01:36] Heizmann opened #418 "Inconsistent results for properties that introduce several error locations"
Some C properties are translated into several error locations (e.g., memsafety).
If only some of the error locations are reachable and we do not stop after the first violation was found, we report that the property holds and that the property does not hold.

A less severe symptom of this problem is that we sometimes report several positive results for the same property.

A solution:
Let baktransla

[2018-12-27 09:09] danieldietsch commented on #418
Makes sense.

For this to work we could, e.g., mark all the asserts that belong to one property with the same check instance. I will look into it.

[2019-01-06 15:54] invd opened #419 "cvc4 can grow to consume all system memory"
Even for short programs, cvc4 can spiral out of control and consume all system memory, leading to general system instability, since Ultimate does not enforce (or periodically check) any cvc4 memory usage limits.

This leads to situations where the Ultimate process requires e.g. 4GB, and cvc4 grows to beyond 15GB, exhausting all available system memory.

Real crashes have been observed with the par

[2019-01-06 15:56] invd commented on #414
For cf7845638a016090978a13501adca3f0b2bbcea4 and AutomizerReach.xml, Ultimate still runs into an OOM (for the cvc4 subprocess), so this issue is likely unresolved as well.

[2019-01-06 16:01] invd commented on #322
@Heizmann: what's the status on this?
Ultimate can translate the [unicode_u16_u32_string_test.c](https://github.com/ultimate-pa/ultimate/blob/dev/trunk/examples/CToBoogieTranslation/trezor/unicode_u16_u32_string_test.c) test file for a while now, but is there noteworthy progress beyond that?

[2019-01-06 16:04] invd commented on #317
The newest cf7845638a016090978a13501adca3f0b2bbcea4 Ultimate is still affected by this and returns unsound answers:
[code]

What is the roadmap on this issue?

[2019-01-06 16:11] invd commented on #270
The error is still present in cf7845638a016090978a13501adca3f0b2bbcea4, which means it is now reported for over a year.

[2019-01-06 17:34] Heizmann commented on #322
@invd Unfortunately, there is no progress here. I could implement support for unicode strings but then I would have to postpone other features.

[2019-01-06 20:07] danieldietsch commented on #419
As far as I know, cvc4 does not provide any mechanism to limit its memory consumption. Doing it from inside Ultimate is rather tricky. I am not aware of any reasonably platform independent (e.g., a method that works on most Linuxes and a separate method that works on Windows) way of limiting memory consumption of a subprocess from Java (or from the shell, for that matter).

[2019-01-06 20:08] danieldietsch commented on #317
There is general progress in this direction (changes in our memory model) but I do not expect a resolution in the next 3 months.

[2019-01-09 08:57] danieldietsch commented on #417
Some additional reading:
  * http://www.catb.org/esr/structure-packing/
  * https://en.wikipedia.org/wiki/Data_structure_alignment
  * https://en.cppreference.com/w/c/types/offsetof
  * http://c-faq.com/struct/align.esr.html

[2019-02-10 16:20] Heizmann opened #420 "You must have same procedures except when you have threads or when this is a call or a return"
`trunk/examples/programs/quantifier/regression/c/SimpleArrayTest-Bounds02_OnHeap.c`,
default settings
`trunk/examples/toolchains/AutomizerC.xml`

Error message

However, preceding and succeeding procedure coincide.

[2019-03-05 23:11] alexandernutz opened #421 "iCfg to CHC translation"

[2019-03-05 23:13] alexandernutz commented on #421
Implement a plugin that translates from an icfg/rcfg to a set of constrained Horn clauses (CHCs) such that the  CHC-set is satisfiable iff the icfg is correct/safe.

[2019-03-31 15:19] gschievelbein commented on #412
In a somewhat related problem, in SMT there is not negative NAN. How should we deal with that in the implementation of standard functions that require the sign value, such as signbit and copysign?

[2019-04-11 09:34] Breee opened #422 "reqparser error: UnexpectedRequirementsParserFailureResult"
Ultimate fails to parse `test_req` in the following example:

[code]

Ultimate produces a `UnexpectedRequirementsParserFailureResult`, caused by a parsing error in the reqparser:

[code]

The `10 * MAX_TIME` are responsible for the failure.

The error log is attached.
[reqparser_error.req.log](https://github.com/ultimate-pa/ultimate/files/3067927/reqparser_error.req.log)

[2019-04-11 11:44] Heizmann opened #423 "fesetround support broken"
Input: trunk/examples/svcomp/floats-cbmc-regression/float-rounding1_true-unreach-call.i
Settings: trunk/examples/settings/default/automizer/svcomp-Reach-64bit-Automizer_Bitvector.epf
Toolchain: trunk/examples/toolchains/AutomizerC.xml

There are actually two bugs.

1. If our "Let fesetround change the rounding mode" setting is set to false, we produce an incorrect verification result (expected: re

[2019-04-12 10:57] danieldietsch commented on #422
Fixing this issue is more involved than it appears. As it can usually be fixed manually, we will postphone it a little bit.

[2019-04-13 17:38] Heizmann commented on #228
I discussed the Issue with Cesare, Florian and Martin.
If I understood them correctly, the situation is the following
* the SMT-LIB FloatingPoint theory supports the IEEE 754 standard, but does not aim to support additional restrictions resp. extensions
* IEEE 754 allows different NaN representation but does not mention "quit NaNs" and "signaling NaNs".
* IEEE 754 does not define a bit representat

[2019-04-13 19:21] #399 closed

[2019-04-21 19:09] gschievelbein commented on #423
https://en.cppreference.com/w/c/numeric/fenv/feround

Our implementaion of fesetround returns 0 if successful, and -1 otherwise. When the setting is set to false, it always returns -1, and does not change the rounding mode. Could this be related to this behavior?

https://en.cppreference.com/w/c/numeric/fenv/FE_round

I checked the integer values of the rounding macros from FENV.h. They are:
RTZ->

[2019-04-22 00:47] Heizmann commented on #423
Thanks. But when does our implementation return -1? How can `fesetround` be not successful in our implementation?
The behavior for the "Let fesetround change the rounding mode" should as explained in 1. above.
I think there is not need to change the integer values, but it would be nice if you could find out why the implementation produces incorrect results on the above mentioned program.

[2019-04-22 08:30] danieldietsch commented on #423
Perhaps we need three settings for ``fesetround``:
1) Enable
2) Disable (report error)
3) Disable (do not change rounding mode and return -1)

The standard specifies that ``fesetround`` might return non-zero if the platform does not support changing the rounding mode. Therefore, we currently have only option 1. and 3. implemented.

[2019-04-22 13:47] Heizmann commented on #423
I did not knew that we want to support 3. (that the architecture cannot change the rounding mode)
But then three different settings are a good idea. I would however call them differently.
I propose the following three names for the settings
A. ARCHITECTURE_CAN_CHANGE_ROUNDING_MODE
B. ARCHITECTURE_CANNOT_CHANGE_ROUNDING_MODE
C. FESETROUND_UNSUPPORTED_BY_VERIFIER

[2019-04-22 15:27] gschievelbein commented on #423
So, what is happening is that in the code from` float-rounding1_true-unreach-call.i`, first we have `fesetround(0);`, which sets the rounding mode to RTZ. Later, we have `fesetround(0x400);` (0x400=1024), which fails, but the program continues its execution.

It seems like the desired rounding modes are RNE-> 0 and RTN -> 1024.

I could change our integer constants to be:

- RTZ->3072
- RNE-> 0
-

[2019-04-22 15:37] Heizmann commented on #423
Thanks.
What does the C standard (C11) say about the values of these constants?
If the standard defines the values as mentioned above, we should use the same values.

[2019-04-22 16:27] gschievelbein commented on #423
Hi, so the integer values for the current rounding mode are define here: https://en.cppreference.com/w/c/types/limits/FLT_ROUNDS

These are the values we are currently using, and are returned by the fegetround() method.

Now the integer values from the macros from fenv.h don't seem to be defined. I got these values by running a c program. The C11 standard says the following:

[2019-04-23 20:12] Heizmann commented on #423
Ok, so my (possibly faulty) analysis of the problem is the following.
* The C11 standard says in 5.2.4.2.2.8 that 0, 1, 2, 3 are each mapped to rounding modes. The C standard says in 7.6.8 that additionally the values of four macros from fenv.h (FE_DOWNWARD, ...) are mapped to rounding modes.
* The C11 standard says that the values of these four macros are implementation defined.
* In the above me