[2019-04-26 14:16] gschievelbein commented on #423
Yes.
Basically, we keep a variable to the current SMT-LIB rounding mode.

Calls fegetround() will check this variable and return an integer ([-1,3]) as defined in https://en.cppreference.com/w/c/numeric/fenv/FE_round.

The method to change the current rounding mode receives an integer as an argument (fesetround(int)), or one of the macros from https://en.cppreference.com/w/c/numeric/fenv/FE_round.

[2019-04-26 15:19] Heizmann commented on #423
I think that is a good idea. If I understand you correctly, you add to every Boogie program also a variable that represents FLT_ROUNDS. Maybe let's call this variable `#Ultimate.FLT_ROUNDS` in addition to the `currentRoundingMode` variable.
* `#Ultimate.FLT_ROUNDS` has the same type as a signed int (type of FLT_ROUNDS not defined in standard but maybe signed int is a good choice.)
* Our implementa

[2019-04-28 21:55] gschievelbein commented on #423
did it work with the last changes?

[2019-04-28 22:17] Heizmann commented on #423
Sorry for not giving any feedback.
We now output  the expected result on the above mentioned program and it seems like I am producing meaningful benchmarks for the SMT-COMP.

[2019-04-29 12:36] gschievelbein commented on #423
ok great

[2019-06-11 21:42] Heizmann opened #424 "Misleading StorageClass in DeclarationInformation"
According to the documentation StorageClass defines where the declarations of variables and constants are stored.

The values IMPLEMENTATION and PROC_FUNC do not make sense for variables and constants.
Maybe they are used for procedures. This is however questionable since in Boogie declarations of procedures and implementations are global. Maybe we need a different mechanism for procedures/impleme

[2019-06-12 06:00] danieldietsch commented on #424
Why dont they make sense? Can variables not be defined as in or out params of a procedure, function, or implementation?

[2019-06-12 12:32] Heizmann commented on #424
Yes, but there are are already the following enum values for the cases that you mentioned.
		PROC_FUNC_INPARAM,
		PROC_FUNC_OUTPARAM,
		IMPLEMENTATION_INPARAM,
		IMPLEMENTATION_OUTPARAM,

[2019-06-23 15:42] Heizmann opened #425 "Web interface does not show all results"
The web interface of Automizer does not show any result for the attached program.
[modBug.txt](https://github.com/ultimate-pa/ultimate/files/3318038/modBug.txt)
In the GUI everything works fine.
If you replace the modulo operation by a different operation you also get a result in the web interface.

[2019-06-23 16:32] danieldietsch commented on #425
A quick investigation shows that the webinterface's ``tool.js`` has a function
[code]
This function receives the short and long description of results that were passed to -- ultimatively -- ``addResults`` in ``tools.js``.

It fails because ``%23`` is actually ``#`` after ``unescape``, and ``#`` is forbidden as input for  ``decodeURIComponent``.

Everything about this seems rather fishy.
* ``unesca

[2019-06-23 16:39] Heizmann commented on #425
If no important example is affected, its fine for me if we postpone this.
I just wanted to use the issue to save this example and report that this might be the reason for other problems.

[2019-06-27 07:32] danieldietsch opened #426 "Requirements parser does not accept negative constants"
``CONST EMPTY IS -1``

yields a parser error.

[2019-07-01 09:51] danieldietsch opened #427 "Fix ReqAnalyzer CONST handling"
Currently, we treat const variables during the pre-satisfiability check like variables with additional equality constraints. We want to treat them like 0-nary functions.

[2019-07-01 10:02] danieldietsch opened #428 "Create unit tests for all requirement patterns"
We need to create unit tests for all patterns s.t. we can be more confident that the formalization is interpreted correctly.

The current pattern grammar is
[code]

Unit tests should cover:
  * Parsing (for each pattern one test)
  * rt-inconsistency with 2 different patterns, also with necessitating the transitive hull (via invariants)
  * vacuity with different patterns, also with transitive hul

[2019-07-01 12:48] danieldietsch opened #429 "Dump SMT queries to quantifier elimination during requirements checking"
During requirements checking we generate many quantifier elimination queries.

These queries can trigger performance issues, but we currently have no comfortable way of debugging these issues. One step in that direction is an option that allows us to dump the queries in form of an SMT script.

[2019-07-01 15:38] danieldietsch commented on #4
Not specific enough.

[2019-07-01 15:38] #4 closed

[2019-07-02 13:32] danieldietsch opened #430 "Automatically generate documentation for supported patterns"
We want to auto-generate a website that documents all the supported patterns of ReqAnalyzer and their countertrace formulas.

It would be even better if we would generate pictures of automata and/or timing diagrams.

[2019-07-02 13:48] danieldietsch opened #431 "In library mode, assume that parameters are in range if "assume nondet values are in range" is checked"
Example for bug in ``trunk/examples/programs/SignedIntegerOverflow/regression/overflow.c`` (e45c224)
[code]

[2019-07-05 07:51] danieldietsch opened #432 "Add results to Ultimate Eliminator"
The webinterface for our quantifier elimination, Ultimate Eliminator, is missing results.
https://monteverdi.informatik.uni-freiburg.de/tomcat/Website/?ui=int&tool=eliminator

This will require a flag or object for ``UltimateEliminator`` that specifies whether results should be created for -- at least -- each ``(check-sat)`` of the input ``.smt2`` file.

[2019-07-05 07:53] danieldietsch commented on #421
@alexandernutz can this issue be closed?

[2019-07-05 07:54] danieldietsch commented on #373
@alexandernutz this issue is rather unspecific. Please create a new one if necessary or reopen it if you want to keep it.

[2019-07-05 07:54] #373 closed

[2019-07-05 07:54] danieldietsch commented on #290
@alexandernutz can this issue be closed?

[2019-07-05 07:55] danieldietsch commented on #288
@alexandernutz can this issue be closed or amended s.t. others can understand how to reproduce the bugs?

[2019-07-05 13:08] danieldietsch opened #433 "Better parser errors for requirements parser"
We do not get the line number of syntax errors during parsing, only
`` UnexpectedRequirementsParserFailureResult: The parser failed on some requirements from /storage/jenkins/jenkins_home/jobs/Ultimate Nightly/workspace/trunk/examples/Requirements/regression/parsing/parsing_test74.req`` as a final result.

We want to have dedicated errors for each parsing error as shown in the log:
[code]

[2019-07-05 15:20] schaetzc opened #434 "RCFG builder logs annoying error message"
The RCFG builder writes an error to the log saying

`[<date> ERROR L160 MonitoredProcess]: Could not determine absolute path of external process, hoping that OS will resolve z3`

Note that this is only an error *message* and not an actual error as the RCFG builder works for me. Is there any way to disable this log message?

I have `z3` installed in `/usr/bin/z3` and my `$PATH` contains `…:/usr/bin

[2019-07-09 13:48] maul-esel opened #435 "Inlining of Boogie functions broken"
Checking the Boogie program below with Ultimate Referee (web interface version) results in a message

When removing the `{:inline true}` for the function `sorted`, the annotation is considered valid.

This seems to indicate that the **function** inlining (not procedure inlining) is broken.

## Boogie Program
[code]

[2019-07-12 09:43] #427 closed, assigned to danieldietsch

[2019-07-15 12:51] enkejill commented on #69
C11 Standard 6.7.2.1 (8): "If the struct-declaration-list does not contain any
named members, either directly or via an anonymous structure or anonymous union, the
behavior is undefined."

=> The example is undefined in C11

[2019-07-15 13:46] #69 closed

[2019-07-15 17:03] alexandernutz commented on #69
Cool, thanks for looking this up!
Could you perhaps commit a test file (or more than one) that makes correct use of anonymous struct/union fields instead?

example:
struct s {
  int i;
  char ;
}

I would guess the original one would work as soon as one of the fields is named, right?

Also, the case that is mentioned in your quote with something like this might be worth tracking:
struct s {
  stru

[2019-07-19 11:47] danieldietsch opened #436 "Decouple requirements with simple data flow analysis to generate less checks"

[2019-07-19 11:50] danieldietsch opened #437 "New REST API"
We want to have a REST interface to ultimate that allows
  * for creation of toolchains without supplying .xml files
  * selection of settings similar to the command line interface
  * asynchronous tasks

[2019-07-19 11:54] danieldietsch opened #438 "New property: value completion"
This is a placeholder for the value completion property feature.

  * Which output ranges are not regulated by requirements?
  * Which input ranges cannot influence system behavior?

[2019-07-23 15:36] danieldietsch opened #439 "Integrate vacuity analysis in Ultimate"

[2019-07-29 12:27] danieldietsch commented on #339
Was already submitted

[2019-07-29 12:27] #339 closed

[2019-08-08 10:00] schaetzc commented on #434
Found the problem. It is a linux-specific bug in Ultimate.
Ultimate searches `$PATH` for files named `z3` such that

    file.isFile() && file.canExecute() && funLooksLikeExectuable.test(file)

However, `funLooksLikeExectuable` is broken on linux. It checks the magic number of the file in such a way that no file can ever *look like an executable*:

	final FileInputStream input = new FileInputStrea

[2019-08-08 10:00] #434 closed, assigned to danieldietsch

[2019-08-08 10:30] schaetzc commented on #434
We were lucky that the magic numbers used only bytes < 128. Otherwise the comparison would have failed in a less obvious way. Because bytes are signed `(byte) 0xFF != 0xFF`.
In 47adba0bcc1620dd583490251eafdb49ec8aa4dc I fixed this problem from ever occurring by explicitly requiring bytes.

[2019-08-08 10:37] schaetzc commented on #434
@danieldietsch The old code read two times as many bytes as it actually compared. On Linux 8 bytes were read even though the magic number was only 4 bytes long. On Windows 4 bytes were read even though the magic number was only 2 bytes long. The new code reads the as few bytes as necessary which works fine for me on Linux. If there is some reason to read more than that feel free to change  https:/

[2019-08-08 11:32] danieldietsch commented on #434
No, this was an additional bug -- seems like you fixed them all and made much nicer code, thank you for that!

[2019-08-14 14:27] enkejill opened #440 "Represent ambivalent floats as bitvectors"
We want to rewrite the current translation of C floating point types to Boogie to fix various issues, in particular the support of different kinds of ``NaN``s.

Our solution is -- at a very high level -- to wrap all FP operations with our own bitvector encoding, which should be changeable (see also @Heizmann's comment on #228).

The following parts are needed.
- [x] Represent floating point types

[2019-08-15 02:24] Heizmann commented on #440
Let us assume we have a floating point operation fp.op that occurs in
``z := fp.op(x,y)``

An obvious(?) translation would be
[code]
Unfortunately, this will in general lead to quantified formulas but I cannot see a better solution.
However, the following could be an optimization.
[code]

[2019-08-15 07:21] danieldietsch commented on #440
We could also do it the other way around, i.e., checking if one of the Ops is ``NaN`` and thus would need non-determinism before doing the operation.
We will first implement the "easiest" solution that always uses quantifiers.

[2019-08-20 13:54] danieldietsch opened #441 "PredicateTransformer does not eliminate AuxVar"
PredicateTransformer.strongestPostconditionCall contains Auxvars of call transition in resulting term.

To observe the behavior:
  * Set break point at https://github.com/ultimate-pa/ultimate/blob/3036a875e7fda7b2aab1b90aa0f53c74f5d6a4d6/trunk/source/Library-SymbolicInterpretation/src/de/uni_freiburg/informatik/ultimate/lib/symbolicinterpretation/SymbolicTools.java#L125
  * Example [examples/Boogi

[2019-08-20 15:07] liammachado commented on #283
Hey, I was wondering if there's been any progress on this issue? I've been trying again to verify SMACK-generated .bpl files with Ultimate Automizer, and it is resulting in the same error when it encounters the "cexpr" attribute.

[2019-08-21 05:58] Heizmann commented on #441
Is a bug. I know how to fix it, I am planning to do so within the next 24 hours.

[2019-08-21 14:27] danieldietsch commented on #283
Ah, I completely forgot about this issue. I will look into it.

[2019-08-21 14:36] Heizmann opened #442 "Several problems with SmtSymbols.transferSymbols"
I get `de.uni_freiburg.informatik.ultimate.logic.SMTLIBException: Quantifier not supported.`
If this is solved there seems to be the more difficult problem that symbols are declared twice.

trunk/examples/settings/default/automizer/svcomp-Reach-64bit-Automizer_Default.epf
trunk/examples/programs/regression/bpl/TestFunctionWithBody.bpl
trunk/examples/toolchains/AutomizerBpl.xml

[2019-08-21 14:39] Heizmann commented on #441
I am unable to produce a good test for the real problem. @danieldietsch could you fix #442 first?

[2019-08-21 14:47] Heizmann commented on #442
I have the impression that transferring symbols eagerly is incompatible to the idea of the TermTransferrer

[2019-08-21 14:50] danieldietsch commented on #441
I can take a look.

[2019-08-23 07:35] danieldietsch commented on #442
From my POV, ``SmtSymbols`` works as intended. The term is only transferred during the creation of a new script.

The exception is to be expected, because the example in question contains a function without the attribute ``{ :inline true }``, so that an axiom with ``forall`` quantifier is added. SmtInterpol crashes when this quantified axiom is asserted.
If you add the attribute to the function, e

[2019-08-23 15:12] Heizmann commented on #442
Nice, but what about the cases in the user does not want to inline the function?

Am I right that your finding is the following
1. The example was put in the wrong folder and should (quantifiers!) be moved to
 trunk/examples/programs/quantifier/regression/bpl/
2. There is a problem with the refinement engine: It seems like all refinement strategies that use SMTInterpol cannot handle Boogie program

[2019-08-23 15:17] Heizmann commented on #442
By the way: I am perfectly happy if we do not yet address 2. (refinement engine) now.

[2019-08-23 15:39] Heizmann commented on #442
You should be able to reproduce the "declare-twice-bug" if you use the following settings.
`trunk/examples/settings/automizer/interpolation/Reach-32bit-Z3-IcSpLv.epf`

The error message is
`de.uni_freiburg.informatik.ultimate.logic.SMTLIBException: Function myIncrement is already defined.`

[2019-08-23 16:02] Heizmann commented on #442
I think I know the problem:

- The SmtSymbols.transferSymbols uses the TermTransferrer to transfer the axiom.
- The TermTransferrer declares the required function symbols on-demand.
- Afterwards SmtSymbols.transferSymbols declares all function symbols eagerly. (Already declared symbols are declared twice)

 A quick workaround would be to swap the translation of the axiom and the eager declaration

[2019-08-24 11:57] Heizmann opened #443 "Broken Support for Functions Without Parameters"
Functions without parameters are legal in Boogie (see Section 3 of "This is Boogie 2"
https://www.microsoft.com/en-us/research/wp-content/uploads/2016/12/krml178.pdf)

Boogie and die ICFG distinguish between constants and functions.
In SMT-LIB constants and 0-ary functions coincide.

The construction algorithm of the Transformula fails because it expects that
"myFunction" is a constant.

[2019-08-24 12:01] Heizmann commented on #442
Added issue #443 for one of the above mentioned problems.

[2019-08-26 12:53] danieldietsch commented on #440
Simple wrapper function:
[code]

[2019-08-27 00:59] #441 closed, assigned to Heizmann, danieldietsch, schaetzc

[2019-08-29 17:46] liammachado opened #444 "Error on basic Boogie file: "Function b is already defined.""
I'm getting a strange error when running Ultimate Automizer on a small Boogie file using the command `./Ultimate -tc config/AutomizerBpl.xml -s config/svcomp-Reach-64bit-Automizer_Default.epf -i t.bpl`. I'm running release v0.1.24 on Ubuntu 16.04. I realize that many commits have been made since this release, so please disregard this issue if it's no longer present.

The Boogie file contents are s

[2019-08-29 19:57] danieldietsch commented on #444
This is -- probably -- a duplicate of #442. I will fix this issue soon.
And I can add a new release afterwards.

[2019-08-30 14:00] #283 closed

[2019-08-30 17:15] danieldietsch commented on #443
I do not see the connection to #442.

We are currently translating this function to a 0-ary SMT function: ``(declare-fun myFunction () Int)``
Do you propose that we identify 0-ary functions and translate them to constants, i.e., ``(declare-const myFunction Int)``?
From an SMT perspective, this does not change anything.

Or are you proposing to fix the construction algorithm of the Transformula?

[2019-08-30 23:11] Heizmann commented on #443
The only connection to #442 that I can see is what I mentioned there: I failed to reproduce the problem of #442 because of this issue.

In SMT-LIB 0-ary functions **are** constants. The `declare-const` command is just syntactic sugar for a `declare-fun` command with zero parameters.

I do/did not propose a solution.

My main concern is that I implemented everything without considering this problem

[2019-08-31 02:38] liammachado opened #445 "Boogie variables beginning with a period are disallowed"
When I run the command `./Ultimate -tc config/AutomizerBpl.xml -s config/svcomp-Reach-64bit-Automizer_Bitvector.epf -i test.bpl` on the below file, I get the error `SMTLIBException: Parse Error: <stdin>:14.15: cannot declare or define symbol '.a'; symbols starting with . and @ are reserved in SMT-LIB`:

[code]

Below is the full error message:

[code]

While it is true that SMT-LIB disallows symbo

[2019-08-31 04:55] Heizmann commented on #445
Thanks for reporting this.
We probably have to escape an initial dot while translating identifiers from Boogie to SMT-LIB.

[2019-08-31 14:51] danieldietsch commented on #445
I will have a look.

[2019-09-01 10:50] Heizmann commented on #445
I had some time to think about this.
We should use the quoted symbols mentioned in 3.1 of the [SMT-LIB standard](http://smtlib.cs.uiowa.edu/papers/smt-lib-reference-v2.6-r2017-07-18.pdf)
We can then translate `.myConst` into `|.myConst|`.
A question is whether we should translate every Boogie identifier into a quoted SMT symbol or only those where we have to quote something (Is there more that has

[2019-09-02 11:56] jhoenicke commented on #445
The SMT-LIB standard demand that .myConst and |.myConst| are treated as the same identifier.  At least this is explicitly mentioned for abc and |abc|. So quoting doesn't help.

Our library decides itself whether to print the symbol quoted or unquoted. You cannot force to quote it.

[2019-09-06 14:02] danieldietsch commented on #445
For completeness sake: The SMT-LIB Standard Version 2.6, Sec 3.1, p24, Symbols, last paragraph:

can use them respectively as identifiers for abstract values and solver-generated function
symbols other than abstract values.

z3 allows these symbols, cvc4 does not. I did not try SMTInterpol, but Liam's example from above suggests that SMTInterpol is also ok with that.

I will rename the offending i

[2019-09-10 15:48] #444 closed, assigned to danieldietsch

[2019-09-23 11:50] maul-esel opened #446 "NullPointerException in counterexample creation for concurrent programs"
Bug found by @elisabethschanno:
[code]

Running Ultimate (`dev` branch) on the minimal example above results in a `NullPointerException` in `IcfgProgramExecution`, line 179: https://github.com/ultimate-pa/ultimate/blob/3036a875e7fda7b2aab1b90aa0f53c74f5d6a4d6/trunk/source/Library-ModelCheckerUtils/src/de/uni_freiburg/informatik/ultimate/lib/modelcheckerutils/cfg/IcfgProgramExecution.java#L175-L180

[2019-09-24 16:16] #446 closed, assigned to nobody

[2019-09-25 10:49] schaetzc opened #447 "Improve automatic conversion from setting labels to command line options"
In [….ultimate.cli.options.OptionBuilder.convertLabelToLongName(…)](https://github.com/ultimate-pa/ultimate/blob/41e327dff53bf6d340469b154456b8b9191919d0/trunk/source/UltimateCLI/src/de/uni_freiburg/informatik/ultimate/cli/options/OptionBuilder.java#L353) we convert the labels from the setting dialog to command line options.

The automatic conversion could be improved for complicated labels. As an

[2019-09-25 11:24] danieldietsch commented on #447
I guess there is some confusion here. The labels _are_ already the mandatory field that specifies the name of the command line option. The optional description field is for more information.

The issue might be that the debug GUI displays the labels and gives the description only in the tooltip.

Hence, I would propose to:
 - change the display in the debug GUI s.t. converted label name and descri

[2019-10-11 14:40] Heizmann opened #448 "Slow Petri Net Unfolding (the Bumblebee Observations)"
The Petri net unfolding is at the moment (early Oct 2019) the major bottleneck of the Petri Automizer verifier. The Petri net unfolding seems to be unnecessarily slow.

The following list of observations should help us to discuss improvements.

**The Dinosaur Observations:**

- D01: Typically, we have dozens of conditions per place.
- D02: Only few candidate for possible extension finally evolve t

[2019-10-13 11:53] Heizmann commented on #448
* B11: The method BranchingProcess#isOneSafe is also very costly. If we trust the input to be 1-safe. Otherwise we could check 1-safety more efficiently by checking that each place occurs at most once in each local configuration.

[2019-10-13 12:45] Heizmann commented on #448
For benchmarks on the set above,
CONDITION_PER_PLACE_MAX is between 90 and 25000, and
CO_RELATION_MAX_DEGREE is between 3000 and 70000.
[CsvAutomataOperationStatistics107285100_2019-10-13_14-33-48-842.csv.txt](https://github.com/ultimate-pa/ultimate/files/3721731/CsvAutomataOperationStatistics107285100_2019-10-13_14-33-48-842.csv.txt)
[java.hprof.txt](https://github.com/ultimate-pa/ultimate/files/

[2019-10-13 13:21] Heizmann commented on #448
For the benchmarks in the set above:
https://github.com/ultimate-pa/ultimate/commit/ae0a586ed02fa02de0cdf0cc5c54bfa94b436380 sped up the unfolding for larger benchmarks by factor 3 and reduced co-relation queries by up to 40%.
(@naouarmehdi unfortunately, a side-effect is that benchmarks done before and after this commit are not comparable wrt. number of co-relation queries.)
[CsvAutomataOperation

[2019-10-15 17:33] Heizmann commented on #448
- B12: If we run the verification on larger examples, timeouts occur almost always in these FinitePrefix operations that are applied to a DifferencePairwiseOnDemand. These operation is done in order to enhance the Floyd-Hoare automaton on-demand (constructing the Floyd-Hoare automaton eagerly is no alternative for large programs).

[2019-10-20 00:07] Heizmann commented on #448
* B13: The subTwoHourMarathon subset is more relevant for program verification than the other four benchmarks in the set. It seems that we have different bottlenecks for both sets.
The hprof output is dominated by the four more time-consuming but less important benchmarks.

[2019-10-20 02:01] Heizmann commented on #448
Optimization mentioned in B07 reduced runtime on the subTwoHourMarathon to 250s but increased rumtime on some of the other four benchmarks.
[CsvAutomataOperationStatistics589166341_2019-10-20_03-48-32-850.csv.txt](https://github.com/ultimate-pa/ultimate/files/3747370/CsvAutomataOperationStatistics589166341_2019-10-20_03-48-32-850.csv.txt)
[java.hprof.txt](https://github.com/ultimate-pa/ultimate/fi

[2019-10-21 22:31] Heizmann commented on #448
* B14: The optimization mentioned in B08 did not had any signifiant effect on the runtime for our benchmark set (hence optimization disabled by default). I am totally surprised. Maybe the other bottleneck (costs for comparing events wrt. ERV order) dominates everything.
* B15: On the subTwoHourMarathon benchmark set, 50%-70% of all events are cut-off events. I was surprised about that from the sta

[2019-10-26 02:50] Heizmann commented on #448
* B17: Observation of @naouarmehdi in Today's discussion. If we use a total order (e.g., the ERV order) and check if an already added event e1 is a companion a not yet added event e1, we can omit the check e1<e2 because the result is always true.

[2019-10-26 03:00] Heizmann commented on #448
The optimization mentioned in B17 reduced the runtime on the subTwoHourMarathon set to 175s. (!)
[CsvAutomataOperationStatistics589166341_2019-10-26_03-48-44-805.csv.txt](https://github.com/ultimate-pa/ultimate/files/3774382/CsvAutomataOperationStatistics589166341_2019-10-26_03-48-44-805.csv.txt)
[java.hprof.txt](https://github.com/ultimate-pa/ultimate/files/3774384/java.hprof.txt)

Maximal size o

[2019-10-31 09:24] danieldietsch opened #449 "Keywords as variable / function / procedure names in Boogie"
Our C translation sometimes creates variable or function names that are keywords in Boogie. This prevents roundtrip parsing of printed Boogie code.

So far I saw
[code]
(variable name ``type`` is named like a keyword)
and
[code]
(procedure name  is a keyword)

I am unsure what the best place for a fix is.

[2019-11-10 19:12] naouarmehdi commented on #448
* B18: let m be the marking of an event e. We dont need to add the Pair (m,e) to mMarkingEventRelation in the Branching Process class if e is a cutoff event since for some e' (the company of e) (m, e') is already in the relation and e'<e

[2019-11-11 13:01] danieldietsch opened #450 "LoopFreeBlock encoding of RCFGBuilder produces unsound results with gotos."
The following example program fails to find a violation with default settings and ``AutomizerBpl.xml``.
If you change ``--rcfgbuilder.size.of.a.code.block`` to ``SequenceOfStatements``, the violation is found as expected.

Thanks @armanthus for finding this bug.
[code]

[2019-11-16 01:14] Heizmann commented on #448
* B19: The optimization https://github.com/ultimate-pa/ultimate/commit/02c021460ced74ba067e1478aefa841f59aa68f0  reduced the runtime on the subTwoHourMarathon set to 148s.
[CsvAutomataOperationStatistics1957175487_2019-11-16_02-04-35-341.csv.txt](https://github.com/ultimate-pa/ultimate/files/3853655/CsvAutomataOperationStatistics1957175487_2019-11-16_02-04-35-341.csv.txt)
[java.hprof.txt](https://

[2019-11-16 02:04] Heizmann commented on #448
The Optimization mentioned in B18 reduced the runtime on the subTwoHourMarathon set to 143s.
[CsvAutomataOperationStatistics1957175487_2019-11-16_02-32-34-977.csv.txt](https://github.com/ultimate-pa/ultimate/files/3853710/CsvAutomataOperationStatistics1957175487_2019-11-16_02-32-34-977.csv.txt)
[java.hprof.txt](https://github.com/ultimate-pa/ultimate/files/3853711/java.hprof.txt)

[2019-11-18 04:10] Heizmann commented on #448
An optimization not discussed here, related to commit https://github.com/ultimate-pa/ultimate/commit/192202ccb26caed483646b4455aa7b50d1a2efd7 reduced the runtime on the subTwoHourMarathon set to 135s.
[CsvAutomataOperationStatistics1957175487_2019-11-18_04-38-23-835.csv.txt](https://github.com/ultimate-pa/ultimate/files/3856758/CsvAutomataOperationStatistics1957175487_2019-11-18_04-38-23-835.csv.t

[2019-11-18 04:34] Heizmann commented on #448
* B20: CuttOffCheckingPossibleExtensions#firstbornCutoffCheck is now the most time-consuming method. So at least for this benchmark set, we can only improve if we find a way to compare two events more efficiently or if we find a different order.

[2019-11-30 23:55] Heizmann commented on #448
* B21 The optimization b9380eb reduced the runtime on the subTwoHourMarathon set to 105s. (!)
[CsvAutomataOperationStatistics1957175487_2019-12-01_00-40-36-580.csv.txt](https://github.com/ultimate-pa/ultimate/files/3907679/CsvAutomataOperationStatistics1957175487_2019-12-01_00-40-36-580.csv.txt)
[java.hprof.txt](https://github.com/ultimate-pa/ultimate/files/3907681/java.hprof.txt)
This optimizatio

[2019-12-03 12:13] enkejill commented on #440
SMTLIBException in RCFGBuilder:

noopscript.java
line 468 => checks sorts and returns null if it can't build a function

sorts are set here:
statements2transformula.java
line 546 getboogievar()
line 555 lookup

the lookup seems to only consider the procedure itself, without the parameters specific to the call

[2019-12-03 23:35] Heizmann commented on #449
Pick a character `ζ` that is not allowed in C identifiers but in Boogie identifiers and use it as a prefix for all translated identifiers.

Problem: to the best of my knowledge (to be checked) the C standard provides only a whitelist of allowed characters for identifiers but no blacklist of disallowed characters.
Which characters are legal is implementation defined.

I see three options.
1. Let a

[2019-12-04 02:42] Heizmann commented on #440
Is this a bug report for me? I think I did not understand the problem. But I can say the following.

The return sort must be non-null if and only if we have an explicitly instantiated polymorphic FunctionSymbol, i.e., a function of the form (as <name> <sort>).
Since these classes belong to SMTInterpol I cannot add this documentation to the code.

[2019-12-04 08:30] danieldietsch commented on #449
This issue is not about C keywords, but about Boogie keywords.
``free`` is a Boogie keyword. We cannot parse Boogie files that use these keywords, e.g., as procedure name. This might be a limitation of our Boogie parser.

[2019-12-04 08:32] danieldietsch commented on #440
No, this is not a bug report for you ;) -- we still have to investigate what the real issue is.

Perhaps @enkejill  can explain what our current difficulty is: namely, that because we did never introduce a Boogie type that is equivalent to the ``FloatingPoint`` sort of SMT, we abuse the Boogie type system.

[2019-12-18 00:54] Heizmann commented on #448
I accidentally run the last benchmark without the _firstborn cutoff check_. If this check is also enabled the runtime is only 96s.
[CsvAutomataOperationStatistics1513124396_2019-12-18_01-31-41-453.csv.txt](https://github.com/ultimate-pa/ultimate/files/3976117/CsvAutomataOperationStatistics1513124396_2019-12-18_01-31-41-453.csv.txt)
According to the hprof output, removeMin is now probably the most

[2019-12-18 02:06] Heizmann commented on #448
* B22 One reason for what is mentioned in D02 above: I we added a new condition c and consider candidates for possible extension, we consider all outgoing transitions of c's place. However, some of the transitions might have a preset of places where not every place has (yet) a corresponding condition in the unfolding. This problem is especially important in program verification because there we co

[2019-12-18 13:49] naouarmehdi commented on #448
* B23 We can improve the runtime of the computation of the minimums of configurations by storing the minimal distance of an Event to the dummy event. The minimum of a local configuration is the set of events having the distance 1 to the dummy event. If we call the removemin method then the new minimum is given by the set of events having the distance 2 to the Dummyevent and so on.
Ps: The distance

[2019-12-18 17:37] Heizmann commented on #448
This definitely makes sense.
Maybe we can define a new total order as an alternative to the EsparzaRömerVogler order ≺_E from Section 5 of the [paper](https://link.springer.com/article/10.1023/A:1014746130920).
We could define χ (or ψ) as an alternative to φ. We define χ as a map from natural numbers to the sets of events whose depth is that number. Maybe let us call this order the *depth-based or

[2019-12-19 22:50] Heizmann commented on #448
The optimization 4b7a06995808403b91d8be427d953a6b1a496e48 reduced the runtime on the subTwoHourMarathon set to 52s.
(Great! I had not expected that a reduction of the runtime by factor 2 is still possible.)
[CsvAutomataOperationStatistics1513124396_2019-12-19_23-08-43-238.csv.txt](https://github.com/ultimate-pa/ultimate/files/3985944/CsvAutomataOperationStatistics1513124396_2019-12-19_23-08-43-238

[2019-12-20 03:24] Heizmann commented on #448
Quick evaluation of bfbf37b after the bugfix  def68b0. Runtime was reduced to 45s.
[CsvAutomataOperationStatistics1513124396_2019-12-22_00-03-22-204.csv.txt](https://github.com/ultimate-pa/ultimate/files/3991965/CsvAutomataOperationStatistics1513124396_2019-12-22_00-03-22-204.csv.txt)
[java.hprof.txt](https://github.com/ultimate-pa/ultimate/files/3991966/java.hprof.txt)
I compared the last two CSV

[2019-12-20 13:46] naouarmehdi commented on #448
- B24: Based on the idea mentioned in B23:
  - I implemented an improved version of EsparzaRoemerVoglerOrder: In this version we don't have to compute the surfixes of configuration to find the minimums of surfixes: to compute the minimum of the i'th surfix, we just have to iterate over the events of the local configuration and pick the events having satisfying  the condition depth == i.
  - I impl

[2019-12-21 01:02] Heizmann commented on #448
I compared the last two CSVs more carefully. The candidate preselection reduced the number of EXTENSION_CANDIDATES_TOTAL by around factor 10 and the number of EXTENSION_CANDIDATES_USELESS is close to 0. Most other numbers are unchanged but the  NUMBER_EVENT_COMPARISONS has grown by around factor 2.
[WithoutAndWithCandidatePreselectionInterleaved.csv.txt](https://github.com/ultimate-pa/ultimate/fil

[2019-12-24 13:02] Heizmann commented on #448
Some obersevations of Mehdi.
* B25: After an event was added (and until the next event was added) all successor conditions of this event definitely have the same co-related conditions.
* B26: When we add an event is added we compute the co-relation information for its successors twice. Once for getting the SuccessorTransitionProviders and a second time in the evolveCandidate method (if the BUMBLEB

[2019-12-25 05:19] Heizmann commented on #448
* B28: I added a set of benchmarks that were produced while verifying some SV-COMP programs. A file was written if the unfolding took more than 5s.
I do not have plans for fundamental modifications of the verification algorithm so these are probably typical important unfolding problems for a long time.
A quick analysis based on the hprof output and our statistics:
[java.hprof.txt](https://github.c

[2019-12-26 04:54] Heizmann commented on #448
* B29: The Java VM is probably rather slow in dealing with recursive method calls. We should probably replace the recursive method by an iterative method.
* B30: We could determine the order in which transitions are instantiated by heuristics. E.g., instantiate places with one remaining condition immediately. Store the number of co-related conditions. If number is high then check co-relation pairw

[2019-12-26 21:39] Heizmann commented on #448
Evaluation of the new (final) christmas benchmark set for the code of ab37154. Runtime 397s.
[CsvAutomataOperationStatistics781527109_2019-12-26_22-29-42-686.csv.txt](https://github.com/ultimate-pa/ultimate/files/4003496/CsvAutomataOperationStatistics781527109_2019-12-26_22-29-42-686.csv.txt)
[java.hprof.txt](https://github.com/ultimate-pa/ultimate/files/4003498/java.hprof.txt)

[2019-12-26 21:54] Heizmann commented on #448
4336eb1 reduce the runtime on the Christmas benchmark set to 256s.
[CsvAutomataOperationStatistics781527109_2019-12-26_22-47-48-939.csv.txt](https://github.com/ultimate-pa/ultimate/files/4003522/CsvAutomataOperationStatistics781527109_2019-12-26_22-47-48-939.csv.txt)
[java.hprof.txt](https://github.com/ultimate-pa/ultimate/files/4003523/java.hprof.txt)
Streaming co-related conditions seems to be t

[2019-12-26 22:01] Heizmann commented on #448
The ERV2 order would reduce the runtime on the Christmas benchmark set to 227s.
[CsvAutomataOperationStatistics781527109_2019-12-26_22-58-08-197.csv.txt](https://github.com/ultimate-pa/ultimate/files/4003531/CsvAutomataOperationStatistics781527109_2019-12-26_22-58-08-197.csv.txt)
[java.hprof.txt](https://github.com/ultimate-pa/ultimate/files/4003532/java.hprof.txt)

[2019-12-26 23:03] Heizmann commented on #448
The DBO  order would reduce the runtime on the Christmas benchmark set to 242s.
[CsvAutomataOperationStatistics781527109_2019-12-26_23-42-22-868.csv.txt](https://github.com/ultimate-pa/ultimate/files/4003595/CsvAutomataOperationStatistics781527109_2019-12-26_23-42-22-868.csv.txt)
[java.hprof.txt](https://github.com/ultimate-pa/ultimate/files/4003596/java.hprof.txt)

[2019-12-26 23:19] Heizmann commented on #448
If we would not add cut-off events to the BranchingProcess this would  reduce the runtime on the Christmas benchmark set to 131s. (!)
[CsvAutomataOperationStatistics781527109_2019-12-27_00-11-24-371.csv.txt](https://github.com/ultimate-pa/ultimate/files/4003615/CsvAutomataOperationStatistics781527109_2019-12-27_00-11-24-371.csv.txt)
[java.hprof.txt](https://github.com/ultimate-pa/ultimate/files/40

[2020-01-01 21:57] naouarmehdi commented on #448
* B32: A side effect of B07 is that the update method of the correlation class has very high costs. (because of the multiple streamCoRelatedEvents calls). The main motivation for B07 was to compute the sets of correlated conditions which corresponds a specific place in an efficient way to use it in the "evolve candidate" method. Since 4336eb1 we check correlated conditions in the "evolve candidate

[2020-01-04 11:45] Heizmann commented on #448
The optimization mentioned in B32 reduced the runtime on the Christmas benchmark set from 256s to 65s.
(I double checked that the runtime without the optimization is really 256s and the speedup is not caused by something else.)
[CsvAutomataOperationStatistics781527109_2020-01-04_02-32-39-141.csv.txt](https://github.com/ultimate-pa/ultimate/files/4021854/CsvAutomataOperationStatistics781527109_2020

[2020-01-05 20:20] Heizmann commented on #448
I added a testsuite 1a33ac41417d8a76c3308360c02d5568c1c3d653 for evaluating the impact of the here discussed improvements on our program verification.
I am unsure how we should organize these informations (separate issue, here, something else). By now, I will just call related observations *Lyx Observations" and post them here.
* L01: The major bottleneck for the program verification is related to

[2020-01-07 13:26] Heizmann commented on #448
* L05: The *Christmas* benchmark set contains Petri net that are the result of the on-demand construction (PairwiseDifference) and Petri that are the result of RemoveUnreachable after the construction of the *inverted difference*. In 595fd35 I added a new benchmark set that contains Petri net that are the result of an *inverted difference* but before unreachable. An analysis of these Petri net sho

[2020-01-30 14:50] blizzard4591 opened #451 "Timeout on a small example program"
Dear Developers,

I tested an example program with Ultimate and ran into timeouts where I did not expect them.

The example program is:
[code]

I called Ultimate with `timeout -k 900s 960s nice -10 ./Ultimate.py --spec reach.prp --file example.c --full-output --architecture 32bit`. Even longer timeouts also lead to timeout - but to me, it looks like there is a structural bug here, not a problem wi

[2020-01-30 15:19] danieldietsch commented on #451
@Heizmann could you inspect this program? It seems to me that this might be due to quantifier elimination.

After the following lines (note the ``treesize of input 211123411353580 treesize of output 211106231484396``) we get a lot of the famous ``...QuantifierPusher]: Applying distributivity, recursing on 2 terms`` lines.
[code]

I used ``./run-ultimate.sh -tc config/AutomizerReach.xml -s config/s

[2020-01-30 20:55] Heizmann commented on #451
@blizzard4591 Thanks for the example.
I will have a look in the next days. If the problem is what Daniel mentioned, then I can solve the issue only after I found time to continue my work on the quantifier elimination.

[2020-02-04 09:37] danieldietsch opened #452 "Show some kind of estimate / progress bar for the reqchecker verification process"

[2020-02-05 10:49] Langenfeld opened #453 "Req-Checker not detecting rt-inconsistency in one requirement"
Req-Check does not find requirements that are (could be called) rt-inconsistent by themselves e.g.
[code]
Here no warning is given (is rt-consistent, non-vacous and consistent).

[2020-02-05 10:50] Langenfeld opened #454 "Req-Checker not detecting rt-inconsistency with non-rt requirement"
Req-Check does not find requirements that are rt-inconsistent with a non-rt requirement e.g.
[code]

[2020-02-10 04:03] Heizmann commented on #448
I added new benchmarks for the evaluation of the unfolding. These benchmarks mimic what is needed during program verification. The unfolding is not run by the operation FinitePrefix but by the operation DifferencePairwiseOnDemand, hence we have to use the DifferencePetriNwaBenchmark testsuite. Statistics about the unfolding are added to the statistics of the DifferencePairwiseOnDemand operation.

[2020-02-10 07:00] Heizmann commented on #448
* B34: There is another application for which we need that cut-off events are added to the co-relation, namely the computation of *vital transitions*. We call a transition vital if it occurs in some accepting firing sequence of the Petri net and the computation of vital transitions is e.g., needed by the RemoveDead operation.
* L06: The plan for the program verification is to do only one unfolding

[2020-02-19 04:33] Heizmann commented on #448
I agree. But I want to add that we do not need B07 because we do an on-demand construction of successor transitions. If we would know all predecessor places of an outgoing transition in advance, it might be useful to compute only co-related conditions that have a certain place.

[2020-02-19 04:45] Heizmann commented on #448
* B35: For the _materialistic_ benchmark set, memory consumption matters. If I run _DifferencePetriNwaBenchmark_ I get one OOM and several cases of high CPU load on several CPU cores because of the garbage collection of the JVM. Hence, I will use the JVM argument -Xmx16g in of the following experiments.

[2020-02-19 04:58] Heizmann commented on #448
If we only use the optimizations that are yet enabled by default, the runtime of _DifferencePetriNwaBenchmark_ on the _materialistic_ benchmark is 5595s.
[CsvAutomataOperationStatistics1461347900_2020-02-18_01-58-39-527.csv.txt](https://github.com/ultimate-pa/ultimate/files/4223180/CsvAutomataOperationStatistics1461347900_2020-02-18_01-58-39-527.csv.txt)
[java.hprof.txt](https://github.com/ultimat

[2020-02-19 05:06] Heizmann commented on #448
The optimization mentioned in B32 reduced the runtime on the _materialistic_ benchmark set from 5595s to 512s.
[CsvAutomataOperationStatistics1461347900_2020-02-18_01-58-39-527.csv.txt](https://github.com/ultimate-pa/ultimate/files/4223207/CsvAutomataOperationStatistics1461347900_2020-02-18_01-58-39-527.csv.txt)
[java.hprof.txt](https://github.com/ultimate-pa/ultimate/files/4223206/java.hprof.txt)

[2020-02-19 06:23] Heizmann commented on #448
If we additionally use the optimization of 81c6a12 the runtime is reduced to 451s.
[CsvAutomataOperationStatistics1461347900_2020-02-18_04-01-33-606.csv.txt](https://github.com/ultimate-pa/ultimate/files/4223222/CsvAutomataOperationStatistics1461347900_2020-02-18_04-01-33-606.csv.txt)
[java.hprof.txt](https://github.com/ultimate-pa/ultimate/files/4223223/java.hprof.txt)

[2020-02-25 02:24] Heizmann commented on #448
In 3b27a0c I added a new testsuite for evaluating our optimizations directly within the program verification.
Ideas:
* Use only benchmarks that are solved by most settings.
* Use only benchmarks that are not solved in less than 5s.
* Evaluate the speed, not the number of solved benchmarks (because hopefully all of these benchmarks are soon solved by all settings)

Rules:
* We will not change the b

[2020-02-25 02:26] Heizmann commented on #448
At moment ( 3b27a0c ) I the runtime is 496s.
[java.hprof.txt](https://github.com/ultimate-pa/ultimate/files/4247784/java.hprof.txt)
[IncrementalLogWithBenchmarkResults_2020-02-25_02-41-33-839-incremental.log](https://github.com/ultimate-pa/ultimate/files/4247900/IncrementalLogWithBenchmarkResults_2020-02-25_02-41-33-839-incremental.log)

[2020-02-25 02:45] Heizmann commented on #448
* B36: Neither the number of places nor the number of transitions is very suitable to measure the size of our Petri nets because in the program verification the number of incoming and outgoing arcs of transitions is increasing in each iteration. As an alternative, I propose that we use the size of the flow relation.

[2020-02-25 03:02] Heizmann commented on #448
Same experiment as two comments before but this time with the new definition of size.
Runtime was 497s.
[java.hprof.txt](https://github.com/ultimate-pa/ultimate/files/4247877/java.hprof.txt)
[IncrementalLogWithBenchmarkResults_2020-02-25_03-50-47-316-incremental.log](https://github.com/ultimate-pa/ultimate/files/4247891/IncrementalLogWithBenchmarkResults_2020-02-25_03-50-47-316-incremental.log)

[2020-02-25 04:20] Heizmann commented on #448
Same experiment after 98add97766ce83f28f56b1f87ce2e5f7f82a3ac2 and with mRemoveRedundantFlow set to true.
Runtime was 581s.
[java.hprof.txt](https://github.com/ultimate-pa/ultimate/files/4248047/java.hprof.txt)
[IncrementalLogWithBenchmarkResults_2020-02-25_04-57-47-201-incremental.log](https://github.com/ultimate-pa/ultimate/files/4248048/IncrementalLogWithBenchmarkResults_2020-02-25_04-57-47-201

[2020-02-25 16:07] Heizmann commented on #448
The experiment was flawed. The operation RemoveRedundantFlow was not used at all.

[2020-02-26 01:13] Heizmann commented on #448
Same experiment after 90f2a0cc5930582937fffd6e33bfb32ad7a64a42 and with mRemoveRedundantFlow set to true.
Runtime was 558s.
[java.hprof.txt](https://github.com/ultimate-pa/ultimate/files/4253031/java.hprof.txt)
[IncrementalLogWithBenchmarkResults_2020-02-26_02-31-25-428-incremental.log](https://github.com/ultimate-pa/ultimate/files/4253033/IncrementalLogWithBenchmarkResults_2020-02-26_02-31-25-428

[2020-02-26 04:40] Heizmann commented on #448
Same experiment with backfolding (and a bunch of immature local changes that I needed for the integration)
Runtime was 535.
[java.hprof.txt](https://github.com/ultimate-pa/ultimate/files/4253501/java.hprof.txt)
[IncrementalLogWithBenchmarkResults_2020-02-26_04-53-50-235-incremental.log](https://github.com/ultimate-pa/ultimate/files/4253414/IncrementalLogWithBenchmarkResults_2020-02-26_04-53-50-235

[2020-02-26 14:48] danieldietsch opened #455 "Remove id2bounds from Reqchecker"
It would be better to have pattern rewriting instead of using id2bounds.

But then, we also need a backtranslation between the different patterns.

[2020-02-26 17:04] Langenfeld opened #456 "Only view relevant inputs/outpus in tests."
Currently Req2Test prints all variable values with every test step.

Variables should only be shown if they are necessary for the test.
Maybe even if they changed with regard to the last step.

[2020-02-26 17:10] Langenfeld opened #457 "Add testgenerator assertions for final phases that only have an edge."
For some cases of requirements, the last phase is not part of a pea phase but is enforced by an edge. In this case the test generator has no assertions to generate tests.

Assertions can be added by checking if one of those edges is taken (done)
but as a subsequent phase is needed to get a test that is missing its last step the violation of the test generator assertion has to be delayed by one pha

[2020-02-26 17:11] Langenfeld opened #458 "Also consider clock invariants for test generation"

[2020-02-29 15:50] Heizmann commented on #448
b8661f94447577f9571590a76d767fcbe40cdfae reduced the runtime on the _materialistic_ benchmark set to 369s (from 512s)
[java.hprof.txt](https://github.com/ultimate-pa/ultimate/files/4270536/java.hprof.txt)
[CsvAutomataOperationStatistics1461347900_2020-02-29_16-23-21-647.csv.txt](https://github.com/ultimate-pa/ultimate/files/4270537/CsvAutomataOperationStatistics1461347900_2020-02-29_16-23-21-647.c

[2020-03-01 04:17] Heizmann commented on #448
b8661f9 reduced the runtime of the Svcomp20AutomizerConcurrentSpeedBenchmarks from 497 to 470s (given the fact that 3*120s=360s are spend on timeouts, this is a significant improvement.)
[java.hprof.txt](https://github.com/ultimate-pa/ultimate/files/4271339/java.hprof.txt)
[IncrementalLogWithBenchmarkResults_2020-03-01_00-36-53-290-incremental.log](https://github.com/ultimate-pa/ultimate/files/427

[2020-03-03 15:45] danieldietsch commented on #457
I.e., we will generate more tests if this is finished

[2020-03-03 15:56] danieldietsch commented on #452
Relevant for F9 of DTS

[2020-03-03 16:07] danieldietsch opened #459 "Generate CEX for rt-inconsistency"
Generate human-readable output for rt-inconsistent requirements s.t.:
 - we can generate a timing diagram from it
 - we can identify which requirements are necessary (i.e., which invariants, etc.)

[2020-03-03 16:13] danieldietsch commented on #437
@samurous This is the main ticket for the WebBackend rewrite.

[2020-03-03 16:15] danieldietsch commented on #208
Will be done in the new webinterface (#437)

[2020-03-03 16:45] danieldietsch opened #460 "New property: vacuous subexpression (variant of value completeness)"

[2020-03-03 16:49] danieldietsch opened #461 "Analyze DTS benchmarks w.r.t performance"
Run various DTS benchmarks on struebli with different settings to explore impact on performance.

Possibly, use SmtInterpol instead of quantifier elimination.

[2020-03-03 16:55] danieldietsch opened #462 "Analyze DTS benchmarks"
Run benchmarks from GD through the test generator and req checker to see the current results and times.

[2020-03-03 17:01] danieldietsch opened #463 "Add 'P or old variables to req-format"
* Each variable gets an old-variant accessible via the old-expression
* In the transformation, we get an explicit old variable for each variable.
* After each transition, we update old variables.

[2020-03-04 08:26] danieldietsch opened #464 "Rename ReqCheck to ReqAnalyzer in deployment"

[2020-03-04 09:44] danieldietsch opened #465 "New property: continuous consistency"
Like rt-inconsistency, but without projecting changes.

[2020-03-04 10:02] danieldietsch opened #466 "Temporal restrictions that applies to part of requirement"
Decide which interpretation is the one that is needed for DTS and implement it.

[code]

[2020-03-04 10:03] danieldietsch commented on #466
Prepare some pictures and possible interpretations

[2020-03-04 10:10] danieldietsch opened #467 "Define initial state for test generation"
Test engineers need to be able to specify the initial state of their system s.t. the test generation needs to consider this initial state.

Inputs can be freely chosen (inside their constraints).

How can we specify an initial _system_ state (i.e., state over aux and outputs) in the requirements?

[2020-03-04 10:16] danieldietsch opened #468 "Add support for abs() function"
We want to be able to write something like ```If "abs(X) > 5" then ...```.

[2020-03-09 15:44] danieldietsch opened #469 "Support multiple countertrace formulas per pattern"
Is required before ``broken_patterns`` can be addressed (see also https://github.com/ultimate-pa/ultimate/blob/dev/trunk/examples/Requirements/issues/broken-patterns.txt)

[2020-03-09 16:41] danieldietsch opened #470 "Testgenerator produces different results depending on LBE setting"
Using standard settings for testgeneration, we get different test results when we vary RCFG LBE settings, for example on
[code]

Output for various block encodings is then:

SingleStatement
[code]

SequenceOfStatements
[code]

LoopFreeBlock
[code]

Furthermore, it seems like there are three ``ReqTestResultTest`` objects generated, of which 2 have the same content.
Even furthermore, the name of thi

[2020-03-10 09:09] danieldietsch commented on #466
[BndTriggeredEntryConditionPattern](https://ultimate-pa.github.io/hanfor/references/patterns.html#bndtriggeredentryconditionpattern)

``Globally, it is always the case that after "Q" holds for at least "5" time units and "R" holds, then "S" holds``

``Counterexample: true;⌈Q⌉ ∧ ℓ ≥ 5;⌈(Q && (R && !S))⌉;true``

![positives](https://user-images.githubusercontent.com/3883391/76297500-328fa280-62b8-11

[2020-03-14 03:50] Heizmann commented on #448
Some commit(s) of the last two weeks (probably the refactoring of conditions reduced the runtime on the materialistic benchmark set to 284s.
[java.hprof.txt](https://github.com/ultimate-pa/ultimate/files/4332255/java.hprof.txt)
[CsvAutomataOperationStatistics1772471998_2020-03-14_04-40-04-036.csv.txt](https://github.com/ultimate-pa/ultimate/files/4332261/CsvAutomataOperationStatistics1772471998_20

[2020-03-17 09:09] danieldietsch commented on #466
We talked about it on 2020-03-17 and this is the interpretation we want.

[2020-03-17 09:09] #466 closed, assigned to danieldietsch, Langenfeld, henkele

[2020-03-18 13:59] samurous opened #471 "Create persistent and shareable links to a webinterface session."

[2020-03-18 14:02] #471 closed, assigned to samurous

[2020-03-24 05:32] Heizmann commented on #448
* B37: The computation of the AutomataOperationStatistics for the unfolding is costly (around 15%-20% additional costs for DifferencePairwiseOnDemand on the _materialistic_ benchmark set).
This computation is however rather harmless because it is done in the `getAutomataOperationStatistics` method. This method is called by the Automata Script Interpreter after executing the operation. The time is

[2020-03-24 13:24] #462 closed, assigned to danieldietsch, Langenfeld

[2020-03-24 15:25] Heizmann commented on #448
Here is now a related, but slightly different kind of analysis. While applying our _difference_ operation to a Petri net and a finite automaton we do not only care about the speed of the algorithm but also about the size of the result. For the sake of simplicity I will measure the size of the Petri net by using the size of its flow relation. Furthermore, I will take the sum of all examples in the

[2020-03-24 15:50] Heizmann commented on #448
* B38: Based on the preceding evaluation
  1. We should use our algorithm for removing redundant flow.
  2. The main bottleneck is that RemoveRedundantFlow calls the isRestrictorCondition method very often and this method uses the co-relation of the unfolding.
  3. The _moutain cock_ heuristic does speed up the time for RemoveRedundantFlow not save a lot of the overall time (at least on this bench

[2020-03-24 19:39] #469 closed, assigned to danieldietsch, hauff, Langenfeld, henkele

[2020-03-27 15:42] Heizmann commented on #448
* B39: 58d2c9e546c6350fc3f05447ed926566b9977491 might have a minor effect on the benchmark done two posts before (rumtime now slightly lower, size now slightly larger). I will however not redo the experiment because the bug does not spoil the conclusion in B39.

[2020-03-27 16:04] Heizmann commented on #448
Here is now an experiment with the Svcomp20AutomizerConcurrentSpeedBenchmarks testsuite.
* Setting 1: No removal of redundant flow (469s)
[IncrementalLogWithBenchmarkResults_2020-03-26_21-58-18-352-incremental.log](https://github.com/ultimate-pa/ultimate/files/4394557/IncrementalLogWithBenchmarkResults_2020-03-26_21-58-18-352-incremental.log)
[java.hprof.txt](https://github.com/ultimate-pa/ultimat

[2020-03-30 11:37] #457 closed, assigned to Langenfeld

[2020-03-31 10:01] #452 closed, assigned to danieldietsch, hauff, Langenfeld

[2020-04-03 21:15] Heizmann commented on #448
* B40: My statement in B37 was wrong. The time needed for the computation of statistics is added to the runtime in the CSV file. Hence, the validity of evaluations done in the past is questionable.

[2020-04-06 05:00] umangm opened #472 "Tree automata"
I gather that there is support for bottom up tree automata in Ultimate. Is there support for top down and alternating tree automata too?

[2020-04-10 16:26] Heizmann commented on #448
Here is another experiment with the Svcomp20AutomizerConcurrentSpeedBenchmarks testsuite, where I compared a version where counterexamples are computed during the difference operation with the version before.
* Additional unfolding for counterexamples.
[IncrementalLogWithBenchmarkResults_2020-04-04_14-52-43-739-incremental.log](https://github.com/ultimate-pa/ultimate/files/4462386/IncrementalLogWi

[2020-04-12 02:57] Heizmann opened #473 "Bugs related to revised refinement engine"
* Bug 1:
`AssertionError: java.lang.UnsupportedOperationException: need array sort: de.uni_freiburg.informatik.ultimate.plugins.generator.traceabstraction.tracehandling.AutomatonFreeRefinementEngine.tryExecuteInterpolantGenerator(AutomatonFreeRefinementEngine.java:340)`
Input:svcomp/pthread/queue_ok.i Settings:settings/automizer/concurrent/svcomp-Reach-32bit-Automizer_Default-noMmResRef-FA-Variabl

[2020-04-14 14:30] danieldietsch commented on #473
Bug 2 also occurs in
-tc AutomizerC.xml
-s default/automizer/svcomp-Reach-32bit-Automizer_Default.epf
-i examples/svcomp/loops/nec40.c
and
-i examples/svcomp/loops/n.c40.c

[2020-04-14 15:55] danieldietsch commented on #473
With the fix for bug 2 (6b6bf05) we get another issue: we have never tried to backtranslate ``((as const (Array Int Int)) 0)`` and hence get an exception in ``Term2Expression.translate(Term2Expression.java:238)``.

[2020-04-15 12:52] danieldietsch commented on #473
Cannot reproduce bug 1 on a5a1cc9f32 despite running for several hours. I checked past logs from struebli for occurrences and found only ``svcomp/pthread/queue_ok*`` examples with concurrency settings affected.
The following folders in https://struebli.informatik.uni-freiburg.de/logs/index.php?dir=student-concurrency contain relevant logs:
[code]

[2020-04-15 12:58] danieldietsch commented on #473
d557452c96067381814099efdb22b1dbf299aa07 should fix bug 3.

[2020-04-22 14:36] danieldietsch opened #474 "Memcpy model contains unnecessary second loop"

[2020-04-29 13:16] freyamehta99 opened #475 "Issue with running ultimate-0.1.25 on linux"
[INFO] Scanning for projects...
[INFO] Computing target platform for MavenProject: de.uni_freiburg.informatik.ultimate:de.uni_freiburg.informatik.ultimate.plugins.analysis.abstractinterpretationv2:0.1.25 @ /home/freya/32/sf/project/ultimate-0.1.25/trunk/source/AbstractInterpretationV2/pom.xml
[INFO] Fetching p2.index from https://monteverdi.informatik.uni-freiburg.de/nexus/content/repositories/ecl

[2020-04-29 13:30] Breee commented on #475
Hey there

`./makeRelease.sh` is usually used to create a release on github or a custom webserver, is that what you actually want to do?

If you just want to generate new executables, run `./makeFresh.sh`  instead of `./makeRelease.sh`.

[2020-04-29 13:33] freyamehta99 commented on #475
I meant ./makeFresh.sh itself. ./makeFresh gives me the above error.
I am following this guide https://github.com/ultimate-pa/ultimate/wiki/Usage#developer-gui to build ultimate on my system

[2020-04-29 13:52] Breee commented on #475
So, I just cloned the Ultimate repository and cannot reproduce that error.

- Which OS do you use?
- Which version of Java do you use?
   `java -version`
- Which version of Maven do you use?
   `mvn -v`

Just post the full output of these commands.

[2020-04-29 14:23] freyamehta99 commented on #475
java -version
java version "1.8.0_201"
Java(TM) SE Runtime Environment (build 1.8.0_201-b09)
Java HotSpot(TM) 64-Bit Server VM (build 25.201-b09, mixed mode)

mvn -v
Apache Maven 3.6.3 (cecedd343002696d0abb50b32b541b8a6ba2883f)
Maven home: /opt/maven
Java version: 1.8.0_201, vendor: Oracle Corporation, runtime: /usr/lib/jvm/java-8-oracle/jre
Default locale: en_IN, platform encoding: UTF-8
OS name:

[2020-04-29 15:57] #475 closed, assigned to nobody

[2020-05-14 16:32] kheradmand opened #476 "Issue with LTL Automizer"
The following code breaks with nullPointerException in LTL Automizer's [online interface](https://monteverdi.informatik.uni-freiburg.de/tomcat/Website/?ui=int&tool=ltl_automizer).

[code]

But if I comment out the for loop and uncomment the if after that, it works.

[2020-05-14 19:29] danieldietsch commented on #476
Thank you for your report!

Perhaps @Langenfeld  can have a look, but it might take some time before someone can investigate.

[2020-06-16 09:10] Langenfeld commented on #476
So, I tried to replicate the problem, and found that this only happens in the web interface.

For now using the binary version should be a good workaround, as I do not know when I am able to investigate the web interface problem.

[2020-06-22 14:32] thpani opened #477 "LTL property parsing"
The following LTL property spec results in a parsing exception in the LTL Automizer [web interface](https://monteverdi.informatik.uni-freiburg.de/tomcat/Website/?ui=int&tool=ltl_automizer), but works fine with the [binary version](https://monteverdi.informatik.uni-freiburg.de/tomcat/Website/?ui=tool&tool=ltl_automizer) `LTLAutomizer_Linux64_r13621.zip`.

[code]

The exception is

    de.uni_freibu

[2020-06-23 00:42] Heizmann commented on #477
Thanks for reporting the problem.
I tried to fix the web interface but unfortunately, I broke it completely.

[2020-06-24 14:28] thpani opened #478 "LTL step regression"
Not sure if this is actively supported, but LTL step annotations via `__VERIFIER_ltl_step()` (introduced in #47) break between 0.1.23-3204b74 (working) and 0.1.24-91b1670 (regression).

In particular, I'm getting the following log output on >=0.1.24, suggesting that the annotations are somewhere optimized away?

```[... INFO  L131       ProductGenerator]: The program has no step specification, so

[2020-07-25 13:00] dyd1024 opened #479 "Print an automata of a boogie program"
Now I want to convert a boogie program into a control flow graph and then into an automaton to print it out. Which interfaces need to be called? Can you give me some suggestions?

[2020-07-30 08:33] jgarciaDevelopair commented on #467
Two options:
- Try to infer the initial state
- The engineer defines explicitly which is the initial state
The second one makes more sense.

[2020-07-30 08:42] danieldietsch commented on #454
see also #465

[2020-07-30 08:46] jgarciaDevelopair commented on #463
The semantic part is done, it is still missing the front part

[2020-07-31 13:54] danieldietsch commented on #461
Latest results are in https://struebli.informatik.uni-freiburg.de/logs/index.php?dir=DTS/20200730-183735-DTS-d979c1d3df ; they are different but not really satisfactory.

I will re-run them as soon as I had a chance to fix something in the benchmarking framework (I want to be able to use more RAM for single runs).

[2020-08-03 13:33] danieldietsch opened #480 "Custom check type for labeled assertions"
assert statements with certain attributes should become ``de.uni_freiburg.informatik.ultimate.core.lib.models.annotation.Check`` with custom error messages, i.e.
```assert { :LIR "55" } true;``` should get a CustomCheck with positive and negative message that references (and prints) LIR and 55.

[2020-08-04 14:25] danieldietsch commented on #468
@samurous This is also relevant for Hanfor

[2020-08-04 15:18] danieldietsch commented on #468
ReqAnalyzer now supports abs(int)->int (i.e., ``function { :builtin "abs" } abs(in : int) returns (res : int);``).
New builtin functions can also be added easily. If we need support for abs(real) -> real, we need another function name,

As soon as Hanfor supports functions as well we can close this issue.

[2020-08-06 09:46] jfh1911 opened #481 "Generated witnesses contain mulitple edges for same location"
The witnesses generated by Ultimate (e.g. automizer or Taipan) contain multiple edges in the graphml graph for the same source code location, when the corresponding statement is a method call.

For example, considering the file sumt2.c from reachSafety-loops from SVComp 2020:
(lopps-crafted-1/sumt2.c) (as txt, as c files are not supported)
[sumt2.txt](https://github.com/ultimate-pa/ultimate/files/

[2020-08-06 11:02] danieldietsch commented on #481
Thank you for the report. It looks like a bug, but I need to investigate it. Can you tell me the Automizer and/or Taipan version that you used to obtain these witnesses?

[2020-08-06 11:04] jfh1911 commented on #481
I used the versions submitted to the SV-COMP 2020 (v0.1.25).

[2020-08-07 09:57] danieldietsch opened #482 "Check for Boogie keywords in observable names"
ReqParser and Hanfor allow us to name observables and consts like Boogie keywords (e.g., ``var``) -- which works just fine, as long as we do not roundtrip via BoogiePrinter.

We might want to restrict observable and const names to not be Boogie keywords.

[2020-08-07 10:04] #480 closed, assigned to danieldietsch, henkele

[2020-08-07 10:06] danieldietsch commented on #480
Implemented simpler solution: print all ``NamedAttributes`` of asserts in positive and negative messages.

[2020-08-07 14:56] #468 closed, assigned to danieldietsch, samurous

[2020-08-07 15:43] #426 closed, assigned to danieldietsch, Langenfeld

[2020-08-18 08:22] hauff opened #483 "ResponseChain21Pattern"
Obsolete. Delete this pattern.

{scope}, it is always the case that if "R" holds and is succeeded by "S", then "T" eventually holds after "U"

[2020-08-18 08:31] hauff opened #484 "PrecedenceChain12Pattern"
For scopes "After", "AfterUntil" and "Between" fix the order of CDDs: P->T, S->P, T->S.

Countertrace should start with scope "Q" (not "T.negate()").

[2020-08-18 08:57] hauff opened #485 "PrecedenceChain21Pattern"
Fix countertrace for global scope. (needs 2 formulas)

Implement all other scopes.

[2020-08-18 09:21] hauff opened #486 "ResponsePattern"
"Eventually holds" needs upper bound ... remove implementation of scopes "Globally" and "After".

throw new PatternScopeNotImplemented(scope.getClass(), getClass());

[2020-08-18 09:45] hauff opened #487 "TogglePattern"
Obsolete. Remove this pattern.

Countertrace of scope "Globally" should go to UniversalityPattern with scope "AfterUntil":
[code]

[2020-08-18 09:50] hauff opened #488 "TogglePatternDelayed"
Obsolete. Remove this pattern.

Countertrace of scope "Globally" should go to UniversalityPatternDelayed with scope "AfterUntil":
[code]

[2020-08-18 09:51] hauff opened #489 "UniversalityPatternDelayed"
- [x]  Implement this pattern.
- [ ]  Discuss how to solve the s/r-conflict caused by AFTER between ...
- IT IS ALWAYS THE CASE THAT expression:p HOLDS
- IT IS ALWAYS THE CASE THAT expression:p HOLDS AFTER AT MOST duration:d
- [ ]  Change pattern from "... holds at most c1 later" to "...holds after at most c1".

[2020-08-18 09:58] hauff opened #490 "Modify scope "AfterUntil" of all patterns"
Modify scope of all patterns so that `after` means greater than.

Example:
... after A ... until B ...
CounterTrace: `true; A; not B and something; ...; true`

- [x] BndDelayedResponsePatternUT
- [x] BndEntryConditionPattern
- [x] BndExistencePattern
- [x] BndInvariancePattern
- [x] BndPossResponsePattern
- [x] BndRecurrencePattern
- [x] BndResponsePatternTT
- [x] BndResponsePatternTU
- [x] BndRes

[2020-08-18 10:04] hauff opened #491 "Eventually needs upper bound (e.g. scope "Until", "Between", "AfterUntil")"
Remove countertrace of scope "Globally" and "After" of all patterns which contain "eventually".

- [x] MaxDurationPattern
- [x] PossibilityPattern
- [x] ResponseChain12Pattern
- [x] ResponseChain21Pattern
- [x] ResponsePattern

[2020-08-18 12:37] #484 closed, assigned to hauff

[2020-08-24 10:33] #485 closed, assigned to hauff

[2020-08-24 11:48] #486 closed, assigned to hauff

[2020-09-01 09:47] #490 closed, assigned to hauff

[2020-09-01 09:57] #491 closed, assigned to hauff

[2020-09-01 13:15] #483 closed, assigned to hauff

[2020-09-01 13:17] #487 closed, assigned to hauff

[2020-09-01 13:17] #488 closed, assigned to hauff

[2020-09-01 21:25] hauff opened #492 "Check modified counter traces"
I think the modified counter traces are correct.
To be safe, please double check ...

- [x] 5a250b6dd720590f3b5fae56d7d901fa904c82dd
- [x] 507ae921eeb7b312c5cf0e8374946673cace5b08, 3bcbae76fa9087960cc5f636386aa89b4d8f615d

[2020-09-03 14:42] hauff opened #493 "Wrong specification in rtinconsistency_test36"
- Jenkins: [history](https://monteverdi.informatik.uni-freiburg.de/ci/job/Ultimate%20Nightly/lastBuild/de.uni_freiburg.informatik.ultimate$de.uni_freiburg.informatik.ultimate.regressiontest/testReport/de.uni_freiburg.informatik.ultimate.regressiontest.generic/ReqCheckerRegressionTestSuite/I_Requirements_regression_rtinconsistency_rtinconsistency_test36_req_S_Requirements_regression_ReqCheck_SmtInt

[2020-09-03 15:58] hauff opened #494 "Wrong specification in rtinconsistency_test40"
- Jenkins: [history](https://monteverdi.informatik.uni-freiburg.de/ci/job/Ultimate%20Nightly/lastBuild/de.uni_freiburg.informatik.ultimate$de.uni_freiburg.informatik.ultimate.regressiontest/testReport/de.uni_freiburg.informatik.ultimate.regressiontest.generic/ReqCheckerRegressionTestSuite/I_Requirements_regression_rtinconsistency_rtinconsistency_test40_req_S_Requirements_regression_ReqCheck_SmtInt

[2020-09-03 18:15] hauff opened #495 "Wrong specification in rtinconsistency_test5"
Expected: `// #TestSpec: rt-inconsistent:; vacuous:; inconsistent:; results:-1`
Actual: `// #TestSpec: rt-inconsistent:req1+req2; vacuous:; inconsistent:; results:-1`

[code]

![Figure_1](https://user-images.githubusercontent.com/13038993/92151926-2e38e200-ee22-11ea-8b51-06f7108937ec.png)

[2020-09-04 19:40] hauff opened #496 "Wrong countertrace in PrecedenceChain21Pattern"
LTL formula:
`FR -> (!R U (!R & T & X (!R U S)))`

CounterTraces:
1) Never T
`!T ; R ; true`
2) Never S
`!S ; R ; true`
3) Never T before S
`!T ; !T && S ; !T ; T && !S ; !S ; R ; true`

[2020-09-07 08:23] IridescentL opened #497 "UReqCheck External (z3 -smt2 -in SMTLIB2_COMPLIANT=true) Connection to SMT solver broken"
I downloaded the latest ureqcheck release file and ran the script run_complete_analysis.sh with a ".req" file to analyze it. When the program finished running, I opened the log file, found an error "External (z3 -smt2 -in SMTLIB2_COMPLIANT=true) Connection to SMT solver broken". How to solve this problem? I ran the script on CENTOS 7 and the network is good.

[2020-09-07 09:04] danieldietsch commented on #497
Can you post the log output?

[2020-09-07 09:22] IridescentL commented on #497
![image](https://user-images.githubusercontent.com/24289271/92371489-3e0c3b00-f12e-11ea-8bc7-f8ebf13f024e.png)
![image](https://user-images.githubusercontent.com/24289271/92371673-7ad83200-f12e-11ea-8bc5-3efa7cf5538d.png)

[2020-09-07 10:02] danieldietsch commented on #497
Oh, this means that z3 crashed trying to solve some initial query. Can you share the ``.req`` file so that I can have a look?

[2020-09-07 13:17] IridescentL commented on #497
![image](https://user-images.githubusercontent.com/24289271/92391575-86882080-f14f-11ea-9ce2-ee00f96d031d.png)

[2020-09-07 13:19] danieldietsch commented on #497
Perhaps not as screenshot but as an attachment?

[2020-09-07 13:44] IridescentL commented on #497
sry...
[example_input.req.zip](https://github.com/ultimate-pa/ultimate/files/5183369/example_input.req.zip)

[2020-09-07 14:02] danieldietsch commented on #497
Can you try our latest nightly build from https://monteverdi.informatik.uni-freiburg.de/ultimate-nightly/ and use ``./run_complete_analysis.py -ar example_input.req`` ?

[2020-09-07 14:30] IridescentL commented on #497
![image](https://user-images.githubusercontent.com/24289271/92397055-acfe8980-f158-11ea-9a05-ef1645bfab7d.png)
wow! I think it works! The log file generated contains corrent results, that is, this ".req" file itself is erroneous.
Next I will try analyzing other .req files. Hope everything will be fine.
MANY THANKS for your support!

[2020-09-07 15:50] danieldietsch commented on #497
You are welcome! If you run into any more trouble, do not hesitate to open a ticket.

[2020-09-07 15:50] #497 closed, assigned to danieldietsch

[2020-09-07 21:17] #496 closed, assigned to hauff

[2020-09-08 02:17] IridescentL opened #498 "RESULT: Ultimate could not prove your program: Toolchain returned no result."
I use the nightly build UReqCheck file and run run_complete_analysis.py script file with -ar option to analyze a .req file, everything seems fine, but the log file prints some unexpected results. Here are the log and .req screenshots. My environment is CENTOS 7.
![image](https://user-images.githubusercontent.com/24289271/92426239-021fb700-f1bc-11ea-9105-6d536b828d2b.png)
![image](https://user-imag

[2020-09-08 06:46] danieldietsch commented on #498
No, this is the actual result. The message at the end (``Ultimate could not prove your program``) is just because Ultimate is usually a program verfier and we did not bother (yet) to add the requirement result types to the overall result evaluation mechanism.

So, congratulations, your requirements set has no errors that we would find ;)

[2020-09-08 08:09] danieldietsch commented on #498
If this answers your question, please close the issue.

[2020-09-08 09:20] danieldietsch commented on #492
Looks good to me.

But lets use pull requests for reviews instead of issues :)

[2020-09-08 09:20] #492 closed, assigned to danieldietsch, hauff, Langenfeld, henkele

[2020-09-08 17:47] hauff opened #499 "Wrong specification in rtinconsistency_test34"
- Jenkins: [history](https://monteverdi.informatik.uni-freiburg.de/ci/job/Ultimate%20Nightly/lastBuild/de.uni_freiburg.informatik.ultimate$de.uni_freiburg.informatik.ultimate.regressiontest/testReport/de.uni_freiburg.informatik.ultimate.regressiontest.generic/ReqCheckerRegressionTestSuite/I_Requirements_regression_rtinconsistency_rtinconsistency_test34_req_S_Requirements_regression_ReqCheck_SmtInt

[2020-09-08 17:57] danieldietsch commented on #499
Is this due to the new failures from https://monteverdi.informatik.uni-freiburg.de/ci/job/Ultimate%20Nightly/2592/ ?

[2020-09-08 18:46] hauff opened #500 "Wrong specification in rtinconsistency_test5"
- Jenkins: [history](https://monteverdi.informatik.uni-freiburg.de/ci/job/Ultimate%20Nightly/lastBuild/de.uni_freiburg.informatik.ultimate$de.uni_freiburg.informatik.ultimate.regressiontest/testReport/de.uni_freiburg.informatik.ultimate.regressiontest.generic/ReqCheckerRegressionTestSuite/I_Requirements_regression_rtinconsistency_rtinconsistency_test5_req_S_Requirements_regression_ReqCheck_SmtInte

[2020-09-08 18:56] hauff opened #501 "Wrong specification in rtinconsistency_test4"
- Jenkins: [history](https://monteverdi.informatik.uni-freiburg.de/ci/job/Ultimate%20Nightly/lastBuild/de.uni_freiburg.informatik.ultimate$de.uni_freiburg.informatik.ultimate.regressiontest/testReport/de.uni_freiburg.informatik.ultimate.regressiontest.generic/ReqCheckerRegressionTestSuite/I_Requirements_regression_rtinconsistency_rtinconsistency_test4_req_S_Requirements_regression_ReqCheck_SmtInte

[2020-09-08 19:14] hauff opened #502 "Wrong specification in rtinconsistency_test41"
- Jenkins: [history](https://monteverdi.informatik.uni-freiburg.de/ci/job/Ultimate%20Nightly/lastBuild/de.uni_freiburg.informatik.ultimate$de.uni_freiburg.informatik.ultimate.regressiontest/testReport/de.uni_freiburg.informatik.ultimate.regressiontest.generic/ReqCheckerRegressionTestSuite/I_Requirements_regression_rtinconsistency_rtinconsistency_test41_req_S_Requirements_regression_ReqCheck_SmtInt

[2020-09-08 20:24] hauff commented on #499
The test result changed after 374af8f0a7241d751916392baf45ceb840f49a60
from req1+req2 is not rt-inconsistent to req1 is vacuous.

To answer your question: no. This one should pop up this night.

[2020-09-08 20:37] hauff commented on #499
Mr. J.H. says it should be ...
`// #TestSpec: rt-inconsistent:req1+req2; vacuous:req1; inconsistent:; results:-1`

(at least ^^)

[2020-09-09 00:49] IridescentL commented on #498
Thanks!

[2020-09-09 00:49] #498 closed, assigned to danieldietsch

[2020-09-09 08:43] hauff opened #503 "MinDurationPattern: Is one counterTrace sufficient?"
`{scope}, it is always the case that "R" holds for at least "c1" time units`

Implemented (scope between):
`true ; P & !Q ; !Q ; !Q & !R ; !Q & R <c1 ; !Q & !R ; !Q ; Q ; true`

Maybe suggested:
First: violation at beginning, Second: violation not at beginning
[code]

Is one of them (the first one) not necessary?
If yes, why?

[2020-09-09 08:55] danieldietsch commented on #499
What are the counter traces for the ``req1`` pattern?

Basically, both requirements are vacuous because of each other. You can only build a system in which ``var3`` never holds for at least ``time_at_least`` units.

As a note, I am not quite sure how this relates to continuous consistency (see #465), but it might.

[2020-09-09 09:21] hauff commented on #499
Ultimate will find ...
-
1) req1+req2 are rt-inconsistent and
2) req1 is vacuous

As far as i understand, this sould be correct.
_I opened the issue, because I dont want to modify any expected test results without your go._

[2020-09-09 09:37] danieldietsch commented on #502
Yes, ``actual`` is correct.

[2020-09-09 11:33] hauff opened #504 "Add some note about ultimate resvision to hanfor pattern section"

[2020-09-09 11:41] hauff opened #505 "NullPointerException when running ReqCheckerFailurePathGenerationTestSuite"
[code]

[2020-09-09 13:55] hauff commented on #495
Obsolete (MinDurationPattern was refactored)
New issue #500.

[2020-09-09 14:30] #502 closed, assigned to hauff

[2020-09-10 12:25] danieldietsch commented on #505
Should be fixed by 6e28ac67dd9448ed1e468829ec55cd96d7aaafca

[2020-09-10 16:24] hauff opened #506 "Wrong specification in ReqAnalyzer regression test vacuity_test42"
- Jenkins: [history](https://monteverdi.informatik.uni-freiburg.de/ci/job/Ultimate%20Nightly/2594/de.uni_freiburg.informatik.ultimate$de.uni_freiburg.informatik.ultimate.regressiontest/testReport/de.uni_freiburg.informatik.ultimate.regressiontest.generic/ReqCheckerRegressionTestSuite/I_Requirements_regression_vacuity_vacuity_test42_req_S_Requirements_regression_ReqCheck_SmtInterpol_epf_T_Requireme

[2020-09-10 18:56] hauff commented on #505
[code]

[2020-09-10 18:57] hauff commented on #505
[code]

[2020-09-11 09:46] danieldietsch commented on #505
Should be fixed with dff676879b4ccd576bf06fe549ce3cadda1f2592

[2020-09-11 09:46] #505 closed, assigned to danieldietsch, hauff

[2020-09-14 09:45] Langenfeld commented on #501
Actual is correct.

[2020-09-14 13:51] danieldietsch commented on #495
Back to this decision ;)

[2020-09-14 14:04] Langenfeld commented on #495
Actual is correct, test must be fixed.

[2020-09-16 16:18] hauff opened #507 "Hanfor documentation: Use a separate line for each countertrace"

[2020-09-16 16:57] #507 closed, assigned to hauff

[2020-09-17 11:21] hauff commented on #504
Implemented: fbafa6b8f454eddea096aba79837f5432eca6cd6

[2020-09-17 11:21] #504 closed, assigned to hauff

[2020-09-17 11:22] hauff commented on #503
Obsolete.

[2020-09-17 11:22] #503 closed, assigned to danieldietsch, hauff

[2020-09-17 11:31] hauff commented on #500
See  #495.

[2020-09-17 11:31] #500 closed, assigned to hauff

[2020-09-17 12:51] #499 closed, assigned to hauff

[2020-09-17 12:53] #501 closed, assigned to hauff

[2020-09-17 13:06] hauff commented on #506
Actual matches implementation.
But, does the behavior match the definition of vacuity?

[2020-09-17 19:04] hauff commented on #494
Countertraces of [BndDelayedResponsePatternUT](https://ultimate-pa.github.io/hanfor/references/patterns.html#bnddelayedresponsepatternut-globally) seem to be wrong,
I think it should be `ℓ < 5` here?

`true;⌈R⌉;⌈!Q⌉ ∧ ℓ ≤ 5;⌈Q⌉ ∧ ℓ < 10;⌈!Q⌉;true `

Additionally the phase could be a phaseE, so that the `!Q` can be skipped.

[2020-09-18 09:02] danieldietsch commented on #494
@Langenfeld : If we have a phase with time constraint (i.e., ``l <= c``), is this phase allowed to be of zero length?

[2020-09-18 09:03] danieldietsch commented on #494
I think ``actual`` is correct

[2020-09-21 13:08] maul-esel opened #508 "LTLAutomizer Problems"
As discussed, I'm opening an issue for my problems with LTLAutomizer. I've committed some workarounds and potential fixes in the [wip/dk/ltl-fixes](https://github.com/ultimate-pa/ultimate/compare/wip/dk/ltl-fixes) branch.

I'm using the following Boogie program:
[code]
 with the `LTLAutomizer.xml` toolchain and the settings in `example/settings/ltlAutomizer/Default.epf`. The only change in setting

[2020-09-22 12:55] maul-esel commented on #508
## Update: Why Inlining solves all (and none of the) problems
When inlining is turned on, all code is inlined in ULTIMATE.start. LTLAutomizer does not analyse anything in that procedure. This is also a problem in the existing LTLAutomizerCInline.xml toolchain – every property seems satisfied.

To fix this, inlining inside ULTIMATE.start should be turned off. The existing settings seem to only supp

[2020-09-23 08:56] danieldietsch opened #509 "Text in counterexample result with relevance information is incomplete"
If I enable "Highlight relevant statements in error traces" I get counterexamples with relevance information.
They contain the helpful message ``(The third column contains information about the relevance of the program statement. The asterisk (*) means that the statement's code block is 'error enforcing'. The at sign (@) means that the statement's code block is 'error admitting'. The dash (-) mean

[2020-09-24 16:02] hauff commented on #463
Implementation:
- [x] Create or find some CDDWalker that substitutes `prev(R)` by `'R`.
- [x] Add copy constructor to each pattern class.
- [x] Transform CDDs in Req2Pea before `constructSymbolTable()`.

[2020-09-24 18:40] Heizmann commented on #509
Unfortunately, no. I think I did not introduce the additional symbols and I would have to become again acquainted with the matter in order to say something.
I will have a closer look when I continue to work on that. But this will probably not happen within the next months.

[2020-09-25 13:22] blizzard4591 opened #510 "C - Ternary Operator introduces (unreachable) error"
Dear Ultimate team,

my student and I discovered a case where the introduction of an additional ternary operator introduces a bug.

two_ternary.c:_
[code]

This slightly modified version has the same property (semantic-wise), but without the useless outer ternary operator.
one_ternary.c:
[code]

Ultimate (0.1.25) reports a reachable error on the two_ternary.c case:
[code]

and an unreachable error

[2020-09-29 18:42] danieldietsch commented on #510
Thank you for the report, Ill look into it.

[2020-10-02 11:39] hauff opened #511 "Tests for ApplicationFunction prev()"
Implement in `BoogieBooleanExpressionDecisionTest`.

[2020-10-12 12:02] #429 closed, assigned to danieldietsch

[2020-10-12 13:19] #459 closed, assigned to danieldietsch

[2020-10-12 14:43] danieldietsch opened #512 "Provide progress information through IProgressMonitor from all plugins"
@samurous  needs / would like for the new Ultimate web API some additional progress information. The old IProgressMonitor idea should be completed, at least for reqchecker and trace abstraction this should be easy enough (without time, just number of tasks and/or subtasks).

[2020-10-12 17:06] #453 closed, assigned to danieldietsch, Langenfeld

[2020-10-12 17:06] #454 closed, assigned to danieldietsch, Langenfeld

[2020-10-12 17:11] danieldietsch commented on #506
Is actually rt-inconsistent ; see latest version

[2020-10-12 17:18] danieldietsch commented on #511
@hauff What is missing for this?

[2020-10-12 17:21] danieldietsch commented on #494
@hauff Fix by setting actual as expected

[2020-10-12 17:22] danieldietsch commented on #493
New actual: Actual: rt-inconsistent:req1+req2; vacuous:req1; inconsistent:;

The vacuous part is still an issue.

[2020-10-12 17:32] danieldietsch commented on #465
Next step: Better example

[2020-10-12 17:41] danieldietsch commented on #489
@hauff Check if it now (after bf3f3ee) works as expected:

[2020-10-12 21:05] hauff commented on #511
Time. ;-)
I will fix it this week.

[2020-10-13 09:11] danieldietsch opened #520 "Refine rt Inconsistency error path with tighter equivalence classes"
It might be that using transitions and target states as basic equivalence class instead of the whole PEA is better to narrow down relevant requirements.

[2020-10-13 11:26] danieldietsch opened #521 "Type errors should be in relevant.log"

[2020-10-13 11:29] danieldietsch commented on #521
Also:
[code]
should not be in the relevant log

[2020-10-15 15:38] alopez-developair commented on #465
I did a few simple tests to try to understand the unexpected results we get. The results are indeed a bit puzzling:
Ex. 1:
[code]
Results in no errors (as expected).

Ex. 2:
[code]
Also results in no errors, despite the apparent conflict.

Ex. 3:
[code]
Gives rt-inconsistency between req1 and req2; yet the conflict should be between req1 and req3.

[2020-10-20 15:52] Langenfeld commented on #465
please update ultimate to the newest (nightly) build:
Ex.2: rt-incosnistency found
Ex.3: is still wrong, and needs some investigation

[2020-10-28 14:10] alopez-developair opened #523 "Unexpected time-scale dependant generation of counter examples (ReqCheck)"
**Version**: Ultimate 0.1.25-d7dd348

We have found some puzzling behavior in the generation of counterexamples that seems to be triggered only in certain time scales.

I describe the problem with a few examples (I omit variable declarations for brevity):

### Example 1

[code]

This always gives the counterexample that we would expect and understand:

[code]

That is, after the first interval, R1

[2020-10-28 14:44] alopez-developair opened #524 "Obvious case with min and max durations doesn't report inconsistency (ReqCheck)"
**Version**: Ultimate 0.1.25-d7dd348

Input:

[code]

**Expected**: inconsistency (or rt-inconsistency, not completely certain), since "a" being true seems enough to take the system to a state where it's not possible to satisfy both requirements

**Actual result**: No consistency errors.

[2020-10-30 10:33] danieldietsch opened #525 "Better format for rt-inconsistency counterexamples"
The current format is rather hard to read, as it does only talk about offsets and is itself offset by one relative to the initial state.
We want to have something more like this:
[code]

[2020-10-30 12:53] alopez-developair commented on #463
We are having trouble making use of this feature.

We tried this:

[code]

and the same by changing the requirement to

[code]

In both cases, the output we get is the following:

[code]

Just to be sure I tried out the only example I found in the repo (https://github.com/ultimate-pa/ultimate/blob/211abdf072b9b2fa405c68cf514740f8d2197197/trunk/examples/Requirements/prev_function_application.req) a

[2020-10-30 13:36] danieldietsch commented on #463
What version are you using?

[2020-10-30 13:45] alopez-developair commented on #463
0.1.25-d7dd348

(should be one of the last ones before the transition to Java 11)

[2020-10-30 22:35] danieldietsch commented on #463
Ill look into it

[2020-11-02 08:36] alopez-developair opened #526 "[Question] How to represent responses to signal edges (ReqCheck)"
We would like to know how to formalize the behavior of reacting to a signal edge, such as a response to entering or exiting a state. With our current knowledge, we would have tried with something like:

[code]

The diagram represents a trace for A and two possible traces of B. By my original intention, I'd like `B_edge` to be a valid trace. However, this formalization would require B to be active

[2020-11-05 11:20] alopez-developair opened #527 "Vacuities are not reported when defining value ranges that are strictly less restrictive than others (ReqCheck)"
It appears that redundant variable range limitations are not reported as vacuities.

Example:

[code]

Expected: R1 should be vacuous because R2 is more restrictive. Got: No vacuity.
The reasoning is that if R2 is satisfied, then R1 is trivially satisfied.

A simplified version of the same concept:

[code]

[2020-11-09 10:20] danieldietsch opened #528 "NPE in Webinterface"
[code]

[2020-11-12 09:32] mmartinezDevelopair commented on #526
We have more doubts about the interpretation that the reqchecker makes. In those examples we have two boolean variables "Estado" and "Motor". "Estado" restricts "Motor" in some way and the diagrams represent two possible cases. We want to know which of them is the correct one.

1. "Globally, it is always the case that if "Estado==1" holds, then "!Motor" holds for at least "5" time units"

![Exampl

[2020-11-13 15:12] Langenfeld commented on #526
@mmartinezDevelopair in both cases it is the green version for the same reason. In each interval that is fulfilling ``Estado == 1``, there holds that threre is an inerval ``Motor`` for the next 5 resp. 2 time units.

To formulate what you are looking for, we need to implement the  After version of a UniversalDuration Pattern, for the second an after version of the BndDelayedResponsePatternUT.

[2020-11-16 09:07] alopez-developair commented on #526
For the first case at the top, I feel like we are trying to express something that would have the following DC counterformula:

[code]

The closest thing I can come up with is:
[code]

But as per [the hanfor docs](https://ultimate-pa.github.io/hanfor/references/patterns.html#bndresponsepatternut-after), this would translate to:

[code]

Which doesn't seem to be what we want as by my interpretation

[2020-11-16 09:33] Langenfeld opened #529 "Requirements pattern for "Once a Flank has been seen, (x holds for c | x holds after at most c for d)"
We need Patterns for formulating requirements like (see #526)

1. ``Globally, once  "Estado==1" holds, then "!Motor" holds for at least "5" time units``
2. ``Globally, once  "Estado==1" holds, then "!Motor" holds after at most "2" time units for at least "5" time units.``

with formlua like

[code]

[2020-11-16 14:18] henkele commented on #529
The following should work..

1. BndEdgeResponsePattern:
``Globally, it is always the case that once "Q" becomes satisfied, "R" holds for at least "t" time units.``
[code]

2. BndEdgeResponsePatternDelayed:
``Globally, it is always the case that once "Q" becomes satisfied,  "R" holds after at most "t1" time units for at least "t2" time units.``
[code]

[2020-11-16 16:40] danieldietsch commented on #489
@hauff Could you please confirm?

[2020-11-17 09:19] alopez-developair opened #530 "Non-intuitive vacuity reported for conflict (ReqCheck)"
The example is:

[code]

Result is that req1 is vacuous (as of Ultimate 0.1.25-d7dd348).

While it's clear that there is contradiction between these two requirements, it's hard to understand why req1 would be considered to be vacuous. I do have some vague intuition that it may have to do with something like req2 making it impossible to reach certain states within req1's PEA.

Thoughts? Is there a

[2020-11-17 09:57] danieldietsch commented on #530
It looks like both requirements should be vacuous, but I look into it.

[2020-11-17 10:00] #430 closed, assigned to danieldietsch, Langenfeld

[2020-11-17 10:00] danieldietsch commented on #430
Is done in principal -- pipeline for re-generating documentation is still required

[2020-11-17 10:02] danieldietsch opened #531 "Add pipeline that regenerates Hanfor docs"
We want to re-generate and redeploy the Hanfor documentation whenever it is required through a CI pipeline (see #430).

This should be triggered by a keyword in the commit message or manually by executing the corresponding pipeline in Jenkins.

@hauff Can you give a step-by-step instruction of what to do today to regenerate and redeploy the Hanfor docs?

[2020-11-17 12:01] #525 closed, assigned to danieldietsch

[2020-11-17 12:16] danieldietsch commented on #523
So, the remaining issue is that ex02 non-deterministically generates different counter examples.

[2020-11-17 12:23] danieldietsch commented on #530
Actual reason: Invariants cannot be vacuous, they only have one state.

[2020-11-17 12:24] danieldietsch commented on #530
Perhaps it is an example for #438

[2020-11-17 12:35] Langenfeld commented on #529
Ok, we did miss the pattern from the first comment in #526, and have to add that @henkele (my bad).

[2020-11-17 12:37] danieldietsch commented on #524
Needs value completeness (see #438), because system with ``never a`` is fine

[2020-11-17 12:42] danieldietsch opened #532 "prev function crashes"
Run ReqChecker with ``-ea`` on ``F:\repos\ultimate\trunk\examples\Requirements\prev_function_application.req``:
[code]

[2020-11-17 12:46] danieldietsch commented on #524
Older versions of this pattern required that the trigger part happens.
E.g., https://ultimate-pa.github.io/hanfor/references/publications/formalization-analysis-rtrequirements.pdf
![image.png](https://images.zenhubusercontent.com/5d19cb19a1dd920f5ca85f8a/f752830c-b93d-4699-abb9-a5d9f49902a2)

[2020-11-17 12:48] henkele commented on #529
@Langenfeld This one ?

``Globally, it is always the case that if "A" holds, then "B" will hold after at most "5" time units.``

[2020-11-17 12:50] Langenfeld commented on #529
Yes. But I think that this should be less of a problem after we have found the formulas for the other two.

[2020-11-17 12:51] danieldietsch opened #533 "rt-inconsistency between one requirement and invariants are not reported / reported in the wrong part"
see #465

Ex. 3 is still broken.
[code]

Gives rt-inconsistency between req1 and req2; yet the conflict should be between req1 and req3 or at least just one.

[2020-11-17 13:14] henkele commented on #529
3. EdgeResponsePatternDelayed:
``Globally, it is always the case that once "Q" becomes satisfied, "R" holds after at most "t" time units.``
[code]

[2020-11-17 14:14] alopez-developair commented on #529
Just wanted to chime in to say that, also, in #526 we had

[code]

rather than

[code]

(I mean BndResponsePatternTT rather than BndDelayedResponsePatternUT)

[2020-11-17 14:32] Langenfeld commented on #529
To clarify this, so we should ''Globally, it is always the case that if "Estado==1" holds for at least "5" time units, then "!Motor" holds afterwards for at least "2" time units'' @alopez-developair?

[2020-11-17 16:09] alopez-developair commented on #529
Yes. Something like
[code]

Perhaps modeled with:

[code]

We did realize that in this case in the precondition, it is no longer "at least" but rather "exactly". Could this be a problem implementation-wise?

[2020-11-18 13:43] #532 closed, assigned to hauff, Langenfeld, henkele

[2020-11-18 13:48] henkele opened #534 "ReqAnalyzer regression test issues"
Failing tests (18.11.2020)

- [ ] rtinconsistency_test5.req (see #500, #495)
- [ ] rtinconsistency_test36.req (see #493)
- [ ] rtinconsistency_test118.req

- [x] rtinconsistency_test2.req (timeout, fixed by 62386e1c2b885f279a9c37d1cf400b1e763cef54)
- [x] rtinconsistency_test34.req (timeout, fixed by 62386e1c2b885f279a9c37d1cf400b1e763cef54)
- [x] rtinconsistency_test112.req (timeout, fixed by 6238

[2020-11-19 09:44] #489 closed, assigned to danieldietsch, hauff, Langenfeld, henkele

[2020-11-19 09:44] henkele commented on #489
Works as expected.

[2020-11-19 10:13] henkele commented on #529
Yes, we can not implement exact time bounds because these formulae are then no longer in the counterexample fragment of duration calculus.

[2020-11-19 12:56] henkele opened #535 "Ambiguous meaning of bounded phase representation in ce-traces"
The phase ⌈P⌉ is defined by: ``⌈P⌉ ⟺ ∫ P = ℓ ∧ ℓ > 0``

The length of a bounded phase ``⌈P⌉ ∧ ℓ ~ t``  with ``~∊{<,>,≤,≥}`` can thus not be 0 by definition .

Currently we have two possible implementations of bounded phases.

1.  ```phase(P, ~, t)``` which exactly matches ``⌈P⌉ ∧ ℓ ~ t``

2. ```phaseE(P, ~, t)``` which additionally allows the phase to be empty, i.e. of length ``ℓ = 0``.
So this is

[2020-11-19 13:06] henkele commented on #494
according to the dc definition of a bounded phase it is not. @Langenfeld how are these bounds handled in the PEA construction?

[2020-11-19 13:55] #506 closed, assigned to danieldietsch, hauff, Langenfeld, henkele

[2020-11-19 14:17] henkele commented on #463
Should be solved by 6d31cd06afbc782544c2a13988275ddc91bd1fe6
I checked using the above requirement, yields no exception.

[2020-11-19 14:17] #463 closed, assigned to danieldietsch, hauff, Langenfeld

[2020-11-19 14:40] henkele commented on #535
I would suggest something like ⌈P⌉<sub>ε</sub> ∧ ℓ ~ t to express that the phase could also be an empty phase.
@danieldietsch @Langenfeld Any thoughts or suggestions?

[2020-11-19 16:10] alopez-developair opened #536 "Include invariants involved when reporting an rt-inconsistency"
For example, for the following set of requirements, an rt-inconsistency is reported between req1 and req2 (as expected).

[code]

When we only have three requirements like in this case, it is easy to spot that `req3` is involved in the conflict so that there wouldn't be an rt-inconsistency if that invariant was not there. However, on a larger set of requirements with more invariants, it leads to s

[2020-11-19 16:15] henkele commented on #494
No, switching from !Q to Q at ℓ = 5 is still fine.

I agree.

[2020-11-19 16:22] alopez-developair commented on #529
Right, I seemed to recall reading that exact time bounds were not possible. We'll have to reconsider this one.

[2020-11-23 08:06] #494 closed, assigned to danieldietsch, hauff, Langenfeld, henkele

[2020-11-23 09:00] henkele opened #537 "Wrong specification in ReqAnalyzer regression test rtinconsistency_test5"
- Jenkins: [history](https://monteverdi.informatik.uni-freiburg.de/ci/job/Ultimate%20Nightly/de.uni_freiburg.informatik.ultimate$de.uni_freiburg.informatik.ultimate.regressiontest/2665/testReport/de.uni_freiburg.informatik.ultimate.regressiontest.generic/ReqCheckerRegressionTestSuite/I_Requirements_regression_rtinconsistency_rtinconsistency_test5_req_S_Requirements_regression_ReqCheck_SmtInterpol_

[2020-11-23 09:23] #537 closed, assigned to danieldietsch, hauff, Langenfeld, henkele

[2020-11-23 09:25] henkele commented on #495
- Jenkins: [history](https://monteverdi.informatik.uni-freiburg.de/ci/job/Ultimate%20Nightly/de.uni_freiburg.informatik.ultimate$de.uni_freiburg.informatik.ultimate.regressiontest/2665/testReport/de.uni_freiburg.informatik.ultimate.regressiontest.generic/ReqCheckerRegressionTestSuite/I_Requirements_regression_rtinconsistency_rtinconsistency_test5_req_S_Requirements_regression_ReqCheck_SmtInterpol_

[2020-11-23 19:20] henkele opened #538 "Wrong specification in ReqAnalyzer regression test vacuity_test0.req"
- Jenkins: [history](https://monteverdi.informatik.uni-freiburg.de/ci/job/Ultimate%20Nightly/de.uni_freiburg.informatik.ultimate$de.uni_freiburg.informatik.ultimate.regressiontest/2665/testReport/de.uni_freiburg.informatik.ultimate.regressiontest.generic/ReqCheckerRegressionTestSuite/I_Requirements_regression_vacuity_vacuity_test0_req_S_Requirements_regression_ReqCheck_SmtInterpol_epf_T_Requiremen

[2020-11-24 08:42] henkele opened #539 "Wrong specification in ReqAnalyzer regression test vacuity_test26.req"
- Jenkins: [history](https://monteverdi.informatik.uni-freiburg.de/ci/view/all/job/Ultimate%20Nightly/de.uni_freiburg.informatik.ultimate$de.uni_freiburg.informatik.ultimate.regressiontest/2665/testReport/de.uni_freiburg.informatik.ultimate.regressiontest.generic/ReqCheckerRegressionTestSuite/I_Requirements_regression_vacuity_vacuity_test53_req_S_Requirements_regression_ReqCheck_SmtInterpol_epf_T_

[2020-11-24 12:25] danieldietsch commented on #536
There is no short-term solution for this issue. But we might improve the counterexamples s.t. it is easier to identify relevant invariants.

[2020-11-26 10:45] alopez-developair commented on #525
@danieldietsch I'm not sure if I should open a new issue for this since it's minor and related to this one, but we realized that now non-integer numbers in the intervals are represented as fractions rather than as decimals, such as `[0;197/2]`  instead of `[0;98.5]`; this makes the examples harder to read when this happens. It is a minor issue but I think we would much prefer to have the decimal r

[2020-11-26 10:50] danieldietsch opened #540 "Decimal representation in rt-inconsistency counterexamples"
@danieldietsch I'm not sure if I should open a new issue for this since it's minor and related to this one, but we realized that now non-integer numbers in the intervals are represented as fractions rather than as decimals, such as `[0;197/2]`  instead of `[0;98.5]`; this makes the examples harder to read when this happens. It is a minor issue but I think we would much prefer to have the decimal r

[2020-11-30 14:21] #27 closed

[2020-12-01 13:32] henkele commented on #539
Actual is correct relative to the definition as described in [https://ultimate-pa.github.io/hanfor/references/publications/vacuous-consistency.pdf](url).
I temporarily remove the test files from the regressiontests and open a new issue (#541) for discussion concerning the definition of vacuity.

[2020-12-01 13:32] #539 closed, assigned to danieldietsch, hauff, Langenfeld, henkele

[2020-12-01 13:33] henkele commented on #538
Actual is correct relative to the definition as described in [https://ultimate-pa.github.io/hanfor/references/publications/vacuous-consistency.pdf](url).
I temporarily remove the test files from the regressiontests and open a new issue (#541) for discussion concerning the definition of vacuity.

[2020-12-01 13:33] #538 closed, assigned to danieldietsch, hauff, Langenfeld, henkele

[2020-12-01 13:36] henkele opened #541 "Formal definition of vacuity does not cover "intuitive" definition of vacuity"

[2020-12-04 07:43] alopez-developair opened #542 "[ReqAnalyzer] Add "after at most" variants to some patterns."
We are seeing cases of real requirements where we would like to express behaviors that that seem to require new patterns that would look like the following:

- BndTriggeredEntryConditionPattern with "after at most".
	`Globally, it is always the case that after "S" holds for at least "T1" time units and "R" holds, then "Q" holds after at most ""T2" time units`
My guess:
[code]

- BndResponsePattern

[2020-12-04 09:34] alopez-developair opened #543 "[ReqAnalyzer] Possible regression, maybe related to prev"
I was about to report on a different issue (I'll link to it here when I do) related to times and the use of old values through `prev`, but I tried with a more recent version and I found that the program was no longer reporting rt-inconsistencies on the cases that I wanted to talk about.

So the versions would be 6d31cd06af (old) and 54a68f41ac378662c1ca5cb8cde960cec453a378 (matches v0.2.1 tag, new

[2020-12-04 12:19] alopez-developair opened #544 "[ReqAnalyzer] Odd-looking times in countertraces when using prev"
As mentioned in #543, this would apply to 6d31cd0, as more recent versions don't show these inconsistencies.

Example:

[code]

Result:

[code]

Without going too much into other specifics of the example, in this issue I want to address the following:

- Initial value for `count_1` is 0. Thus, via R14, `count_1 >= 10` will have to happen before time 10.
- During [0;17/2] (i.e. 0-8.5), `count_1 = 1

[2020-12-07 10:39] alopez-developair opened #545 "[ReqAnalyzer] Find the right way to model the transitions in a state machine"
State machines are very commonly described in software requirements. Thus far, we have been translating these by using an integer variable to represent each state, constraining the variable to only be able to have the acceptable state values, and then modelling the transitions using the BndResponsePatternUT pattern. We didn't think more of this approach until, by chance, we tried with a state mach

[2020-12-08 10:47] henkele opened #546 "Readability and consistency of pattern names"
We got some new patterns and pattern variations lately and their names got longer, less consistent, and less intuitive.

I think there is some room for improvement..

ToDo's:
- [x] list keywords currently used
- [x] define intended meaning
- [x] new keywords? meaning?
- [ ] priority order of keywords
- [ ] update names accordingly

[2020-12-08 11:02] henkele commented on #542
I implemented the following two patterns in a2b5588fde3feb43bc2b021a659c9925bb29fe42 and updated the documentation.
Right now, only scope type `globally` is supported. Let me know if you need the others right away, otherwise I will implement them after #546

BndTriggeredEntryConditionPatternDelayed:
`Globally, it is always the case that after "S" holds for at least "t1" time units and "R" holds, t

[2020-12-08 20:58] danieldietsch commented on #546
What do you mean by "keywords"?

Do you want to rename patterns (e.g., fix the famous "TogglePattern") or reword patterns?

I am all in favor of the first. For the second, we should try and do a study before dismissing the old study results.

[2020-12-09 09:23] henkele commented on #546
Yes it's the first one.
By "keywords" I mean e.g. Bnd, Triggered, Delayed,... and even the "keyletters" UT.

Ideally one should at least get an idea of what a pattern does when looking at its name.

[2020-12-10 11:23] mmartinezDevelopair commented on #529
We have done some tests with the new patterns and we wanted to give you some feedback about them:

### **- BndEdgeResponsePattern**

**- Example 1**

Input R IS bool
Output Q IS bool
R1: Globally, it is always the case that if "R" holds, then "!Q" holds after at most "1" time units for at least "3" time units.
R2: Globally, it is always the case that once "R" becomes satisfied, "Q" holds for at le

[2020-12-18 13:18] henkele commented on #529
- Example 1

  Both R1 and R2 consist of two ct-formulas. So basically we have requirements R1.1, R1.2, R2.1 and R2.2 involved in the rt-inconsistency check (using the order as given in the Hanfor documentation).
The first failure path shows an rt-inconsistency between R1.1 and R2.2, the second refers to the rt-inconsistency between R1.2 and R2.2. So if there is more than one ct-formula involved i

[2020-12-18 14:51] henkele commented on #535
I would prefer an subscript 0 along with the boundtype, like ⌈Q⌉∧ ℓ ≤₀  5, any objections @danieldietsch @Langenfeld ?

[2020-12-18 15:03] danieldietsch commented on #535
Do you propose to change the implementation or the representation in output and docs?

For the latter, yes, subscripts is nice.
For the former: What is the new name?

[2020-12-18 15:40] henkele commented on #535
Only the String representation, especially for the documentation, as right now one needs to have a look at the implementation to be a 100 percent sure

[2020-12-23 09:33] henkele commented on #535
fixed by 6c98aa044b4282b66b01e4e74b9589422c0abdad

[2020-12-23 09:33] #535 closed, assigned to danieldietsch, hauff, Langenfeld, henkele

[2021-01-04 11:59] henkele commented on #546
Currently we support the following 24 patterns:
- BndDelayedResponsePatternTU
- BndDelayedResponsePatternUT
- BndEdgeResponsePattern
- BndEdgeResponsePatternDelayed
- BndEntryConditionPattern
- BndExistencePattern
- BndInvariancePattern
- BndRecurrencePattern
- BndResponsePatternTT
- BndResponsePatternTU
- BndResponsePatternUT
- BndTriggeredEntryConditionPattern
- BndTriggeredEntryConditionPattern

[2021-01-07 12:13] henkele commented on #546
Some remarks on what we currently call "BndEntryConditionPattern":
`<Scope>, it is always the case that after "R" holds for at least "t" time units, then "Q" holds`

We also have a pattern called "BndResponsePatternTU"
`<Scope>, it is always the case that if "R" holds for at least "t" time units, then "Q" holds afterwards.`

In the specification language, they only differ in the words "after" resp

[2021-01-07 12:26] danieldietsch commented on #546
Then remove ``BndEntryConditionPattern``.

I agree with the rest.

[2021-01-07 12:55] henkele commented on #546
I would further suggest to rename the following patterns
 - "InstAbsPattern" to "AbsencePattern"
 - "InvariantPattern" to "InvariancePattern" (as we also have "BndInvariancePattern")

[2021-01-07 13:16] henkele commented on #546
Concerning a naming convention, is there any reason not to use a pattern like
`<Base Name> +  "Pattern" + <Keyword 1> + ... <Keyword n>` , where the keywords are arranged alphabetically.

So for example `BndDelayedResponsePatternUT` would then be `ResponsePatternBndUTDelayed`

It seems more intuitive to start describing a pattern by giving the underlying base pattern and then specifying it using t

[2021-01-07 13:20] henkele commented on #546
In summary, I would apply the following changes (if you confirm @danieldietsch @Langenfeld )
- [ ] Remove "BndEntryConditionPattern"
- [ ] Rename "EntryConditionPattern" to "ResponsePattern"
- [ ] Rename "InstAbsPattern" to "AbsencePattern"
- [ ] Rename "InvariantPattern" to "InvariancePattern"
- [ ] Adapt all pattern names to follow the naming convention

[2021-01-07 14:43] danieldietsch commented on #546
If we use short names in the naming convention, we should also rename ``Delayed`` -- or we rename all the others to long names. @Langenfeld, do you have a preference?
I would use shorter names, but have no strong feelings either way.

[2021-01-07 15:13] danieldietsch commented on #546
I did not see the earlier comment. Yes, makes sense.

[2021-01-13 10:04] henkele commented on #546
But I think you're right about the `Delayed` keyword, using it together with the `Bnd` keyword is not very consistent:
- The short version is rather cryptic: `ResponsePattern-BndUT-Dlyd`
- The long version is fine but long: `ResponsePattern-BoundedUT-Delayed`
- The compromise is `ResponsePattern-BoundUT-Delay` which I think is reasonable in terms of readability and length.

What do you think @Lang

[2021-01-13 10:27] danieldietsch commented on #546
Hyphens are usually not word boundaries, so I dislike them. Also, we cannot use them in Java because it violates the coding conventions. So, we should not use them 😉 .

``ResponsePattern-BoundedUT-Delayed``
vs
``ResponsePattern-BoundUT-Delay``

is not a large difference.

But we could drop "Pattern".
``ResponseBoundedUTDelayed``
is shorter than both. What do you think?

[2021-01-13 10:35] henkele commented on #546
Looks good, except for the UTD part, but I guess thats the lesser evil  ;)

[2021-01-18 09:09] danieldietsch opened #547 "rt-inconsistency not detected because future clock steps are not handled correctly"
For the requirements in [bug-524.req](https://github.com/ultimate-pa/ultimate/blob/dev/trunk/examples/Requirements/regression/bug-524.req) we report no errors.

One would expect that both requirements are rt-inconsistent, because ``a`` can never become satisfied.

Indeed, the PEAs for both requirements and the product show that whenever one enters state ``s2r3``, we cannot leave it anymore because

[2021-01-18 09:14] danieldietsch commented on #547
@henkele , you are also invited to the party ;)

[2021-01-19 13:52] jhoenicke commented on #547
Tatsächlich haben wir das im Paper irgendwo diskutiert.  Der Ansatz funktioniert nur, wenn alle Bounds in den Gegenbeispielpatterns strict sind, weil dann alle Invarianten im PEA nicht strikt sind.

Wahrscheinlich muss man req1 ändern in

`req1: Globally, it is always the case that once "a" becomes satisfied, it holds for at most "5" time units.`

also `~ (true; [a] /\ ell > 5; true)`

[2021-01-19 15:03] danieldietsch commented on #547
Du meinst das dann aus ``t_s < 5 `` ``t_s <= 5`` wird und dann alles funktioniert?

[2021-01-19 16:44] danieldietsch commented on #547
Ok, with Jochen's countertrace we get a different PEA we get the expected result.
Its basically the PEA for req1 but the selfloop on ``s_2`` has the additional guard ``t_s < 5``, and the invariant in ``s_2`` is ``t_s <=5 ``.
Then, we detect the deadlock.

It would still be nice if we could extend our approach s.t. we also support non-strict bounds in the countertraces, but if we cannot find a good

[2021-01-20 17:31] jhoenicke commented on #547
So the simplest approach is to change all >= or <= in counterexample traces to < or >.

Of course, this has a slightly different meaning.  If you really need the exact semantics, it would be possible to change the translation of strict(s_t < bound)  to s_t < bound -eps, where eps is a very small constant.  The problem is to find the right epsilon and show that this is the right one.  Probably it n

[2021-01-20 22:18] danieldietsch commented on #547
I try that and come back to you -- it would definitely be nice to have that option.

[2021-03-02 16:09] danieldietsch commented on #547
More elaborate proposal (notes from Jochen/DD meeting):
In Ndc(A_i,p_i),
1. strict(I(p')) = I(p')[c/c-eps] for all constants c
2. g -> h:=g[c/c-eps] for all constants c
3. In h, replace all x>=c by x>c and all x<c by x<=c

[2021-03-09 16:44] #455 closed, assigned to danieldietsch, Langenfeld

[2021-03-09 16:44] #540 closed, assigned to danieldietsch

[2021-03-30 11:24] danieldietsch opened #548 "New property: free world"
We want to ensure that inputs are not constrained by requirements.
We want to have separate environment assumptions.

If inputs are constrained by requirements, we want to report the constraint together with the responsible requirements to the user.

- [ ] Implement check for invariants / initial state
- [ ] Find way to check "free world" for all system evolutions
- [ ] Find good name for property

[2021-04-02 16:50] hernanponcedeleon opened #549 "Problem with validator from SVCOMP 2021"
Hi,

I'm using the version of UAutomizer from the archive2021 repo of SVCOMP and I'm getting and error when trying to validate a witness. I'm running the following cmd
[code]
which results in
[code]
Attached are the two used files (taks + witness) + the log from UAutomizer.
[Archive.zip](https://github.com/ultimate-pa/ultimate/files/6250510/Archive.zip)

Am I missing any option flag maybe?

[2021-04-02 19:24] danieldietsch commented on #549
@hernanponcedeleon there are multiple issues here.

* The NullPointerException comes from Ultimate not being able to execute `/Users/ponce/git/forks/archives-2021/2021/UAutomizer-linux/z3` -- I am unsure why this is, can you try and execute the binary manually?
* We currently do not support concurrency witnesses. Perhaps for SV-COMP 22.

[2021-04-03 11:34] hernanponcedeleon commented on #549
@danieldietsch: the problem with z3 is probably that this is the binary for the competition, i.e. Linux environment, and I'm trying to run this on MacOS. However a have z3 installed in my laptop. Is there any way to set the path to the solver (I could not find anything in the help)?

[2021-04-03 18:07] danieldietsch commented on #549
Yeah, it is somewhat awkward -- the easiest is probably just to rename the binary we supply, then it will automatically take the one from your PATH.

[2021-04-05 14:23] hernanponcedeleon commented on #549
That worked. From my side everything is ok. I did not close the issue based on the tags you added, but feel free to close it.

[2021-04-06 07:49] #549 closed, assigned to danieldietsch

[2021-04-16 07:58] danieldietsch opened #550 "AcceleratedInterpolation unsoundness ReachSafety-Loops"
Version c3a52b33e1

There are numerous unsound results from AcceleratedInterpolation:
https://struebli.informatik.uni-freiburg.de/logs/student-acceleration/20210416-091202-student-acceleration-259539aefe-M/results.2021-04-16_09-16-26.table.html#/table?filter=0(0*status*(category(in(wrong))))

The loop-zilu* examples produced accelerations with IcfgTransformation and had correct results (except one

[2021-04-16 08:01] danieldietsch opened #551 "Jordan acceleration unsound on loop-invariants/linear-inequality-inv-a.c"
Version c3a52b3

Jordan Acceleration with IcfgTransformation yields wrong result on `loop-invariants/linear-inequality-inv-a.c`, and IcfgTransformation transforms at least one loop.

The call was
`/usr/bin/java -Xmx8000000000 -Xss4m -jar ./plugins/org.eclipse.equinox.launcher_1.5.800.v20200727-1323.jar -data @noDefault -ultimatedata ./data -tc ../../../trunk/examples/toolchains/AutomizerCTransform

[2021-04-16 08:06] danieldietsch opened #552 "NPE in AbstractGeneralizedAffineTerm.div"
Version c3a52b3
File `nla-digbench-scaling/lcm2_valuebound2.c`
Severity:  occurs on 165 of 2310  (https://struebli.informatik.uni-freiburg.de/logs/student-acceleration/20210416-091202-student-acceleration-259539aefe-M/overview)

Stacktrace
[code]

Log:
https://struebli.informatik.uni-freiburg.de/logs/student-acceleration/20210416-091202-student-acceleration-259539aefe-M/student-acceleration.2021-0

[2021-04-16 08:12] danieldietsch opened #553 "SMTLIBException: Cannot name open terms"
Version c3a52b3
File `nla-digbench-scaling/freire2_valuebound1.c`
Severity: occurs on 42 of 2310 (https://struebli.informatik.uni-freiburg.de/logs/student-acceleration/20210416-091202-student-acceleration-259539aefe-M/overview)

Stacktrace
[code]

Log:
https://struebli.informatik.uni-freiburg.de/logs/student-acceleration/20210416-091202-student-acceleration-259539aefe-M/student-acceleration.2021-0

[2021-04-16 08:15] danieldietsch opened #554 "Support refinementstategies for accelerated interpolation"
I would like to be able to use refinement strategies (e.g., WOLF,CAMEL) in conjunction with accelerated interpolation.
I would also like AcceleratedInterpolation to detect situations in which it should accelerate already accelerated loops and deal with that by either caching accelerations or not accelerating.

[2021-04-16 11:15] danieldietsch opened #555 "NegativeArraySizeException in DualJunctionTir$ExplicitLhsPolynomialRelations.buildDualFiniteJunction"
Version c3a52b3
File `nla-digbench-scaling/hard-u_unwindbound5.c`
Severity: occurs on 11 of 2310 (https://struebli.informatik.uni-freiburg.de/logs/student-acceleration/20210416-091202-student-acceleration-259539aefe-M/overview)

Stacktrace
[code]
Log:
https://struebli.informatik.uni-freiburg.de/logs/student-acceleration/20210416-091202-student-acceleration-259539aefe-M/student-acceleration.2021-04

[2021-04-16 11:19] danieldietsch opened #556 "IllegalArgumentException: unknown symbol (const Int (Array Int Int))"
Version c3a52b3
File `loops/nec40.c`
Severity: occurs on 11 of 2310 (https://struebli.informatik.uni-freiburg.de/logs/student-acceleration/20210416-091202-student-acceleration-259539aefe-M/overview)

Stacktrace
[code]

Log:
https://struebli.informatik.uni-freiburg.de/logs/student-acceleration/20210416-091202-student-acceleration-259539aefe-M/student-acceleration.2021-04-15_22-53-33.logfiles/Automi

[2021-04-20 11:12] #529 closed, assigned to henkele

[2021-04-20 11:12] #526 closed, assigned to danieldietsch, Langenfeld

[2021-04-22 04:44] jjoojjoo123 opened #558 "Incorrect Büchi program while using LTLAutomizerCInline toolchain"
I've tried some C programs with LTL property using `LTLAutomizerC.xml` and `LTLAutomizerCInline.xml` with `jungvisualization` plugin. However, the resulting Büchi program is not correctly generated while using `LTLAutomizerCInline.xml` toolchain, i.e. with Boogie `procedureinliner` plugin. The never claim automaton states do not appear in any states of the resulting Büchi program, so the LTL prope

[2021-04-22 07:27] danieldietsch commented on #558
You are right, Ill look into it, but it might take some time because of deadlines ,)

Is this time-critical for you?

[2021-04-22 11:34] jjoojjoo123 commented on #558
Probably yes. We want to do something with concurrent C program and LTL simultaneously, which requires the correct Büchi program product. In addition, the product generator seems not to recognize the thread related edges of RCFG. Will this take a lot of work ? Thank you so much.

[2021-04-23 17:48] JonasWerner opened #561 "Inductivity Fails when using Accelerated Interpolation for programs with asserts in loops"
Version b4afca6
File `examples\programs\acceleratedInterpolation\assertionError\oneLoopAssertionError.bpl`

When checking this program with accelerated interpolation using either setting in
`examples\settings\automizer\acceleratedInterpolation`

We get an inductivity failed assertion error:

[code]

I assume these errors stem from the assert in the loop, as they are the only programs that are stil

[2021-05-01 15:38] #552 closed, assigned to Heizmann

[2021-05-01 15:55] Heizmann commented on #551
f420631da00b6d8dd6b3227ed5d9acc3978fc3cd fixed a soundness bug that lead to an incorrect loop acceleration on this example. Currently I cannot reproduce incorrect results here.

[2021-05-01 15:55] #551 closed, assigned to Heizmann

[2021-05-01 18:01] danieldietsch commented on #561
Seems to be fixed with 70eefee1ca0ce7eb07006a5daa9aa48cc3087cbc

@Jonas Can you confirm that ``examples\programs\acceleratedInterpolation\assertionError\oneLoopAssertionError.bpl`` is fixed and close the ticket?

[2021-05-01 18:03] danieldietsch commented on #550
70eefee1ca0ce7eb07006a5daa9aa48cc3087cbc fixed the loop-zilu* examples (see https://struebli.informatik.uni-freiburg.de/logs/index.php?dir=student-acceleration/20210501-092903-student-acceleration-1a84f7301f), but two examples still remain unsound:

https://struebli.informatik.uni-freiburg.de/logs/student-acceleration/20210501-092903-student-acceleration-1a84f7301f/results.2021-05-01_09-28-41.tabl

[2021-05-01 18:09] danieldietsch opened #563 "NPE in AbstractGeneralizedAffineTerm.div(AbstractGeneralizedAffineTerm.java:395)"
Version: 1a84f73
File [lcm2_valuebound10.c](https://struebli.informatik.uni-freiburg.de/trunk/examples/svcomp/nla-digbench-scaling/lcm2_valuebound10.c)
Log: [lcm2_valuebound10](https://struebli.informatik.uni-freiburg.de/logs/student-acceleration/20210501-092903-student-acceleration-1a84f7301f/student-acceleration.2021-04-30_22-35-57.logfiles/Automizer%20IcfgTranformation%20Jordan.lcm2_valuebound1

[2021-05-01 18:23] danieldietsch commented on #553
With ``-ea`` its actually
[code]
@Heizmann Can you have a look at this?

[2021-05-01 18:56] danieldietsch opened #564 "UnsupportedOperationException: Empty trace is not supported"
Settings settings/automizer/LoopAccelerationJordan.epf
Toolchain toolchains/AutomizerCInlineBlockencodedTransformed.xml

UnsupportedOperationException: Empty trace is not supported: de.uni_freiburg.informatik.ultimate.lib.modelcheckerutils.cfg.IcfgProgramExecution.lambda$0(IcfgProgramExecution.java:103)]

    svcomp/locks/test_locks_14-2.c
	svcomp/locks/test_locks_15-1.c
	svcomp/loop-simple/nested

[2021-05-01 19:43] danieldietsch commented on #564
Looks good now:
[code]

``loops-crafted-1/Mono5_1.c`` chokes in iteration 3 during quantifier elimination.

[2021-05-01 19:43] #564 closed, assigned to danieldietsch

[2021-05-01 20:45] Heizmann commented on #563
I cannot reproduce this.
I am using 54605efd74 without local changes, solvers provided by the Ultimate repository (with and wihout -ea).
Here, z3 does not terminate.
[log.txt](https://github.com/ultimate-pa/ultimate/files/6410274/log.txt)
Maybe fixed by https://github.com/ultimate-pa/ultimate/commit/ef9aadb27a4a01961104f6cd9a8586130083aafc an a duplicate of #552.

[2021-05-02 00:00] #553 closed, assigned to Heizmann, danieldietsch

[2021-05-03 08:32] danieldietsch commented on #563
Seems fixed, it does not occur on c225d54ecd  (see [overview](https://struebli.informatik.uni-freiburg.de/logs/student-acceleration/20210503-102627-student-acceleration-c225d54ecd/overview))

[2021-05-03 08:32] #563 closed, assigned to Heizmann

[2021-05-03 09:06] danieldietsch opened #565 "NPE in AbstractGeneralizedAffineTerm.toTerm"
Version c225d54
-tc ../../../trunk/examples/toolchains/AutomizerCTransformed.xml
-s ../../../trunk/examples/settings/automizer/LoopAccelerationJordanC.epf
-i ../../../trunk/examples/svcomp/nla-digbench-scaling/fermat1-ll_valuebound10.c

https://struebli.informatik.uni-freiburg.de/logs/student-acceleration/20210503-102627-student-acceleration-c225d54ecd/student-acceleration.2021-05-02_11-49-30.logf

[2021-05-04 00:06] #565 closed, assigned to Heizmann

[2021-05-04 00:42] Heizmann commented on #555
I cannot fix this problem soon.

[2021-05-05 19:56] Heizmann commented on #556
The problem is that we don't know how to backtranslate `((as const (Array Int Int)) 0)` from SMT to Boogie.

Here, this term occurs as a subterm of `(= (select |#memory_int| |~#x~0.base|) ((as const (Array Int Int)) 0))` in some invariant. The invariant should state that the memory segment at the pointer `|~#x~0.base|` is full of zeros.

[2021-05-05 20:00] danieldietsch commented on #556
I have an idea, but it will take me until after 15th to fix it.

[2021-05-10 12:05] Langenfeld commented on #558
The problem is, that the product generator ignores everything, that is of the ``ULTIMATE.start`` or ``.init`` functions. The inliner seems to set these functions for all the statements, that are inlined, thus they are ignored.

The good news is, that we fixed the several errors in the non-inlined ltl checking, so that might solve the problem, just try #566.

[2021-05-10 19:56] danieldietsch commented on #558
Adding support for multi-threaded programs is hard for numerous reasons. It wont be done quickly, but possibly this year.

[2021-05-26 11:30] Langenfeld commented on #546
why should this one be deleted? (also they are used afaik)

[2021-06-08 09:55] danieldietsch opened #567 "Timeouts are not respected in some scenarios"
In different situations, Ultimate does not respect timeouts.
* When a global or per-assertion timeout is set, trace check solvers should also be started with an appropriate timeout
* Refinement engine does not check timeouts during strategy execution
* Multi-assert timeouts seem to be buggy
* Some test cases do not respect timeouts (in particular ` Input:Requirements/regression/vacuity/vacuity_tes

[2021-06-08 21:58] Heizmann commented on #567
I added support for timeouts to the PolyPacSimplification  https://github.com/ultimate-pa/ultimate/commit/8aad492c62750135f07d8e711c3dd8ada32d89da

[2021-06-08 22:02] Heizmann commented on #567
The formula of https://github.com/ultimate-pa/ultimate/commit/eb3cadcabc632d055530954edd331d399b5f1469 has a very complex Boolean structure but rather few atoms. Maybe (maybe!) our SimplifyDda-based simplifications are not very helpful here and BDD-based simplifications would perform better.

[2021-06-17 07:23] danieldietsch commented on #567
It seems like we catched all these issues.

[2021-06-17 07:23] #567 closed, assigned to danieldietsch

[2021-06-24 09:28] danieldietsch opened #568 "UnsupportedOperationException: State has more than one call successor in ``NestedWordAutomatonReachableStates``"
### Basic Info
* Version: 0.2.1-dev-bb7cadb (bb7cadb)
* Settings: set ``--traceabstraction.compute.hoare.annotation.of.negated.interpolant.automaton,.abstraction.and.cfg=true``

### Description
Programs with non-deterministic calls like the following may trigger the exception below. We probably notice the bug now because we remove all ``assume true`` edges during Icfg construction, but it should b

[2021-06-24 09:54] danieldietsch commented on #403
The initial example does not trigger the error anymore using Ultimate 0.2.1-dev-be40b96 (be40b96).

[2021-06-24 09:54] #403 closed

[2021-06-25 22:37] Heizmann commented on #323
A good heuristic would be:
1. Store all FH automata.
2. Restart the CEGAR loop for each error location
3. Remove all dead program points
4. Reuse existing FH, but only these where each non-selfloop transition is labeled by a statement that was not removed in 3.

[2021-07-12 07:19] #323 closed

[2021-07-23 07:39] #129 closed

[2021-07-23 07:39] #478 closed, assigned to danieldietsch, Langenfeld

[2021-08-01 01:18] Heizmann opened #572 "Improvement: Noop Update in Unsat Core-Based Interpolation"
If an update `a[i]=v` in a trace is useless for proving infeasibility the corresponding SMT formula `(= a' (store a i v))` is in the unsatisfiable core because we need the information about the connection of `a'` and `a`.
This lead to interpolants of the form `Ǝ i. a[i]=v` that are usually useless and costly. We could avoid this by temporarily by changing the update to `a[i]=tmp /\ tmp = v` for an

[2021-08-02 13:42] danieldietsch opened #573 "Bug: SMTLIBException: Timeout exceeded"
SMTInterpol timeout is not converted to `TimeoutResult`. Instead, it is handled as an `ExceptionOrErrorResult`, thus canceling the whole verification.

Stacktrace
[code]

[2021-08-02 14:08] Heizmann commented on #573
This is not a timeout of Ultimate either. We might want to continue with another solver.
We probably need a mechanism that propagates this result down to the RefinementEngine that then has to decide how to continue.

[2021-08-18 15:03] #435 closed, assigned to nobody

[2021-08-18 16:15] #450 closed, assigned to Heizmann

[2021-08-18 18:32] maul-esel commented on #510
Problem was in the translation from C to Boogie. The version with 2 ternaries was translated as
[code]
After commit ccf5fd5 it is now correctly translated as
[code]
(exactly the same as the one-ternary version).

Since this should fix the bug, I'm closing the issue. Feel free to re-open if I am wrong :)

[2021-08-18 18:32] #510 closed, assigned to danieldietsch

[2021-08-18 18:33] maul-esel commented on #420
The failing assertion compares procedure names for reference equality. In this case, the two occurrences of `"main"` are not reference-equal.

[2021-08-19 09:10] maul-esel commented on #420
Should be fixed by d4cc249

[2021-08-19 09:10] #420 closed, assigned to Heizmann, danieldietsch

[2021-08-22 21:34] Heizmann commented on #510
But why is the outer ternary operator translated to an if-then-else statement and the inner ternary operator translated to an if-then-else operator? @maul-esel

[2021-08-23 06:58] maul-esel commented on #510
They are (would be) both translated to if-then-else statements (presumably because expression evaluation in C might have side-effects). However, the outer ternary is optimized away, because its condition is the constant `1`. Only the "then"-Branch (i.e., the inner ternary) remains.

The if-then-else operator you see is simply the conversion of a boolean expression to an integer.

[2021-08-23 13:10] Heizmann commented on #510
Thanks for the explanation. I just realized that my question was kind of "stupid". We usually cannot translate large C expression directly into Boogie expression because of side-effects. The ternary operator is a perfect example for this.

[2021-08-26 15:23] IridescentL opened #574 "UReqCheck usage problem"
Is there any way to only check the rt-consistency and get the corresponding time consumption with UReqCheck? That is to say, skip all other analysis procedure and keep only the rt-consistency check, and get its running time. Need your help! Thanks!

[2021-09-06 15:29] henkele commented on #546
As we got some new patterns within the last year, I came up with a new naming convention that works for the old and new patterns. The main problem was to find a way to precisely describe the bounds (which bound, what part is bound) without making the pattern names inconveniently long.

Every pattern starts with its pattern class name (e.g. Response, EdgeResponse, Invariance, Precedence,...) and ma

[2021-09-06 15:50] maul-esel commented on #410
@danieldietsch Fixed by fc023d8 and dea106e ?

[2021-09-06 15:53] maul-esel commented on #277
@danieldietsch The corresponding regression tests succeed (e.g. [here](https://monteverdi.informatik.uni-freiburg.de/ci/job/Ultimate%20Nightly/de.uni_freiburg.informatik.ultimate$de.uni_freiburg.informatik.ultimate.regressiontest/2946/testReport/de.uni_freiburg.informatik.ultimate.regressiontest.generic/RegressionTestSuite/I_programs_regression_c_bug_undeclared_function_symbol_c_S_programs_regress

[2021-09-07 09:08] danieldietsch commented on #277
Looks like it, thanks for checking!

[2021-09-07 09:08] #277 closed

[2021-09-07 09:09] danieldietsch commented on #410
@maul-esel Did you check the example?

[2021-09-07 09:49] maul-esel commented on #410
With Integer translation (`svcomp-DerefFreeMemtrack-64bit-Automizer_Default.epf`):

With Bitvector translation (`svcomp-DerefFreeMemtrack-64bit-Automizer_Bitvector.epf`):

The above example is part of the sv-benchmarks and was the original motivation for the mentioned commits.

[2021-09-07 13:51] #410 closed

[2021-09-10 17:02] maul-esel commented on #16
@danieldietsch I don't know with which settings and toolchain this originally occurred, but with the defaults at least I cannot reproduce it. Also, looking at the code, this seems to have been fixed a long time ago: https://github.com/ultimate-pa/ultimate/commit/6319cf7e0861fb1b37e81e91c9be86c4d97c696b#diff-07bae8ea3a9392176fbafe88ff654246c0d40d1511becaee6064fb88dd02d6bfR548-R556

[2021-09-12 16:42] #16 closed

[2021-09-15 08:55] Langenfeld commented on #546
Seems to be a good idea, but i am wondering if  each name contains redundant information i.e. ``Bound`` and additionally ``L2`` wich also signals a lower bound on the second observable.
Also the lowre more exotic patterns (i.e. at least the last four) do then skip numbers and letters for a special case.

[2021-09-23 06:17] linusboyle opened #575 "maven repository down"
Trying to build ultimate here. Two of the repositories are not accessible, namely `https://monteverdi.informatik.uni-freiburg.de/nexus/content/repositories/cdt-10.0/` and `https://monteverdi.informatik.uni-freiburg.de/nexus/content/repositories/eclipse-4.17`. Requesting any file such as `content.xml` etc. gives a 404.

[2021-09-23 07:25] danieldietsch commented on #575
There seems to be an issue upstream, I am investigating.

[2021-09-23 08:24] danieldietsch commented on #575
Upstream is working again, our cache has caught up as well.

[2021-09-23 08:24] #575 closed, assigned to danieldietsch

[2021-09-24 13:15] danieldietsch commented on #574
Hi @IridescentL,
I am unsure what you are trying to do. Do you want to disable vacuity and consistency checks?

If you just want to compare speeds, you might want to start without the wrapper script.

[2021-12-26 13:28] Heizmann opened #577 "Conceptual problem in DiffWrapperScript"
If the DiffWrapperScript see a term in which there is a quantified variable inside the `@diff` function (e.g., `(and (< |c_#StackHeapBarrier| |c_ULTIMATE.start_main_~#s~0#1.base|) (exists ((|v_#length_BEFORE_CALL_4| (Array Int Int))) (let ((.cse0 (@diff |v_#length_BEFORE_CALL_4| |c_#length|))) (and (<= 4 (select |v_#length_BEFORE_CALL_4| |c_ULTIMATE.start_main_~#s~0#1.base|)) (or (= |c_#length| |v

[2021-12-30 18:15] blizzard4591 opened #578 "Bug: UnsupportedOperationException: translation of (bvneg (_ BitVec 32) (_ BitVec 32)) not yet implemented"
### Basic Info
* Version: 0.2.2-hotfix-svcomp22-839c364
* Input file: Req1_Prop1_Batch41has_floats.c, see attached ZIP
* Settings: `./Ultimate.py --spec ../../custom-benchmarks/Floats/has_floats/reach.prp --file ../../custom-benchmarks/Floats/has_floats/Req1_Prop1_Batch41has_floats.c --full-output --architecture 32bit`
* Toolchain: The toolchain file (``.xml``, provided with the ``-tc`` argument):

[2021-12-31 02:57] Heizmann commented on #578
Thanks! I hope I can fix the problem this year.

[2021-12-31 17:08] danieldietsch commented on #577
Perhaps @jhoenicke has an idea for that.

[2022-01-01 11:23] jhoenicke commented on #577
The problem is that it wasn't designed for quantifiers.  There are several solutions:

1. If quantifiers are enabled, just add the axiom `(forall (a (Array..)) (b (Array ..)) (=> (= (select a (diff a b)) (select b (diff a b))) (= a b)))` and don't add any other axiom.
2. like 1. but add the instantiated axioms that don't involve variables (to help the solver a bit)
3. add `forall` quantifiers arou

[2022-01-01 13:27] Heizmann commented on #577
I don't understand solution 3. Do you suggest that we add two kinds of axioms?
One kind of axiom for formulas with quantified variables, the other kind of axiom for formulas without quantified variables?
The I don't see why this is simple. How do you know which variables are quantified? How do you determine the scope in which these variables occur? You would need some lookahead while processing a

[2022-01-03 10:19] jhoenicke commented on #577
The solution 3. would be to build the axiom, then check if it has free variables (Term.getFreeVariables()), and if that returns a non-empty array, add a forall quantifier around it.

[2022-01-04 16:14] Heizmann commented on #577
I don't understand your fix. Let's assume I call `DiffWrapperScript#convertApplicationTerm` on a term `(@diff t1 t2)` where `t1` has a free variable `x`. Now, what should this method do?

[2022-01-04 18:08] jhoenicke commented on #577
In `checkOrAddAxiom` before `assertTerm(axiom)` ([here](https://github.com/ultimate-pa/ultimate/blob/a47f07a273e0efe0b4dea8b762d12da81156456f/trunk/source/Library-SmtLibUtils/src/de/uni_freiburg/informatik/ultimate/lib/smtlibutils/arrays/DiffWrapperScript.java#L161)) insert something like:

[code]

[2022-01-09 13:27] Heizmann commented on #578
Sorry for the delay. I fixed the bug that the tool is crashing with an UnsupportedOperationException. So, for users that only need a yes/no verification result, the problem is gone.
I could however not fix the problem for users that also need an invariant. For our verification algorithm, we translate the C program into a Boogie program. We obtain an invariant for the Boogie program but it is curre

[2022-01-09 21:04] danieldietsch commented on #578
I would close this issue -- if invariants are necessary, please open a separate issue.

[2022-01-09 21:04] #578 closed, assigned to Heizmann

[2022-08-19 17:07] Heizmann commented on #448
I just rerun the *materialistic* benchmark set on 82f65192ab.

The comparison to benchmark results [above](https://github.com/ultimate-pa/ultimate/issues/448#issuecomment-603304771) hints that our Petri net unfolding became slower in the last two years. The size of the flow relation is however similar.

Algorithm 1: DifferencePairwiseOnDemand (generation of statistics commented)
Rumtime: 317s
Size

[2022-08-25 15:14] Heizmann commented on #448
I just rerun the *materialistic* benchmark set on https://github.com/ultimate-pa/ultimate/commit/b48bd9feeee0f1bfc84257002261e60595ee34c1

The Petri net unfolding became around 35% slower since https://github.com/ultimate-pa/ultimate/commit/82f65192ab58bd843b52489f1859a782c12bfc44

Algorithm 1: DifferencePairwiseOnDemand (generation of statistics commented)
Rumtime: 431s
Size: 137121
[CsvAutomataO

[2022-09-23 15:34] martin-neuhaeusser opened #596 "Bug / Question: Inconsistent verification results depending on blockencoding settings"
### Basic Info
The following example requires the [`boogie-steps` Branch](https://github.com/CertiKProject/ultimate/tree/boogie-steps). That branch combines the open PRs and enables handling of LTL attributes in Boogie (as used by the example).

I hope (!) the bug is not related to our changes or our handling of LTL steps. It is triggered by changing a single setting of the large block encoding wh

[2022-09-23 15:36] danieldietsch commented on #596
Quick answer: yes, it should be equivalence preserving.

[2022-09-23 15:39] martin-neuhaeusser commented on #596
Again, I can't say for sure that the bug is not related to our extensions. So please don't spend too much time on it!
I reported it only because from my understanding, it occurs relatively far away (after the product automaton construction is completed) from the LTL extensions that we introduced.

[2022-09-26 05:04] Heizmann commented on #596
I could reproduce this problem.
However, I find it very difficult to track the value of individual variables since there are a bunch of procedure calls.

Maybe the verification of such examples is speed up by utilizing our procedure inlining plugin. I am however not sure whether this inlining plugin will pass the LTL step attributes.
My plan is to implement that we can see values of variables in t

[2022-09-26 07:59] martin-neuhaeusser commented on #596
Obtaining counterexample that contain variable values (also in the presence of procedure calls) is actually more important to us than the potential bug in the block encoding. I just came across it and thought that I'd better report it so that it is not forgotten.

Could you clarify if variable values are generally not reported in counterexamples for programs with nested procedures?
Do we need to u

[2022-09-26 08:07] #574 closed, assigned to danieldietsch

[2022-09-26 08:18] danieldietsch commented on #596
@martin-neuhaeusser this reminds me: you wanted to open an issue / send us an example where we do not produce values in counterexamples.

[2022-09-26 09:20] martin-neuhaeusser opened #597 "Missing variable values in counter-examples"
### Basic Info
* Ultimate Automizer: Ultimate 0.2.2-boogie-steps-e0412b4-m
* An example `*.bpl` file, the toolchain and the configuration as well as a dump of `stdout` with the counter-example are here: [counterexample_values.zip](https://github.com/ultimate-pa/ultimate/files/9644849/counterexample_values.zip).

### To reproduce
[code]

### Description
In our configuration, counterexamples produce

[2022-09-26 09:21] martin-neuhaeusser commented on #596
@danieldietsch I just opened another issue #597 for the counter-example values. An example is attached there.

[2022-09-27 10:32] Heizmann commented on #597
I just commited a partial solution to dev that addresses this issue.
https://github.com/ultimate-pa/ultimate/commit/2b22b30520dc72b64cbd4f4d3ec4b4f64c493504
If the infinite execution is a *fixpoint* (state repeated infinitely often) we can now show that values of the stem (infinite execution is lasso shaped and consists of stem + loop).

[2022-09-27 13:32] Heizmann commented on #596
After https://github.com/ultimate-pa/ultimate/commit/2b22b30520dc72b64cbd4f4d3ec4b4f64c493504 the counterexample looks as follows.
[Counterexample.txt](https://github.com/ultimate-pa/ultimate/files/9656318/Counterexample.txt)
We can see the values of some variables, however for reasons that I don't understand we cannot see the value of `spender_s637`. I will have a look at that problem.

[2022-09-27 13:45] Heizmann commented on #596
* Reporting values is independent of procedures.
* It is just more difficult for me as a human to track values over several procedures. Therefore, I would like to see values in the output.
* In the past we could report values for finite counterexamples but not for infinite counterexamples. My commit allows us to see the values for a finite prefix of the infinite counterexample.

No. But the inlini

[2022-09-27 15:23] Heizmann commented on #596
It seems to me like the value of this variable is lost in the backtranslation of some of the toolchain's plugins.

[2022-09-28 08:28] martin-neuhaeusser commented on #597
@Heizmann Many thanks for the fix!
I ran a couple of examples and it produces variable value annotations also in our setting.
That's really very much appreciated!

For now, we don't have liveness properties in production, so having values for the finite prefix is all we really need at the moment.

[2022-09-28 08:28] #597 closed, assigned to nobody

[2022-09-28 10:54] martin-neuhaeusser opened #598 "Bug: Incorrect result when using LTLAutomizer with Boogie inlining"
### Basic Info
* Version: This is Ultimate 0.2.2-dev-2b22b30-m
The example files are [attached](https://github.com/ultimate-pa/ultimate/files/9664114/ltl_inlining_c.zip).

### Description
I was experimenting with inlining of our Boogie models, as Matthias hinted at a possible performance improvement. In my experiments LTLAutomizer incorrectly reports that the Boogie program models the LTL formula

[2022-09-28 12:22] martin-neuhaeusser commented on #596
As far as I can see, the reason for the incorrect violation is in line 433 of the counterexample:
[code]
The corresponding branch is (erroneously) taken, which leads to an exception being raised (in the Boogie model) in line L434-L435):
[code]
That directly leads to a violation of the LTL property, which asserts (among other details) that no exception is raised (i.e. that `revert ==0` holds).

So

[2022-09-28 13:12] maul-esel commented on #598
LTLAutomizer has troubles with inlining, because it ignores all steps within the procedures `ULTIMATE.init` and `ULTIMATE.start`. Inlining results in a program where all code is inlined into one of these procedures (see [here](https://github.com/ultimate-pa/ultimate/issues/508#issuecomment-696702028) and [here](https://github.com/ultimate-pa/ultimate/issues/558#issuecomment-836614994)).

We'd prob

[2022-09-28 16:14] Heizmann commented on #596
Ok, I spotted another problem:
If the following setting is set to true, the old code of the block encoding plugin does not only replace `x!=y` by `x<y || x>y`, the code also replaces all constant symbols by global variables. This replacement can however be unsound in the presence of axioms.
`/instance/de.uni_freiburg.informatik.ultimate.plugins.blockencoding/Rewrite\ not-equals=true`

Note 1: Alth

[2022-09-28 17:21] danieldietsch commented on #596
For 2: If I remember correctly, some (non)termination proofs profit from a rewrite even if we do not split the edge. If you want to add a check that prevents rewrites if no split is possible, I would make it an option.

[2022-09-28 22:20] Heizmann commented on #596
Interesting. I do not have an explanation for such a behavior. If a (non)termination proof benefits from a rewrite without a split this must be due to a bug in the block encoding or the termination analysis.

[2022-09-29 12:38] martin-neuhaeusser commented on #598
@maul-esel Thanks for the explanation! I changed our model construction to always call an entry procedure from within ULTIMATE.start and add that procedure to the exceptions for the Boogie inliner.

On most of the examples I experimented with today, inlining brings a significant performance improvement. An interesting observation is that on the inlined Boogie models, most (if not all) kinds of blo

[2022-09-29 17:00] Heizmann commented on #598
@martin-neuhaeusser
Yes, these benchmarks would be interesting. However, this is absolutely not urgent.

[2022-09-29 19:26] Heizmann commented on #596
@martin-neuhaeusser I was still trying to find out why we cannot see the values for `spender_s637` in the counterexample. It seems to me that we have a major bug in the backtranslation of the BuchiProgramProduct. Due to this bug the position of many program states (the values) in the output is wrong. Some program states occur too late and others are missing because their position is erroneously be

[2022-09-29 19:48] martin-neuhaeusser commented on #596
@Heizmann Did you use our `boogie-steps` branch of Ultimate? The Boogie files in my examples will most likely only make sense with the extensions for handling LTL steps.
Not that one of my PRs is actually causing the problems. So please don't spend too much time on the issue!

[2022-09-29 22:04] Heizmann commented on #596
@martin-neuhaeusser Yes, I did use the `boogie-steps` branch of Ultimate. Thanks for the hint.

[2022-09-30 11:04] martin-neuhaeusser opened #599 "Inconsistent results in Hoare triple checker"
### Basic Info
* Version: 0.2.2-boogie-steps-59e45e1-m
* The configuration and the input files are [hoare_triple_inconsistency.zip](https://github.com/ultimate-pa/ultimate/files/9683885/hoare_triple_inconsistency.zip).
* Not urgent for us. I am just reporting it so that the issue is not forgotten.

### Description
Running a verification on the command line utility (I presume the command line versi

[2022-09-30 11:29] martin-neuhaeusser opened #600 "Inlining introduces syntax that is rejected by the Boogie Preprocessor"
### Basic Info
* Version: Ultimate 0.2.2-boogie-steps-59e45e1-m  (the LTL extensions should be irrelevant - should be reproducible with `dev`)
* The example is attached: [inlining_syntax_error.zip](https://github.com/ultimate-pa/ultimate/files/9683879/inlining_syntax_error.zip).
* Not urgent, we stumbled across that issue only during debugging.
* That issue might be simple enough so that I can off

[2022-09-30 11:55] martin-neuhaeusser opened #601 "Büchi product construction complains about duplicate identifiers when using inlining"
### Basic Info
* Version: Ultimate 0.2.2-boogie-steps-59e45e1-m
* The example files are attached here: [duplicate_location_names.zip](https://github.com/ultimate-pa/ultimate/files/9683874/duplicate_location_names.zip)

* That issue arises quite often (but only on selected instances, i.e. not always)

### Description
The following command aborts with an exception that complains about duplicate iden

[2022-10-01 22:43] Heizmann commented on #596
@martin-neuhaeusser There was definitely a bug that did not only exist in your branch. The bug caused the wrongly positioned program states and is now fixed on the `dev` branch.

[2022-10-02 16:40] Heizmann commented on #596
Ok, I think I fixed the underlying problem in abfc54d. The commit message explains the problem.
Now, a run with the option `/instance/de.uni_freiburg.informatik.ultimate.plugins.blockencoding/Rewrite\ not-equals=true` also says that the LTL formula holds for the program.
The problem was that the constant `null` was sometimes replaced by an auxiliary variable. In the counterexample run, this variab

[2022-10-02 17:40] Heizmann commented on #599
Thanks. It seems to me that this is an issue that I am working no with @maul-esel. If this is the case the issue does not affect soundness, but it affects the performance and lets Automizer do unnecessarily many iterations.

[2022-10-03 15:23] Heizmann commented on #601
Ok, the problem is that the BuchiProgramProduct identifies (indirectly via the `DebugIndentfier`) program points with their line number in the original program. If the procedure inlining was used there are several program points that have the same line number.
If the result was written to a file, the inlined statements get new line numbers.

I can probably fix the bug this evening. I will not be a

[2022-10-05 11:33] Eevan-zq opened #602 "ReqChecker -java error"
With hanfor documentation:
![image](https://user-images.githubusercontent.com/99885690/194050187-bd45a14e-9dbd-4c89-a602-3ee3799a1b33.png)

I use the command "python run_complete_analysis.py -ar  xxx.req" in UReqcheck-linux, the ReqChecker didn't work:

![image](https://user-images.githubusercontent.com/99885690/194050865-1cb5cb46-120c-456a-82d4-3a9aee2974f2.png)

![image](https://user-images.gith

[2022-10-07 12:16] hauff commented on #602
Is discussed in [Hanfor issue 231](https://github.com/ultimate-pa/hanfor/issues/231).

[2022-10-07 12:16] #602 closed, assigned to nobody

[2022-10-07 12:30] hauff opened #603 "Support Java 16 (and higher)"
### Resources
- [Migrating From JDK 8 to Later JDK Releases](https://docs.oracle.com/en/java/javase/16/migrate/migrating-jdk-8-later-jdk-releases.html#GUID-7744EF96-5899-4FB2-B34E-86D49B2E89B6)
- [JEP 403: Strongly Encapsulate JDK Internals (Java 17)](https://openjdk.org/jeps/403)

[2022-10-10 00:46] #601 closed, assigned to Heizmann

[2022-11-07 15:37] ShlKan opened #605 "Install Ultimate on Mac"
I tried to configure the eclipse development environment on MAC, but the project failed to compile.
One problem is: Lexer cannot be resolved as a type in the following code.

private Unit reflectiveParse(final String fileName) throws IOException {
		final BoogieSymbolFactory symFactory = new BoogieSymbolFactory();
		final Lexer lexer = new Lexer(new FileInputStream(fileName));
		lexer.setSymbolFac

[2022-11-08 08:52] ShlKan commented on #605
I checked the pom.xml file and found lexer and parser files are generated automatically from the flex file. Do I need to install some tools for this?

[2022-11-08 09:57] maul-esel commented on #605
Hi! Did you follow the setup instructions in [our wiki](https://github.com/ultimate-pa/ultimate/wiki/Installation) and install the tools mentioned there? And if so, did you encounter problems with any of the steps?

[2022-11-08 10:23] ShlKan commented on #605
Hi, yes, I followed the wiki instructions. Now the only issue is some Lexer.java and Parser.java files cannot be generated successfully, which leads to the errors in 4 or 5 packages

[2022-11-08 12:46] maul-esel commented on #605
* Which projects are affected? I.e., which projects are missing the lexer and parser files?
* If you do a clean rebuild of one such project (and only that one), does Eclipse give you some useful console output that could point to the problem?

[2022-11-08 13:29] ShlKan commented on #605
For example, compiling the package: AutomataScriptParser, I got the following:

Buildfile: /ultimate/trunk/source/AutomataScriptParser/src/de/uni_freiburg/informatik/ultimate/plugins/source/automatascriptparser/build-parser.xml

BUILD FAILED
java.lang.UnsupportedOperationException: The Security Manager is deprecated and will be removed in a future release
	at java.base/java.lang.System.setSecurity

[2022-11-08 13:33] maul-esel commented on #605
It's hard to debug these things remotely. But from that message, the Java version could be an issue? We currently only support building Ultimate on JDK 11 to JDK 14; newer versions change some of the security concepts in Java.

[2022-11-08 20:13] ShlKan commented on #605
Thanks a lot. I found another issue with the Mac platform. When a variable is defined with "var", the eclipse reported an error and asked to change to Java 10 for compilation.

[2022-11-08 21:04] maul-esel commented on #605
I doubt this is Mac-related. It sounds like Eclipse is targeting some older Java version. You can try the following:

* Right-click on some project in the package explorer
* Go to `Properties > Java Compiler > Configure Workspace Settings`
* Make sure `Compiler Compliance Level` is set to 11.

[2022-11-09 09:19] ShlKan commented on #605
Thanks, could you please send me the link of jdk 11 that you downloaded to make sure I use the same package with you.

[2022-11-09 09:26] maul-esel commented on #605
I just installed `openjdk-11-jdk` via my (Ubuntu) package manager.

[2022-11-09 09:27] ShlKan commented on #605
Ah. OK, I use oracle jdk. is it different from openjdk?

[2022-11-09 10:31] ShlKan commented on #605
Moreover, I found the file MANIFEST.MF in ACSLParser, it has one line:
....
Bundle-RequiredExecutionEnvironment: JavaSE-1.8
....

So my eclispe loads javaSE-1.8 instead of JAVASE-1.1. I don't know why two packages use two different jre library

[2022-11-09 14:05] maul-esel commented on #605
In general, I don't think it *should* make a difference. But who knows... Specifically, the error about the `var` keyword is quite certainly unrelated.

[2022-11-09 20:55] ShlKan commented on #605
Thanks a lot.
I managed to fix this issue.

But I encountered other problems.
In some projects, in the file MANIFEST.MF

(1) when it has: "Import-Package: com.sun.xml.bind.v2;version="2.2.0"" , an error is reported: No available bundle exports package 'com.sun.xml.bind.v2'

(2) when it has: "Require-Bundle: de.uni_freiburg.informatik.ultimate.lib.core,
 org.jdom",  an error is reported : Bundle 'o

[2022-11-10 14:28] ShlKan commented on #605
I fixed all the compilation errors.

Still one problem when I try to run Automizer.

The error is the following:

java.lang.NullPointerException
	at de.uni_freiburg.informatik.ultimate.core.coreplugin.PluginFactory.loadControllerPlugin(PluginFactory.java:290)
	at de.uni_freiburg.informatik.ultimate.core.coreplugin.PluginFactory.loadControllerPlugin(PluginFactory.java:251)
	at de.uni_freiburg.infor

[2022-11-10 15:39] maul-esel commented on #605
Can you give us some information to reproduce this? How did you run Automizer, on which input, etc. ?

[2022-11-11 06:39] ShlKan commented on #605
I cannot start the developer GUI in Eclipse. I opened Debug-E4.product, clicked "Synchronize", and then "launched an Eclipse application", then the errors jumped out.

I have configured the path in the run configuration.

I copied the full error message below:

java.lang.NullPointerException
	at de.uni_freiburg.informatik.ultimate.core.coreplugin.PluginFactory.loadControllerPlugin(PluginFactory.ja

[2022-11-11 06:49] ShlKan commented on #605
I solve the application problem. Everything works well now. Thanks a lot for your help.

I give a hint here. When trying to start the eclipse graphic UI in macOS, the plug-in: org.eclipse.swt.cocoa.macosx.x86_64 should be selected.

[2022-11-11 14:51] ShlKan commented on #605
@maul-esel
One request. Now the eclipse graphic UI version works very well. I try to install a command line version. I built the project by using "makeFresh.sh". The build is successful, but it seems makeFresh.sh is only written for linux instead of Mac. So I got the following message at the end of the building:

Using Taipan (taipan) as toolname
Building .zip for linux...
Version is 7ea82506
No t

[2022-11-11 15:18] maul-esel commented on #605
Great to hear that you got it to build :tada:

Regarding `makeFresh.sh`: I'm not very familiar with this script, so the following is somewhat based on guesses.

* You can try replacing `readlink -fe` in `makeZip.sh` by only `readlink -f`, if the relevant files all exist it should (?) not make a difference.
* @Heizmann has been trying to make the Mac build work, maybe he can help more here. As I se

[2022-11-23 11:50] ShlKan commented on #605
Thanks, I tried to modify the these files and rebuild a mac version. But still got the following error. Please help to have a look when you are available:

`[INFO] --- tycho-p2-repository-plugin:1.7.0:assemble-repository (default-assemble-repository) @ UltimateRepository ---
[INFO] {osgi.os=macosx, osgi.ws=cocoa, org.eclipse.update.install.features=true, osgi.arch=x86_64}
[ERROR] Cannot resolve pr